<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangolib.markup import HTML
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%
from cms.djangoapps.microsite_manager.mongo_model import staticFiles
from cms.djangoapps.microsite_manager.models import Microsite
_key = static.get_value('domain_prefix')
_microsite_id = Microsite.objects.get(key=_key).id
_collection = 'about'
_values = {
  "microsite_id":_microsite_id
}
_template = staticFiles().return_template(_values,_collection).get('template')
if _template is None:
  _template = "<p>About</p>"
%>
<head>
    <!-- modif quentin - 15528 - ajout de font pour la page about -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<%block name="pagetitle">${_("About")}</%block>
<style>
  main { 
  background-color: #fff;
  }
  /* modif quentin - 15528 - ajout de font pour la page about */
  p, b, a, h1, section{
    font-family: 'Quicksand', sans-serif !important;
    line-height: 1.2rem;
  }
  a:hover{
    color: inherit !important;
  }
h1{
  font-size: 42px;
}
h2{
  font-size: 30px;
}
  h2,h1 {

    font-weight: bold;
    color: black;
    text-align: center;
  }
</style>
<main id="main" aria-label="Content" tabindex="-1">
  <section class="static-container about" style="width: 70%">
    <h1>A propos</h1>
    <p style="text-align: center;"><img src="/media/microsite/academie-digitale/images/about_image.png" alt="BlocMarque Parcours createur" /></p>
    <h2>Les formations digitales accompagnées des Chambres de Métiers et de l’Artisanat</h2>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><b>Votre formation « clé en main », accessible, rapide et efficace avec les Chambres de Métiers et de l’Artisanat !</b></p>
    <p>&nbsp;</p>
    <p>Dans la cadre de la formation continue des professionnels de la TPE, le réseau des CMA vous propose des formations à distance, qui comprennent toujours :</p>
    <p>•	Des ressources en ligne</p>
    <p>•	Une assistance en cas de difficulté technique, par mail</p>
    <p>•	Un tuteur du réseau des CMA, expert de la thématique, qui soutient votre motivation et répond par mail à vos interrogations sur le contenu et la mise en application des formations.</p>
    <p>•	Répondre à vos obligations réglementaires…</p>
    <p>&nbsp;</p>
    <p>Ces formations opérationnelles et flexibles vont vous permettre de :</p>
    <p>•	Acquérir les compétences indispensables sur les thématiques choisies</p>
    <p>•	Optimiser et rentabiliser votre activité professionnelle</p>
    <p>•	Vous perfectionner sur un sujet</p>
    <p>- Une prise en charge financière possible de la formation ou du parcours</p>
    <p>&nbsp;</p>
    <p>Les + de ces offres de formation mixtes :</p>
    <p>•	Une formation sur mesure : modulaire, flexible, adaptée au rythme et à vos besoins, techniquement simple (une connexion web suffit !)</p>
    <p>•	Une expertise thématique et un suivi personnalisé avec des intervenants experts dans leur domaine</p>
    <p>•	un parcours sécurisé </p>
    <p>•	Une prise en charge financière possible de la formation ou du parcours</p>
    <p>&nbsp;</p>
    <p><b>Pour plus d’informations,</b> rendez-vous sur &nbsp;</p> <a href=" https://www.e-formation.artisanat.fr"> https://www.e-formation.artisanat.fr</a>
    <p>&nbsp;</p>
    <p>Pour vous orienter sur les différentes formations, remplissez notre formulaire de contact, ou contactez un conseiller près de chez vous :<a href=" https://www.artisanat.fr/reseau-des-cma/un-reseau-de-proximite/annuaire-des-cma"> https://www.artisanat.fr/reseau-des-cma/un-reseau-de-proximite/annuaire-des-cma</a></p>
    <p>&nbsp;</p>
    <p style="text-align: center;"><img src="/media/microsite/e-formation-artisanat/assets/000001.png" alt="Image" /></p>
    <p>&nbsp;</p>
  </section>
</main>
