<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangolib.markup import HTML
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%
from cms.djangoapps.microsite_manager.mongo_model import staticFiles
from cms.djangoapps.microsite_manager.models import Microsite
_key = static.get_value('domain_prefix')
_microsite_id = Microsite.objects.get(key=_key).id
_collection = 'about'
_values = {
  "microsite_id":_microsite_id
}
_template = staticFiles().return_template(_values,_collection).get('template')
if _template is None:
  _template = "<p>About</p>"
%>

<%block name="pagetitle">${_("About")}</%block>
<style>
main {
 background-color: #fff;
}
</style>
<main id="main" aria-label="Content" tabindex="-1">
<!--
    <section class="container about">
        <h1>${_("About")}</h1>
        <p>${_("This page left intentionally blank. Feel free to add your own content.")}</p>
    </section>
-->
<section class="static-container about">

<p><strong>A PROPOS DE CE COURS</strong></p><br><br>
  <p>La plasturgie fait aujourd’hui face à un immense défi : celui de relever le challenge de l’économie circulaire et de trouver sa place dans une économie davantage respectueuse de l’environnement. Si le « Plastic Bashing » est de mise à l’heure actuelle, ce MOOC a pour vocation de prendre en compte aussi bien les atouts des plastiques (car il y en a…) que les contraintes dans cette transition vers une économie circulaire.<p><br>

  <p>Ce MOOC a donc pour vocation de sensibiliser les acteurs actuels et futurs de l’univers de la plasturgie aux enjeux du déploiement de l’économie circulaire pour les entreprises de la branche professionnelle.</p><br>

  <p>Il s’adresse à tous les publics ayant un intérêt pour l’univers de la plasturgie : salariés d’une entreprise de plasturgie, candidats aux CQP Plasturgie, étudiants, demandeurs d’emploi, enseignants, etc.</p><br><br>

  <p><strong> PRE-REQUIS</strong></p><br><br>


  <p>Aucun pré-requis n’est nécessaire pour s’engager dans ce MOOC. Une connaissance de l’univers professionnel de la plasturgie peut être un plus.</p> <br><br>


  <p><strong>STAFF</strong></p><br><br>

  <p>Le contenu pédagogique de ce MOOC de sensibilisation à l’économie circulaire en plasturgie a été conçu par la branche professionnelle, qui regroupe les organisations syndicales de salariés et d’employeurs de la plasturgie, en partenariat avec la Start-Up Phénix, spécialisée dans la lutte contre le gaspillage alimentaire et la transition vers l’économie circulaire. Cette combinaison des expertises a pour vocation de rendre le contenu pédagogique de ce MOOC aussi pertinent et objectif que possible.</p><br>

  <p>Réalisé par The MOOC Agency, spécialiste de la transformation digitale des formations, ce MOOC a été réalisé avec le soutien de l’Etat (DGEFP) dans le cadre d’un EDEC Plasturgie, avec l’appui technique de l’OPCO 2i. </p>
</section>

</main>
