<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Partners</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about" style="width: 70%; background-color: white;">
        <style>
            <!--
             /* Font Definitions */
             @font-face
                {font-family:"Cambria Math";
                panose-1:2 4 5 3 5 4 6 3 2 4;}
            @font-face
                {font-family:Calibri;
                panose-1:2 15 5 2 2 2 4 3 2 4;}
            @font-face
                {font-family:"Open Sans";
                panose-1:2 11 6 6 3 5 4 2 2 4;}
             /* Style Definitions */
             p.MsoNormal, li.MsoNormal, div.MsoNormal
                {margin-top:0in;
                margin-right:0in;
                margin-bottom:8.0pt;
                margin-left:0in;
                line-height:107%;
                font-size:11.0pt;
                font-family:"Calibri",sans-serif;}
            .MsoChpDefault
                {font-family:"Calibri",sans-serif;}
            .MsoPapDefault
                {margin-bottom:8.0pt;
                line-height:107%;}
            @page WordSection1
                {size:595.3pt 841.9pt;
                margin:70.85pt 70.85pt 70.85pt 70.85pt;}
            div.WordSection1
                {page:WordSection1;}
            -->
            </style>
            
            <div class=WordSection1>
            
            <p class=MsoNormal align=center style='margin-top:0in;margin-right:0in;
            margin-bottom:7.5pt;margin-left:.5in;text-align:center;line-height:normal;
            background:white'><b><span lang=FR style='font-size:14.0pt;font-family:"Open Sans",sans-serif;
            color:#00BFBF'>Partners</span></b></p>
            
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:7.5pt;
            margin-left:.5in;line-height:normal;background:white'><b><span lang=FR
            style='font-size:12.0pt;font-family:"Open Sans",sans-serif;color:#FF7400'>&nbsp;</span></b></p>
            
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:7.5pt;
            margin-left:.5in;line-height:normal;background:white'><b><span lang=FR
            style='font-size:12.0pt;font-family:"Open Sans",sans-serif;color:#FF7400'>Lead
            organization: ADEME</span></b></p>
            
            <p class=MsoNormal style='margin-top:15.0pt;margin-right:0in;margin-bottom:
            7.5pt;margin-left:.5in;line-height:normal;background:white'><span lang=FR
            style='font-size:12.0pt;font-family:"Open Sans",sans-serif;color:#333333'><img width=120 height="100%" id="Image 3" src="/media/microsite/ademe/auto/images/logo.png"></span></p>
            
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
            margin-left:.5in;line-height:normal;background:white'><span lang=FR
            style='font-size:12.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Here
            at ADEME - The French Agency for Ecological Transition - we are firmly
            committed to fighting global warming and the depletion of our natural
            resources. On all fronts, we mobilise citizens, economic actors and territories
            towards a fairer, more harmonious, low carbon and resource-efficient society.
            Whatever the field - energy, circular economy, food, mobility, air quality,
            adaptation to climate change, soils, etc. - we advise, facilitate and help
            finance many projects, from research to solutions sharing. At every level, our
            expertise and forecasting capacities serve to guide and inform public policies.
            ADEME is a public agency under the joint authority of the Ministry for an
            Ecological Transition and the Ministry for Higher Education, Research and
            Innovation. <a href="https://www.ademe.fr" target="_blank">www.ademe.fr</a></span></p>
            
            <p class=MsoNormal style='margin-top:15.0pt;margin-right:0in;margin-bottom:
            7.5pt;margin-left:.5in;line-height:normal;background:white'><b><span lang=FR
            style='font-size:12.0pt;font-family:"Open Sans",sans-serif;color:#FF7400'>Partner:
            LETCHI Network</span></b></p>
            
            <p class=MsoNormal style='margin-top:15.0pt;margin-right:0in;margin-bottom:
            7.5pt;margin-left:.5in;line-height:normal;background:white'><span lang=FR
            style='font-size:12.0pt;font-family:"Open Sans",sans-serif;color:#333333'><img
            width=200 height=90 id="Image 2" src="/media/microsite/ademe/assets/logo_leetchi.png"></span></p>
            
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
            margin-left:.5in;line-height:normal;background:white'><span lang=FR
            style='font-size:12.0pt;font-family:"Open Sans",sans-serif;color:#333333'>The
            Low Energy in Tropical Climate for Housing Innovation (LETCHI) platform serves
            as a network of architects and building energy professionals in tropical zones,
            dedicated to the promotion of the bioclimatic design of buildings (mostly
            residential), by providing case studies and other resources from countries
            represented in the network. Experts of this network have been actively involved
            in the MOOC as developers and trainers. <a href="https://www.tropicalbuildings.org" target="_blank">www.tropicalbuildings.org</a></span></p>
            
            <p class=MsoNormal style='margin-top:15.0pt;margin-right:0in;margin-bottom:
            7.5pt;margin-left:.5in;line-height:normal;background:white'><b><span lang=FR
            style='font-size:12.0pt;font-family:"Open Sans",sans-serif;color:#FF7400'>Partner:
            PEEB</span></b></p>
            
            <p class=MsoNormal style='margin-top:15.0pt;margin-right:0in;margin-bottom:
            7.5pt;margin-left:.5in;line-height:normal;background:white'><span lang=FR
            style='font-size:12.0pt;font-family:"Open Sans",sans-serif;color:#333333'><img
            width=200 height=121 id="Image 1" src="/media/microsite/ademe/assets/logo_peeb.jpg"></span></p>
            
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
            margin-left:.5in;line-height:normal;background:white'><span lang=FR
            style='font-size:12.0pt;font-family:"Open Sans",sans-serif;color:#333333'>PEEB
            combines financing for energy efficiency in large-scale projects with technical
            assistance through policy advice to governments and expertise for building
            sector professionals. PEEB was initiated by the governments of France and
            Germany and is implemented by Agence Française de Développement (AFD), Deutsche
            Gesellschaft für Internationale Zusammenarbeit (GIZ GmbH) and the French Agency
            for Ecological Transition (ADEME). The Programme for Energy Efficiency in
            Buildings (PEEB) is currently funded by the German Federal Ministry for the
            Environment, Nature Conservation and Nuclear Safety (BMU), the French Ministry
            for an Ecological Transition (MTE), the Agence Française de Developpement (AFD)
            and the French Facility for Global Environment (FFEM). PEEB is catalysed by the
            Global Alliance for Buildings and Construction (GABC). <a href="https://www.peeb.build" target="_blank">www.peeb.build</a></span></p>
            
            <p class=MsoNormal><span lang=FR>&nbsp;</span></p>
            
            </div>
    </section>
</main>
