<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact")}</h1>
        <p>Merci de votre intérêt pour les SPOCs de elanova education !<br/><br/>Nous sommes à votre dispostion pour répondre à vos questions concernant les inscriptions, les paiements et le fonctionnement de la plateforme.<br/><br/>
<br/>Vous pouvez contacter elanova education via le mail ci dessous :<br/>
<br/>
<a href="mailto:formation.continue@elanova.fr">formation.continue@elanova.fr</a>
</p>
    </section>
</main>

