<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangolib.markup import HTML
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%
from cms.djangoapps.microsite_manager.mongo_model import staticFiles
from cms.djangoapps.microsite_manager.models import Microsite
_key = static.get_value('domain_prefix')
_microsite_id = Microsite.objects.get(key=_key).id
_collection = 'faq'
_values = {
  "microsite_id":_microsite_id
}
_template = staticFiles().return_template(_values,_collection).get('template')
if _template is None:
  _template = "<p>Faq</p>"
%>
<%block name="pagetitle">${_("FAQ")}</%block>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/media/microsite/mooc-conservation/extra/css/index.css">
<link rel="stylesheet" href="/media/microsite/mooc-conservation/extra/css/navigation.css">
<link rel="stylesheet" href="/media/microsite/mooc-conservation/extra/css/footer_static_files.css">
<style>
  main { 
   background-color: #fff;
  }
  .header {
    background-image: url("/media/microsite/mooc-conservation/extra/images/banner_faq.jpg");
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  justify-content: center;
  align-items: flex-end;
  }
  .header_navigation {
    font-weight: 700;
    color: #fff;
  }
  
  .static-container-text-title{
    font-weight: bold;
    color:  rgba(28, 114, 138, 1);
    cursor: pointer;
  };

  .static-container-text{
  line-height: 1.2em;
  padding: 0 5%;
}

.static-container{
  line-height: 1.2em;
}
  .note{
    font-weight: bold;
  }
  .hidden{
display : none;
}
.selected_item{
  text-decoration: underline;
}
  /*LANGUAGE FLAGS*/
  .language-selector {
  display: none;
  }

  #en{
    display: none;
  }
  #fr{
    display: none;
  }

  #lang-content img{
  cursor : pointer;
  align-self:center;
  }
  #lang-content{
    align-self:center;
  }

  .navigation_list_element .nav_list > a{
    color: rgba(28,114,138,1)!important;
  }
  .navigation_list_element .nav_list > a:active, .navigation_list_element .nav_list > a:visited, .navigation_list_element .nav_list > a:link{
    color: rgba(28,114,138,1)!important;
  }

  #global-navigation{
    display: none !important;
  }

  ol.user {
    visibility: hidden;
}
  </style>

<header class="page_header">
  <!-- burger menu -->
  <div id="menuToggle">
    <!-- <h1>burger</h1> -->
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu_burger">
      <a  class="nav_list_buttons" href="/tos?lang=fr"><li id="burger-text-partner" class=" navigation_list_element nav_button register_button">MOOC Partenaires</li></a>
      <a id="burger-text-certificat" class="nav_list_buttons" href="/about"><li  class=" navigation_list_element nav_button login_button" >Certificat</li></a>
      <a  class="nav_list_buttons" href="/faq?lang=fr"><li id="burger-text-faq" class="  navigation_list_element nav_button register_button">F.A.Q</li></a>
      <a  href="/register"><li id="burger-text-register" class="navigation_list_element nav_button login_button">Créer un compte</li></a>
      <a  href="/login"><li id="burger-text-login" class="navigation_list_element nav_button register_button">Se connecter</li></a>
    </ul>
  </div>

<!-- burger menu -->

<div class="page_header_logo"> 
  <a href="/"><img id="site_logo" class="page_header_logo_item" src="/media/microsite/mooc-conservation/extra/images/site_logo.png" alt="site logo"></a>
  <a href="https://moocs-afrique.epfl.ch/"  ><img class="page_header_logo_item afrique" src="/media/microsite/mooc-conservation/extra/images/epfl.png" alt="MOOC Afrique logo"></a>
  <a href="http://www.usenghor-francophonie.org/"  ><img class="page_header_logo_item senghor" src="/media/microsite/mooc-conservation/extra/images/senghor_logo.png" alt="Senghor university logo"></a>
</div>

<div class="page_header_logo_mobile"> 
  <a href="/"><img id="site_logo" class="page_header_logo_item" src="/media/microsite/mooc-conservation/extra/images/site_logo.png" alt="site logo"></a>
  <div class="page_header_logo_mobile_bottom">
    <a href="https://moocs-afrique.epfl.ch/"  ><img class="page_header_logo_item afrique" src="/media/microsite/mooc-conservation/extra/images/epfl.png" alt="MOOC Afrique logo"></a>
    <a href="http://www.usenghor-francophonie.org/"  ><img class="page_header_logo_item senghor" src="/media/microsite/mooc-conservation/extra/images/senghor_logo.png" alt="Senghor university logo"></a>
  </div>
</div>

    <!-- language selector -->
    <% languages = static.get_released_languages() %>
    <div id="lang-content" class="page_header_flag">
        <img src="/media/microsite/mooc-conservation/extra/images/french_flag.png" class="fr page_header_flag_item">
        <img id="english_flag" src="/media/microsite/mooc-conservation/extra/images/english_flag.png" class="en page_header_flag_item">
        <select class="input select language-selector" id="settings-language-value" name="language" size="3" >
        % for language in languages:
          % if language[0] =="en" or language[0] =="fr" or language[0] =="ja-jp":
            % if language[0] == LANGUAGE_CODE:
              <option value="${language[0]}" selected="selected">${language[0]}</option>
            % else:
              <option value="${language[0]}">${language[0]}</option>
            % endif
          % endif
        % endfor
        </select> 
    </div>

    <ol class="user">
      <li class="primary">
        <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
          <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
          % if user.is_authenticated():
          <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
          % else:
          <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
          % endif
          <label><span class="sr">${_("Choose Language")}</span>
            
          </label>
        </form>
      </li>
    </ol>

    <!-- language selector -->
</header>

  <main class="main" aria-label="Content" tabindex="-1">
    <div id="fr">
      <nav id="navigation">
        <ol id="navigation_list">
          <li class="navigation_list_element nav_list"><a style="color: rgba(28,114,138,1)!important;" href="/#course_container">Nos Mooc</a></li>
          <li class="navigation_list_element nav_list"><a style="color: rgba(28,114,138,1)!important;" href="/#container_essentiels">Nos essentiels</a></li>
          <li class="navigation_list_element nav_list"><a style="color: rgba(28,114,138,1)!important;" href="/tos?lang=fr">MOOC Partenaires</a></li>
          <li class="navigation_list_element nav_list"><a style="color: rgba(28,114,138,1)!important;" href="/about">Certificat</a></li>
          <li class="navigation_list_element nav_list selected_item"><a style="color: rgba(28,114,138,1)!important;" href="/faq?lang=fr">F.A.Q</a></li>
          <li class="navigation_list_element nav_button register_button tooltip"><span class="tooltiptext">Si vous vous connectez ici pour la première fois, vous devez créer un compte</span><a class="test" href="/register">Créer un compte</a></li>
          <li class="navigation_list_element nav_button login_button tooltip"><span class="tooltiptext">Si vous avez déjà un compte, rejoignez directement vos cours</span><a href="/login">Se connecter</a></li>
        </ol>
      </nav>
      <div class="header">
        <h1 class="header_navigation">Foire aux questions (F.A.Q)</h1>
      </div>
      <section class="static-container about">
      <div class="static-container-text" style="padding: 0 5%;">
      <h2 class="static-container-text-title" onclick="showhide('p1')">Comment s'inscrire à un MOOC ?</h2>
      <p id="p1" class="static-container-text-paragraphe hidden">
        Pour s’inscrire à un cours, il faut d’abord créer un compte. Pour cela, cliquez sur le bouton <a href="https://mooc-conservation.org/register"  >« Créer un compte »</a>. Une fois inscrit, cliquez sur le cours qui vous intéresse et, sur la nouvelle page, cliquez sur « Je m’inscris ! ». 
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p2')">Comment créer un compte ?</h2>
      <p id= "p2" class="static-container-text-paragraphe hidden">
        Cliquez sur le bouton « Créer un compte » de la page d’accueil de ce site ou suivez <a href="https://mooc-conservation.org/register"  >ce lien</a>. Remplissez le formulaire avec toutes les informations demandées, et cliquez sur le bouton « Créer mon compte mooc-conservation ». Un mail de confirmation vous sera envoyé à l’adresse mail renseignée dans le formulaire. Rendez-vous donc dans votre boîte de réception, ouvrez le mail et cliquez sur le lien qu’il contient. Ca y est, vous avez un compte, vous pouvez maintenant vous inscrire aux MOOC.
      <br>
      <br>
        NB 1 : Il faut mettre le nom et prénom que vous souhaitez voir figurer sur vos attestations. Ces dernières seront générées automatiquement à partir des informations fournies dans ce formulaire.
      <br>
      <br>  
        NB 2 : Il faut utiliser une adresse mail existante, et ne pas en inventer une nouvelle. 
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p3')">Je n’ai pas reçu mon mail de confirmation. Que faire ?</h2>
      <p id= "p3" class="static-container-text-paragraphe hidden">
        Regardez dans vos spams/pourriels/courrier indésirable. Ce mail est envoyé automatiquement, et il est donc forcément envoyé à l’adresse renseignée dans le formulaire d’inscription. Vérifiez donc bien que ce mail ne se trouve pas dans votre mail, ou que vous avez entré la bonne adresse mail.
      </p>



      <h2 class="static-container-text-title" onclick="showhide('p4')">J’ai oublié mon mot de passe</h2>
      <p id= "p4" class="static-container-text-paragraphe hidden">
        Dans le formulaire de connexion, au-dessus du champs « mot de passe », cliquez sur « Mot de passe oublié ? ». Un nouveau formulaire s’affiche (pop-up), entrez votre adresse mail (la même utilisée lors de l’inscription), et suivez les instructions du mail qui vient de vous être envoyé. Si vous n’avez pas reçu le mail, vérifier vos spams/pourriels/courrier indésirable.
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p5')">Mon mot de passe ne fonctionne pas</h2>
      <p id= "p5" class="static-container-text-paragraphe hidden">
        C’est que le mot de passe que vous avez entré est incorrect. Procédez comme pour l’oubli de mot de passe
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p6')">J’ai déjà été inscrit lors de la session précédente, faut-il que je recrée un compte ?</h2>
      <p id= "p6" class="static-container-text-paragraphe hidden">
        Si vous avez participé à des MOOC avant janvier 2021, il faudra recréer un compte puisque nous avons changé de plateforme. 
        <br>
        <br>
        Pour toute inscription effectuée à partir janvier 2021, vous n’avez pas à recréer de compte à chaque session, il suffit de vous connecter avec votre compte existant, « Explorer les cours » et vous inscrire aux MOOC qui vous intéressent.
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p7')">Comment faire pour recevoir mon attestation de réussite ?</h2>
      <p id= "p7" class="static-container-text-paragraphe hidden">
        Sur cette nouvelle plateforme, les attestations de réussite sont générées automatiquement à partir des informations fournies lors de votre inscription. Donc si vous avez obtenu une moyenne supérieure à 75% aux examens, vous pourrez télécharger votre attestation tout de suite après validation. 
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p8')">Où ont lieu les examens ?</h2>
      <p id= "p8" class="static-container-text-paragraphe hidden">
        Tous les examens des MOOC se font en ligne. 
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p9')">Est-ce que je peux m’inscrire en cours de session ?</h2>
      <p id= "p9" class="static-container-text-paragraphe hidden">
        Oui, chacun s’organise à son rythme, et a jusqu’à la date butoir de chaque session pour passer les examens.
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p10')">Les MOOC sont-ils gratuits ?</h2>
      <p id= "p10" class="static-container-text-paragraphe hidden">
        Oui.
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p11')">Mon compte est bloqué après plusieurs tentatives de connexion infructueuses, que faire ?</h2>
      <p id= "p11" class="static-container-text-paragraphe hidden">
        Vous avez tenté de vous connecter trop souvent avec un mauvais mot de passe. Attendez que votre compte soit débloqué puis tentez de vous connecter avec le bon mot de passe. Si vous ne vous souvenez plus de votre mot de passe reportez-vous à la question 4 « J’ai oublié mon mot de passe ». 
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p12')">Quelle est la différence entre l’attestation de réussite et le certificat en ligne ?</h2>
      <p id= "p12" class="static-container-text-paragraphe hidden">
        Une attestation de réussite est remise à tous les étudiants qui réussissent un MOOC. Pour obtenir le Certificat en ligne, il faut avoir validé tous les MOOC en page d’accueil de mooc-conservation.org, et passer un examen supplémentaire. Pour plus de détails, <a href="https://mooc-conservation.org/about"  >cliquez ici</a></p>
      </div>
      </section>

      <!-- <div id="footer">
        <div id="footer_container" >
          <div class="footer_about_and_icon footer_div">
            <div class="footer_about">
              <p class="footer_title">
                A propos de MOOC Conservation
              </p>
              <p class="footer_text">
                MOOC Conservation est un site dédié aux cours en ligne sur la conservation de la nature, développés par l’UICN-PAPACO (Programme aires protégées d’Afrique et conservation, de l’Union internationale pour la conservation de la nature) et ses partenaires. Ces cours sont entièrement gratuits et tout le monde peut s’inscrire et participer.
              </p>
            </div>
            <a href="https://papaco.org/fr/"><img class="footer_icon" src="/media/microsite/mooc-conservation/extra/images/IUCNPAPACO _logo.png" alt="IUCN PAPACO logo"></a>
          </div>
    
          <div class="footer_menu_and_sm footer_div">
            <div class="footer_menu">
              <p class="footer_title"> Menu </p>
              <div class="footer_list">
                <ol class="footer_list_nav"></ol>
                  <li class="footer_list_element"><a href="/#course_container">Nos MOOC</a></li>
                  <li class="footer_list_element"><a href="/tos?lang=fr">MOOC partenaires</a></li>
                  <li class="footer_list_element"><a href="/about">Certificat</a></li>
                  <li class="footer_list_element"><a href="/faq?lang=fr">F.A.Q</a></li>
                  <li class="footer_list_element en"><a href="javascript:visibilite('container_english');">Site en anglais</a></li>
                </ol>
              </div>
            </div>
    
            <div class="footer_sm">
              <p class="footer_title"> Suivez-nous</p>
              <div class="footer_list"> 
                <ol class="footer_list_nav">
                  <li class="footer_list_element"><a href="https://fr-fr.facebook.com/IUCNpapaco/"  >Page Facebook de l'UICN Papaco</a></li>
                  <li class="footer_list_element"><a href="https://www.facebook.com/groups/167668443583415/">Groupe Facebook francophone des MOOC</a></li>
                  <li class="footer_list_element"><a href="https://www.facebook.com/groups/208309996241190">Groupe Facebook anglophone des MOOC</a></li>
                  <li class="footer_list_element"><a href="https://twitter.com/papaco_iucn?lang=fr"  >Twitter @Papaco_IUCN</a></li>
                  <li class="footer_list_element"><a href="https://www.instagram.com/moocconservation/"  >Instagram @mooc-conservation</a></li>
                  <li class="footer_list_element"><a href="https://papaco.org/fr/">Site de l'UICN-PAPACO</a></li>
                </ol>
              </div>
            </div>
    
          </div>
    
          <div class="footer_mooc_list footer_div">
            <p class="footer_title"> Nos MOOC</p>
            <div class="footer_list"> 
              <ol class="footer_list_nav">
                <li class="footer_list_element"><a href="/#course_container">MOOC Gestion des aires protégées</a></li>
                <li class="footer_list_element"><a href="/#course_container">MOOC Suivi écologique</a></li>
                <li class="footer_list_element"><a href="/#course_container">MOOC Application des lois</a></li>
                <li class="footer_list_element"><a href="/#course_container">MOOC Conservation des espèces</a></li>
                <li class="footer_list_element"><a href="/#course_container">MOOC Valorisation des ressources & tourisme durable</a></li>
                <li class="footer_list_element"><a href="/#course_container">MOOC Nouvelles technologies</a></li>
                <li class="footer_list_element"><a href="/#course_container">MOOC Aires marines protégées</a></li>
              </ol>
            </div>
    
            <p class="footer_title"> Nos essentiels</p>
            <div class="footer_list"> 
              <ol class="footer_list_nav">
                <li class="footer_list_element"><a href="/#container_essentiels"> Essentiel Ranger</a></li>
                <li class="footer_list_element"><a href="/#container_essentiels">Essentiel Manager - Loi </a></li>
                <li class="footer_list_element"><a href="/#container_essentiels">Essentiel Manager - Recherche</a></li>
                <li class="footer_list_element"><a href="/#container_essentiels">Essentiel Leader</a></li>
              </ol>
            </div>
    
          </div>
          <a href="https://papaco.org/fr/"><img class="footer_icon_mobile" src="/media/microsite/mooc-conservation/extra/images/IUCNPAPACO _logo.png" alt="IUCN PAPACO logo"></a>
        </div>
      </div> -->
    </div>

    <div id="en">
        <nav id="navigation">
        <ol id="navigation_list">
          <li class="navigation_list_element nav_list"><a style="color: rgba(28,114,138,1)!important;" href="/#course_container">Our MOOCs</a></li>
          <li class="navigation_list_element nav_list"><a style="color: rgba(28,114,138,1)!important;" href="/#container_essentiels_en_anchor">Our Essentials</a></li>
          <li class="navigation_list_element nav_list"><a style="color: rgba(28,114,138,1)!important;" href="/tos?lang=en">Other MOOCs</a></li>
          <!-- <li class="navigation_list_element nav_list"><a style="color: rgba(28,114,138,1)!important;" href="/about">Certificate</a></li> -->
          <li class="navigation_list_element nav_list selected_item"><a style="color: rgba(28,114,138,1)!important;" href="/faq?lang=en">F.A.Q</a></li>
          <li class="navigation_list_element nav_button register_button tooltip"><span class="tooltiptext">If this is your first visit, click here to create an account</span><a class="test" href="/register">Create an account</a></li>
          <li class="navigation_list_element nav_button login_button tooltip"><span class="tooltiptext">If you already have an account, go to your courses</span><a href="/login">Sign in</a></li>
        </ol>
        </nav>
      <div class="header">
        <h1 class="header_navigation">F.A.Q</h1>
      </div>
    <section class="static-container about">
    <div class="static-container-text" style="padding: 0 5%;">
      <h2 class="static-container-text-title" onclick="showhide('p1_en')">How to enrol in a MOOC?</h2>
      <p id="p1_en" class="static-container-text-paragraphe hidden">
        To enrol in a course, you first need to create an account. To do so, click on the <a href="mooc-conservation.org/register"  >“Create an account” button</a>. Once your account is created, click on the course you would like to follow.  A new page will load, and click on “Enrol now”.
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p2_en')">How to create an account?</h2>
      <p id= "p2_en" class="static-container-text-paragraphe hidden">
        Click on the “Create an account” button on the homepage, or lick on <a href="mooc-conservation.org/register">this link</a>. Fill out the form with the required information, and click on the “Create a mooc-conservation account” button. You will receive a confirmation email (sent to the address you used to create your account). Go to your inbox, open the email and click on the link within. And that’s it, you now have an account and can enrol in the MOOCs you’d like to follow. 
        <br>
        <br>NB 1: use the name and surname you would like to have on your attestations, as these are generated automatically based on the information you provided.
        <br>NB 2: use an existing email address, do not make up a new one. 
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p3_en')">I did not reveive my confirmation email. What should I do?</h2>
      <p id= "p3_en" class="static-container-text-paragraphe hidden">
        Have a look at your Spam. The confirmation email is sent automatically based on the email address you provided. If you do not find the email in your mailbox, make sure you entered the correct email address.
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p4_en')">I forgot my password.</h2>
      <p id= "p4_en" class="static-container-text-paragraphe hidden">
        In the login form, above the ‘password’ field, click on ‘Forgot password?’. A new form will appear (pop-up), enter your email address (the same one used when creating an account), and follow the instructions of the email you just received. If you haven’t received an email, check you spam.
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p5_en')">My password doesn’t work.</h2>
      <p id= "p5_en" class="static-container-text-paragraphe hidden">
        This means you entered the wrong password. If you do not remember it, proceed as above (Forgotten password).
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p6_en')">I already took part in MOOC Conservation MOOCs during a previous session, should create a new account?</h2>
      <p id= "p6_en" class="static-container-text-paragraphe hidden">
        If you participated in MOOCs before January 2021, you would need to recreate an account because we changed platforms. 	
        <br>
        <br>If you created an account from January 2021 on, you do not need to recreate an account at every session. Simply log in with your existing account and enrol in the courses you want to follow.
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p7_en')">How can I receive my attestation of success?</h2>
      <p id= "p7_en" class="static-container-text-paragraphe hidden">
        On this new platform, attestations of success are generated automatically based on the information you provided when you created your account. So if your average score is 75% or higher, you can download your attestation right after completing a course. 
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p8_en')">Where do exams take place?</h2>
      <p id= "p8_en" class="static-container-text-paragraphe hidden">
        All exams take place online. 
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p9_en')">Can I enrol after the session has started?</h2>
      <p id= "p9_en" class="static-container-text-paragraphe hidden">
        Yes, every student follows the courses at their own pace, and you have until the session deadline to finish the exams.
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p10_en')">Are MOOCs free?</h2>
      <p id= "p10_en" class="static-container-text-paragraphe hidden">
        Yes.
      </p>

      <h2 class="static-container-text-title" onclick="showhide('p11_en')">My account is blocked after several log in attempts, what should I do?</h2>
      <p id= "p11_en" class="static-container-text-paragraphe hidden">
        This means you tried logging in too many times with the wrong username or password. Wait until your account is unblocked, and try again with the correct username and password. If you do not remember your password, follow the instructions mentioned above about forgotten passwords. 
      </p>

      </div>
      </section>

      <!-- <div id="footer">
        <div id="footer_container" >
          <div class="footer_about_and_icon footer_div">
            <div class="footer_about">
              <p class="footer_title">
                About MOOC Conservation
              </p>
              <p class="footer_text">
                MOOC Conservation is a platform that is dedicated to online courses on nature conservation. The training materials are developed by IUCN-PAPACO (the International Union for Conservation of Nature’s Programme on African Protected Areas and Conservation) and its partners. The courses are free of charge and open to all.
              </p>
            </div>
            <a href="https://papaco.org/fr/"><img class="footer_icon" src="/media/microsite/mooc-conservation/extra/images/IUCNPAPACO _logo.png" alt="IUCN PAPACO logo"></a>
          </div>
  
          <div class="footer_menu_and_sm footer_div">
            <div class="footer_menu">
              <p class="footer_title"> Menu </p>
              <div class="footer_list">
                <ol class="footer_list_nav"></ol>
                  <li class="footer_list_element"><a href="/#course_container_en_anchor">Our MOOCs</a></li>
                  <li class="footer_list_element"><a href="/tos?lang=en">Other MOOCs</a></li>
                  <li class="footer_list_element"><a href="/faq?lang=en">F.A.Q</a></li>
                  <li class="footer_list_element fr"><a href="/courses/course_id/about">French site</a></li>
                </ol>
              </div>
            </div>

            <div class="footer_sm">
              <p class="footer_title"> Follow us</p>
              <div class="footer_list"> 
                <ol class="footer_list_nav">
                  <li class="footer_list_element"><a href="https://fr-fr.facebook.com/IUCNpapaco/"  >IUCN Papaco Facebook page</a></li>
                  <li class="footer_list_element"><a href="https://www.facebook.com/groups/167668443583415/">English-speaking MOOCs Facebook group</a></li>
                  <li class="footer_list_element"><a href="https://www.facebook.com/groups/208309996241190">French-speaking MOOCs Facebook group</a></li>
                  <li class="footer_list_element"><a href="https://twitter.com/papaco_iucn?lang=fr"  >IUCN-PAPACO website</a></li>
                  <li class="footer_list_element"><a href="https://www.instagram.com/moocconservation/"  >Instagram @mooc-conservation</a></li>
                  <li class="footer_list_element"><a href="https://papaco.org/">IUCN-PAPACO website</a></li>
                </ol>
              </div>
            </div>

          </div>

          <div class="footer_mooc_list footer_div">
            <p class="footer_title"> Our MOOCs</p>
            <div class="footer_list"> 
              <ol class="footer_list_nav">
                <li class="footer_list_element"><a href="/courses/course-v1:mooc-conservation+protected-areas+2021_T1_EN/about">Protected area management</a></li>
                <li class="footer_list_element"><a href="/courses/course-v1:mooc-conservation+eco-monitoring+2021_T1_EN/about">Ecological monitoring</a></li>
                <li class="footer_list_element"><a href="/course-v1:mooc-conservation+law-enforcement+2021_T1_EN/about">Law enforcement</a></li>
                <li class="footer_list_element"><a href="/course-v1:mooc-conservation+species-conservation+2021_T1_EN/about">Species conservation</a></li>
                <li class="footer_list_element"><a href="/courses/course-v1:mooc-conservation+areas-valorisation+2021_T1_EN/about">Valorisation of resources</a></li>
                <li class="footer_list_element"><a href="/courses/course-v1:mooc-conservation+new-techs+2021_T1_EN/about">New technologies</a></li>
                <li class="footer_list_element"><a href="/courses/course-v1:mooc-conservation+marine-areas+2021_T1_EN/about">Marine protected areas</a></li>
              </ol>
            </div>

            <p class="footer_title"> Our Essentials</p>
            <div class="footer_list"> 
              <ol class="footer_list_nav">
                <li class="footer_list_element"><a href="/courses/course-v1:mooc-conservation+essential-ranger+2021_T1_EN/about">Essential Ranger</a></li>
                <li class="footer_list_element"><a href="/courses/course-v1:mooc-conservation+essential-manager-law+2021_T1_EN/about">Essential Manager - Law </a></li>
                <li class="footer_list_element"><a href="/courses/course-v1:mooc-conservation+essential-manager-research+2021_T1_EN/about">Essential Manager - Research</a></li>
                <li class="footer_list_element"><a href="/courses/course-v1:mooc-conservation+essential-leader+2021_T1_EN/about">Essential Leader</a></li>
              </ol>
            </div>

          </div>
          <a href="https://papaco.org/fr/"><img class="footer_icon_mobile" src="/media/microsite/mooc-conservation/extra/images/IUCNPAPACO _logo.png" alt="IUCN PAPACO logo"></a>
        </div>
      </div> -->
    </div>
  </main>


  <!-- script to display / undisplay element -->
<script>


function showhide(div_id) {
    var div = document.getElementById(div_id);
    div.classList.toggle('hidden'); 
    }

  $( document ).ready(function() {
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
      }
    };

    var lang = getUrlParameter('lang');
    if (lang === "en") {
      $('#fr').hide();
    } else {
      $('#en').hide();
    }
  });

  $( document ).ready(function(){

  if($('#settings-language-value > option[value="en"]')[0].hasAttribute("selected")){
    $('#fr').hide()
    $('#en').show()
    document.getElementById("burger-text-partner").textContent="Other MOOCs";
    document.getElementById("burger-text-register").textContent="Create an account";
    document.getElementById("burger-text-login").textContent="Sign in";
  } else if ($('#settings-language-value > option[value="fr"]')[0].hasAttribute("selected")){
    $('#fr').show()
    $('#en').hide()
    document.getElementById("burger-text-partner").textContent="MOOC Partenaires";
    document.getElementById("burger-text-register").textContent="Créer un compte";
    document.getElementById("burger-text-login").textContent="Se connecter";
  } 
  $('.en').on('click', function() {
    $('#settings-language-value > option[value="en"]').attr('selected','selected');
    $('#settings-language-value > option[value="fr"]').removeAttr('selected').trigger( "change");
  });
  $('.fr').on('click', function() {
    $('#settings-language-value > option[value="fr"]').attr('selected','selected');
    $('#settings-language-value > option[value="en"]').removeAttr('selected').trigger( "change");;
});

/* HIDE ESSENTIELS COURSES IN "OUR MOOC CONSERVATION" */
toHideCourses = ["essentiel-ranger+2021_T1","essentiel-manager-loi+2021_T1","essentiel-manager-recherche+2021_T1","essentiel-leader+2021_T1","essential-ranger+2021_T1_EN","essential-manager-law+2021_T1_EN","essential-manager-research+2021_T1_EN","essential-leader+2021_T1_EN"]
for (let i = 0; i < toHideCourses.length; i++) {
  $( "article[id='course-v1:mooc-conservation+"+toHideCourses[i]+"']" ).parent().hide()
}
})


document.getElementById("global-navigation").remove()
</script>
  <!-- script to display / undisplay element -->
