<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangolib.markup import HTML
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%
from cms.djangoapps.microsite_manager.mongo_model import staticFiles
from cms.djangoapps.microsite_manager.models import Microsite
_key = static.get_value('domain_prefix')
_microsite_id = Microsite.objects.get(key=_key).id
_collection = 'honor'
_values = {
  "microsite_id":_microsite_id
}
_template = staticFiles().return_template(_values,_collection).get('template')
if _template is None:
  _template = "<p>Honor</p>"
%>
<script>
  $( document ).ready(function() {
    document.title="Crédits"
  })
</script>
<style>
main {
 background-color: #fff;
}
</style>
<style>
main {
 background-color: #fff;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
p {
  line-height: 120%;
}
</style>
<main id="main" aria-label="Content" tabindex="-1">
<!--
    <section class="container about">
        <h1>${_("Honor Code")}</h1>
        <p>${_("This page left intentionally blank. Feel free to add your own content.")}</p>
    </section>
-->
<section class="container honor">
    <h1>Crédits</h1>

    <p>Netexplo est une marque de la SAS HappeningCo :</p>
    <p>264 rue du Faubourg Saint-Honoré, 75008 Paris - RCS Paris B 447 906 165</p>
    <p>Réalisation : WeUp Learning, 5 rue de Conflans, 94220 Charenton-le-Pont</p>
</section>

</main>
