<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">conditions générales d'utilisation</%block>

<main id="main" aria-label="Content" tabindex="-1" style="background-color: white; !important">
    <section class="container about" style="background-color: white; !important">
<script>
setInterval(function(){
  $(".container.about").css("background","white");
  $("#main").css("background","white");
},100);
</script> 
       <h2>Conditions générales d'utilisation</h2>
        <p class="MsoListParagraphCxSpFirst"
         style="text-indent: -18pt;"><!--[if !supportLists]--><strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);"><span
         style="">1.<span
         style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span></span></strong><!--[endif]--><strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">Editeur,
        gérant, hébergeur<o:p></o:p></span></strong></p>
        <p class="MsoListParagraphCxSpMiddle"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
        <p class="MsoListParagraphCxSpMiddle"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Le
        site web<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span></span><a
         href="https://mooc.afpa.fr/"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(60, 85, 108);">sncf-mooc.fr</span></a><span
         class="apple-converted-space"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">&nbsp;</span></span><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">est
        :<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br
         style="">
        <!--[if !supportLineBreakNewLine]--><br style="">
        <!--[endif]--><o:p></o:p></span></p>
        <p class="MsoListParagraphCxSpMiddle"
         style="text-indent: -18pt;"><!--[if !supportLists]--><span
         class="apple-converted-space"><span
         style="font-size: 12pt; line-height: 107%; font-family: Symbol; color: rgb(8, 8, 8);"><span
         style="">·<span
         style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span></span></span><!--[endif]--><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">édité
        par SNCF MOBILITES – Direction de
        la Traction, situé au 5 rue André Campra, 93&nbsp;200 Saint-Denis -
        FRANCE<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);"><o:p></o:p></span></span></span></p>
        <p class="MsoListParagraphCxSpMiddle"
         style="text-indent: -18pt;"><!--[if !supportLists]--><span
         class="apple-converted-space"><span
         style="font-size: 12pt; line-height: 107%; font-family: Symbol; color: rgb(8, 8, 8);"><span
         style="">·<span
         style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span></span></span><!--[endif]--><span
         class="apple-converted-space"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">géré
        par Variable - THE MOOC AGENCY situé au 4 rue de Rambervillers,
        75012 PARIS – FRANCE<o:p></o:p></span></span></p>
        <p class="MsoListParagraphCxSpLast"
         style="text-indent: -18pt;"><!--[if !supportLists]--><span
         style="font-size: 12pt; line-height: 107%; font-family: Symbol;"><span
         style="">·<span
         style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span></span><!--[endif]--><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">hébergé
        par OVH dont le siège est situé 2 rue Kellermann - 59100 Roubaix -
        France<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><br>
        <strong><span
         style="background: rgb(247, 247, 247) none repeat scroll 0%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8); -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">2.
        Mentions informatique et libertés</span></strong><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">2-1.
        Finalité<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Le
        site internet sncf-mooc.fr, également accessible
        depuis le site internet www.sncf.fr/emploi, est un service de
        communication en
        ligne permettant aux internautes de suivre des cours en ligne gratuits
        et
        massifs ayant notamment pour objet de confirmer leur projet
        professionnel,
        d’effectuer des exercices et d’échanger des observations avec les
        autres
        internautes participant aux cours. <o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">L'ambition
        de SNCF est de préparer les candidats aux
        métiers de la conduite en leur fournissant des informations et des
        contenus
        pédagogiques sur ces métiers, et plus largement sur l’environnement
        ferroviaire.<o:p></o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">2-2.
        Informations obligatoires</span></strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Les
        données collectées de manière obligatoire lors de la
        création d’un compte sont signalées par un astérisque(*). Si ces
        informations
        ne sont pas fournies, l’utilisation du service est impossible.<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        La création d’un compte permet aux internautes de recevoir des messages
        relatifs à la mise en ligne de nouveaux cours en ligne par SNCF ainsi
        que
        l’attestation de réussite.<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        Il permet également aux internautes d’être contacter par l’agence en
        charge du
        recrutement si les résultats des apprenants sont jugés satisfaisants.<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="background: rgb(247, 247, 247) none repeat scroll 0%; font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8); -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">2-3.
        Les
        destinataires des données</span></strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><span
         style="">&nbsp;</span>Les destinataires
        des données à caractère personnel enregistrées sur le site
        sncf-.mooc.fr sont
        SNCF, responsable du traitement, et les entités statutairement et
        contractuellement liées à SNCF Mobilités, notamment The MOOC Agency.<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Conformément
        à la </span><a
         href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">loi
        « informatique et libertés » du 6 janvier 1978 modifiée</span></a><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">,
        vous disposez d’un&nbsp;</span><a
         href="https://www.cnil.fr/fr/le-droit-dacces"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">droit
        d’accès</span></a><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">
        et </span><a
         href="https://www.cnil.fr/fr/le-droit-de-rectification"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">de
        rectification</span></a><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">
        aux
        informations qui vous concernent.&nbsp;<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Vous
        pouvez l’effectuer depuis votre espace personnel ou
        faire une demande écrite&nbsp;en vous adressant à&nbsp;:<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">THE
        MOOC AGENCY<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">4
        RUE DE RAMBERVILERS <o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">75012
        PARIS<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Vous
        pouvez également, pour des motifs légitimes, </span><a
         href="https://www.cnil.fr/fr/le-droit-dopposition"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">vous
        opposer&nbsp;au traitement
        des données vous concernant</span></a><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">.<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Nous
        vous informons que les données vous concernant sont informatisées,
        elles seront traitées de façon confidentielle.<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Vos
        données sont conservées pour une durée de 24 mois</span><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">
        </span><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">après
        la
        dernière utilisation de la plate-forme.<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Seules
        les personnes habilitées du service recrutement SNCF&nbsp;pourront
        accéder à vos données à des fins strictement internes.<o:p></o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">3.
        Cookies</span></strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Le
        site<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span></span><a
         href="https://mooc.afpa.fr/"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(60, 85, 108);">sncf-mooc.fr</span></a><span
         class="apple-converted-space"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">&nbsp;</span></span><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">utilise
        des cookies incluant des
        informations relatives à la navigation des internautes dans un but
        d’analyses
        statistiques. En aucun cas, SNCF ne peut identifier un utilisateur par
        un
        cookie ; ce dernier enregistre uniquement des informations relatives à
        la
        navigation de l’utilisateur sur le site<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span></span><a
         href="https://mooc.afpa.fr/"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(60, 85, 108);">sncf-mooc.fr</span></a><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">.<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        Ces cookies sont émis par la société VARIABLE.<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        La durée de conservation des informations relatives à la navigation est
        de 2
        ans. Les informations de session sont supprimées dès la déconnexion.<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        Vous pouvez vous opposer à l'enregistrement de cookies sur votre
        ordinateur :<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        • en optant de naviguer en statut OPT-OUT sur la page
        http://www.atinternet.com/politique-du-respect-de-la-vie-privee/ ;<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        • en configurant votre poste informatique de la manière suivante :<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        Pour Microsoft Internet Explorer 6.0 et + :<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        1. Choisissez le menu "Outils" (ou "Tools"), puis
        "Options Internet" (ou «Internet Options")<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        2. Cliquez sur l'onglet "Confidentialité" (ou
        "Confidentiality")<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        3. Sélectionnez le niveau souhaité à l'aide du curseur ou cliquez sur
        le bouton
        "Avancé" pour personnaliser votre gestion des cookies.<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        <br>
        Pour Firefox 3.5 et + :<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        1. Choisissez le menu "Outils" (ou "Tools"), puis
        "Options "<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        2. Cliquez sur l'onglet "Vie privée"<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        3. Dans « Règles de conservation », sélectionnez « Utiliser les
        paramètres
        personnalisés pour l’historique » et décochez le bouton "Accepter les
        cookies".<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        <br>
        Pour Chrome :<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        1. Choisissez le menu "Outils" (ou "Tools"), puis
        "Options "<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        2. Cliquez sur l'onglet "Options avancées"<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        3. Dans « Paramètres de contenu », cochez le bouton « Interdire à tous
        les
        sites de stocker les données ».<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        <br>
        Pour Netscape 6.X et 7.X :<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        1. Choisissez le menu "Edition"&gt;"Préférences"<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        2. Confidentialité et Sécurité<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        3. Cookies<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        <br>
        Pour Opéra 6.0 et au-delà :<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        1. Choisissez le menu "Fichier"&gt;"Préférences"<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        2. Vie Privée<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        <br>
        A défaut, vous acceptez les cookies en poursuivant votre navigation.<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="background: rgb(247, 247, 247) none repeat scroll 0%; font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8); -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">4.
        Conditions d’utilisation du site</span></strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">4-2
        Création d’un compte,
        identifiant, mot de passe, adresse de courrier électronique</span></strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Lors
        de la création du compte, l’utilisateur s’engage à
        fournir des informations réelles correspondant à sa seule situation et
        à les
        mettre à jour régulièrement.<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        L’utilisateur s'engage également à ne pas créer une fausse identité.<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        L’utilisateur est responsable du maintien de la confidentialité de ses
        identifiant et mot de passe qui lui permettent d'accéder aux cours mis
        en ligne
        au fur et à mesure par SNCF.<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        L’utilisateur est également responsable de l’utilisation du compte de
        messagerie
        électronique personnel (adresse courriel) qu’il a indiqué lors de la
        création
        de compte sur le site<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span></span><a
         href="https://mooc.afpa.fr/"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(60, 85, 108);">sncf-mooc.fr</span></a><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">.
        L’utilisateur veille également à ce que des tiers n’utilisent pas cette
        adresse
        de courrier électronique pour communiquer avec SNCF.<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        En cas de perte ou de vol de son identifiant et/ou de son mot de passe,
        ou dans
        l’éventualité où l’utilisateur penserait qu’un tiers a accédé à son
        compte,
        l’utilisateur s’engage à informer SNCF en s’adressant à la rubrique
        «&nbsp;Contact&nbsp;».<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">4-3
        Contenu des cours en ligne</span></strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">L’inscription
        aux cours en ligne nécessite que
        l’utilisateur créé préalablement un compte.<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        Chaque cours en ligne comprend :<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        <br>
        1/ des vidéos :<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">-
        d’intervenants SNCF qui présentent le contenu
        pédagogique proposé,<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">-
        d’explications sur des termes techniques propre au
        ferroviaire,<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">-
        de professionnels exerçant au sein de la SNCF.<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><br>
        2/ des exercices<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        - des quiz afin que l’internaute puisse vérifier sa compréhension des
        savoirs
        communiqués au travers des cours en ligne.<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">3/
        un espace au sein duquel les internautes ont accès à
        une communauté<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        <br>
        Chaque cours en ligne présente :<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        • la présentation du contenu du cours<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        • le plan du cours comprenant, le cas échéant, les différentes séquences<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        • la durée prévisionnelle du cours<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        • l’effort estimé en termes d’heures hebdomadaires<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        <br>
        Lorsque le cours en ligne est terminé l’utilisateur peut consulter les
        vidéos
        contenues dans le cours.<o:p></o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">4-4
        Usages autorisés / Usages
        non autorisés</span></strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Le
        site<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span>sncf.-mooc.fr<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span>doit
        être utilisé dans le respect des finalités mentionnées au point 2-1
        ci-dessus.<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        En tant qu’utilisateur, vous devez :<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        - utiliser les services du site<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span></span><a
         href="http://www.mooc.afpa.fr/"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(60, 85, 108);">sncf-mooc.fr</span></a><span
         class="apple-converted-space"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">&nbsp;</span></span><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">uniquement
        dans les buts pour lesquels ils sont mis à votre disposition;<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        - assurer la confidentialité de vos identifiant et mot de passe et ne
        pas les
        communiquer à un tiers, quel que soit votre lien avec ce tiers;<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        - saisir uniquement des informations exactes;<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        - mettre à jour régulièrement les informations vous concernant;<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        - respecter la réglementation en vigueur.<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        <br>
        En tant qu’utilisateur, vous ne devez pas :<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        - constituer une base de données à des fins publicitaires (envoi de
        promotion
        sur des offres, produits ou services par appels, fax, courriers,
        courriels ou
        newsletters non sollicités) ou autres;<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        - mettre en ligne des contenus illégaux ou inappropriés (opinions
        politiques ou
        religieuses, atteintes aux bonnes mœurs, etc).<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        - le cas échéant, capter et/ou diffuser, par quelque moyen que ce soit,
        tout ou
        partie du contenu des cours en ligne auxquels vous participez, sous
        peine de
        sanction pénale.<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        - ne pas publier ou rendre accessibles les réponses aux exercices sur
        quelque
        support que ce soit.<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">4-5
        Contenus illégaux</span></strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">L’utilisateur
        est pénalement responsable des informations
        qu’il met en ligne sur le site sncf-mooc.fr<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span>,
        notamment les contenus qui
        constituent une provocation ou une apologie de crimes, de délits ou
        d’acte de
        terrorisme, une incitation à la haine ou à la discrimination, ou qui
        ont pour
        effet de porter atteinte à la réputation ou à la tranquillité des
        personnes
        sont punis par des peines pouvant aller jusqu’à 100 000 € d’amende et 7
        ans
        d’emprisonnement (articles 23 à 41-1 de la loi du 29 juillet 1881 sur
        la
        liberté de la presse et article 421-2-5 du code pénal).<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="background: rgb(247, 247, 247) none repeat scroll 0%; font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8); -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">4-7
        Modération<o:p></o:p></span></strong></p>
        <p class="MsoNormal"><span
         style="background: rgb(247, 247, 247) none repeat scroll 0%; font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">Les
        forums relatifs à chaque cours en
        ligne sont modérés à poste<a name="_GoBack"></a>riori
        ; la modération peut
        donner lieu à la suppression du compte d’un utilisateur, sans préjudice
        d’éventuelles suites judiciaires, dans le cas où SNCF constaterait la
        mise en ligne
        d’un contenu illégal.</span><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">5.
        Responsabilité</span></strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">SNCF
        ne saurait être tenu pour responsable des dommages
        de toute nature, directs ou indirects, résultant de l’utilisation du
        site<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span></span><a
         href="https://mooc.afpa.fr/"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(60, 85, 108);">sncf-mooc.fr</span></a><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">,
        ni
        de l’impossibilité pour l’utilisateur d’accéder au site<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><u>sncf-mooc.fr</u>.<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">6
        – Notifications <o:p></o:p></span></strong></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Toute
        notification doit être adressée via le formulaire
        en ligne dans la rubrique « Contact ».<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        Toute notification qui est destinée aux apprenants est envoyée par
        courriel à
        l'adresse que les internautes ont communiquée lors de la création de
        leur
        compte. On entend par notification l’attestation de suivi de cours en
        ligne que
        les internautes peuvent obtenir sous réserve qu’ils aient suivi la
        totalité du
        cours. Ce document ne vaut ni certification ni diplôme quelconque.<o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
        <p class="MsoNormal"><strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">7.
        Propriété intellectuelle</span></strong><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Le
        site internet<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span></span><a
         href="https://mooc.afpa.fr/"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(60, 85, 108);">sncf-mooc.fr</span></a><span
         class="apple-converted-space"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(8, 8, 8);">&nbsp;</span></span><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">est
        protégé au titre des dispositions
        relatives au droit d’auteur défini à l’article L.111-1 du code de la
        propriété
        intellectuelle et au titre des dispositions relatives aux bases de
        données
        définies aux articles L.341-1 et suivants du même code. SNCF est
        titulaire de
        l’ensemble des droits de propriété intellectuelle sur les éléments
        composant le
        site.<span class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        A l’exception des dispositions prévues à l’article L.122-5 du code de
        la
        propriété intellectuelle, toute représentation, reproduction ou
        diffusion,
        intégrale ou partielle du site, sur quelque support que ce soit, sans
        l'autorisation expresse et préalable de SNCF constitue un acte de
        contrefaçon,
        sanctionné au titre des articles L.335-2 et L.335.3 du même code.<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><br>
        Par ailleurs, toute représentation, reproduction ou diffusion,
        intégrale ou
        partielle de la marque SNCF, sur quelque support que ce soit, sans
        l'autorisation
        expresse et préalable de SNCF constitue un acte de contrefaçon,
        sanctionné au
        titre des articles L.521-10 du même code.<span
         class="apple-converted-space"><span
         style="color: rgb(8, 8, 8);">&nbsp;</span></span><o:p></o:p></span></p>
        <p class="MsoNormal"><span
         style="font-size: 12pt; line-height: 107%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
    </section>
</main>

