<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangolib.markup import HTML
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%
from cms.djangoapps.microsite_manager.mongo_model import staticFiles
from cms.djangoapps.microsite_manager.models import Microsite
_key = static.get_value('domain_prefix')
_microsite_id = Microsite.objects.get(key=_key).id
_collection = 'honor'
_values = {
  "microsite_id":_microsite_id
}
_template = staticFiles().return_template(_values,_collection).get('template')
if _template is None:
  _template = "<p>Honor</p>"
%>
<%block name="pagetitle">${_("Honor Code")}</%block>

<style>
main {
 background-color: #fff;
}
</style>
<main id="main" aria-label="Content" tabindex="-1">
<!--
    <section class="container about">
        <h1>${_("Honor Code")}</h1>
        <p>${_("This page left intentionally blank. Feel free to add your own content.")}</p>
    </section>
-->
  <section class="static-container honor">
  <!-- ${_template | n} -->
    <style>
      a:hover, a:hover strong:hover{
      color: #fdcd00 !important;
      }
      a:visited {
      color: #0075b4 !important;
      }
    </style>

    <h1>Politique de confidentialité </h1>
    <p><strong>1. Finalité, fondement du traitement des données collectées et durée de conservation</strong></p>
    <p>Vous êtes susceptibles de nous fournir un certain nombre de données personnelles telles que vos Nom, Prénom, E-mail, afin de bénéficier des services offerts par le Site et afin de répondre notamment à vos demandes d’information. Nous collectons également vos données de connexion (E-mail). Ces données sont conservées durant 3 ans.</p>
    <p>Les traitements de données peuvent se fonder sur :</p>
    <p>• Notre intérêt légitime à vous fournir des services lorsque la finalité concerne la gestion de la formation ;</p>
    <p>• Le respect d’obligations légales et réglementaires, notamment mais non exclusivement pour ce qui concerne les obligations qui incombent aux éditeurs de sites internet.</p>
    <p>Les informations sont nécessaires pour nous permettre de traiter votre demande et mieux interagir avec vous. Dans nos formulaires en ligne, les champs obligatoires sont marqués par un astérisque. À défaut de réponse aux questions obligatoires, nous ne serons pas en mesure de répondre à vos demandes ou de vous fournir le(s) service(s) demandé(s). </p>
    <p>Chaque formulaire ou service limite la collecte des données personnelles aux informations nécessaires et indique notamment :</p>
    <p>• Qui est le responsable du traitement des données personnelles ;</p>
    <p>• Quels sont les objectifs du recueil de ces données ;</p>
    <p>• Si ces données sont obligatoires ou facultatives pour la gestion de votre demande ;</p>
    <p>• Les destinataires des données ;</p>
    <p>• La durée de conservation des données ;</p>
    <p>• Vos droits et la façon de les exercer.</p>
    <p> Vos données personnelles ne sont pas traitées ultérieurement de manière incompatible avec les finalités décrites ci-dessus ou sous les formulaires de collecte.</p>
    <p>Une fois la durée de conservation expirée au regard de la finalité des traitements, vos données sont conservées en archivage intermédiaire pour une durée conforme aux dispositions applicables en matière de prescription.</p>
    <p><strong>2. Destinataires des données</strong></p>
    <p>Vos données personnelles sont susceptibles d’être communiquées à certains départements du responsable du traitement afin de vous fournir le(s) service(s) demandé(s).</p>
    <p><strong>3. Sécurité et confidentialité de vos données </strong></p>
    <p>Le responsable du traitement met en œuvre des mesures appropriées pour préserver la sécurité et la confidentialité de vos données personnelles et, notamment, pour empêcher qu’elles soient déformées, endommagées, ou que des tiers non autorisés y aient accès. Le mot de passe que vous utiliserez sera conservé en crypté. Toutes les données sont conservées sur des serveurs sécurisés à Gravelines et à Roubaix. Ces données ne sont pas transmises hors Union Européenne.</p>
    <p><strong>4. Gestion des cookies </strong></p>
    <p><strong>4.1 Principe</strong></p>
    <p>Un cookie est un fichier qui permet d’enregistrer des informations relatives à la navigation de votre ordinateur sur les Sites et permet notamment de faciliter vos visites sur les Sites.</p>
    <p>Vous pouvez à tout moment supprimer les « cookies » installés sur votre ordinateur, vous opposer à l’enregistrement de nouveaux « cookies » et recevoir une notification avant l’installation d’un nouveau cookie en configurant votre outil de navigation via les instructions figurant ci-dessous (« Types de cookies, cookies et statistiques et paramétrage »). </p>
    <p>Veuillez noter que si vous désinstallez un « cookie » ou si vous vous opposez à l’installation de « cookies » sur votre machine, vous risquez de ne pas être en mesure de bénéficier de certains des services des Sites.</p>
    <p><strong>4.2. Types de cookies, cookies et statistiques et paramétrage</strong></p>
    <p>Les cookies techniques servent des finalités techniques, pour faciliter la navigation sur notre site internet. Ces cookies techniques permettent de vous identifier pour vous aider à remplir les formulaires ou certains champs, et permettent d’améliorer votre navigation. Les cookies techniques permettent également de mettre en œuvre des mesures de sécurité ou de prendre en compte certains de vos choix. Les cookies techniques servent des finalités techniques, pour faciliter la navigation sur notre site. Ces cookies ont simplement pour but le fonctionnement de ce site. Ils peuvent être placés et lus sur votre terminal sans besoin de votre consentement. </p>
    <p>Veuillez noter que si vous « désinstallez » un cookie technique de votre matériel, vous risquez de ne pas être en mesure de bénéficier des services proposés par le site internet.</p>
    <p>Les cookies de statistiques permettent de mesurer le nombre de visites, le nombre de pages vues ainsi que l’activité des utilisateurs sur le site et leur fréquence de retour. L’outil de statistiques utilisé génère un cookie avec un identifiant unique. Votre adresse IP est également collectée afin de déterminer la ville depuis laquelle vous vous connectez. Celle-ci est immédiatement anonymisée après utilisation, empêchant ainsi votre identification en tant que personne physique. Les données recueillies ne sont pas cédées à des tiers ni utilisées à d’autres fins. </p>
    <p>Lorsque les cookies exigent votre accord préalable à leur installation, nous vous le demandons au moyen de la solution de gestion des cookies affichée sur le site internet https://handipourtous.com/. </p>
    <p><strong>4.3. Durée de conservation</strong></p>
    <p>Les cookies stockés dans votre terminal ou tout autre élément utilisé pour vous identifier à des fins de statistiques auront une durée de vie raisonnable liée à la finalité du traitement envisagé dans la limite de treize (13) mois, cette durée n’étant pas prorogée automatiquement lors de vos nouvelles visites sur les Sites. Au-delà, les données de fréquentation brutes associées à un identifiant sont soit supprimées soit anonymisées.</p>
    <p><strong>4.4. Comment supprimer, être averti de l’installation de cookies ou paramétrer votre navigateur ? </strong></p>
    <p>Vous avez la possibilité de supprimer les cookies déposés sur votre matériel.</p>
    <p>La configuration de chaque navigateur est différente. Il vous appartient de suivre les instructions de l’éditeur de votre navigateur comme suit (liens disponibles à la date de mise à jour de la page « Cookies ») :</p>
    <p>Pour Internet Explorer : lancez votre navigateur puis appuyer simultanément sur « Alt + U » ; sélectionnez « Options internet » ; Dans l’onglet « Général », allez au niveau de l’historique de navigation puis cliquez sur « Supprimer… » ; cocher la case « Cookies et données de sites Web » et appuyer à nouveau sur le bouton « Supprimer ». Retrouvez ces explications avec le lien suivant : https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</p>
    <p>Pour Firefox : lancez votre navigateur puis appuyer simultanément sur « Alt + O » ; sélectionnez « Options » ; cliquez sur l’onglet « Vie privée et sécurité » puis choisissez les options souhaitées. Retrouvez ces explications avec le lien suivant : https://support.mozilla.org/fr/kb/autoriser-bloquer-cookies-preferences-sites?redirectlocale=fr&amp;redirectslug=Activer+et+d%C3%A9sactiver+les+cookies</p>
    <p>Pour Chrome : lancez votre navigateur puis appuyer simultanément sur « Ctrl + H » ; cliquez sur « Effacer les données de navigation », et cocher la case « Cookies et autres données de site ». Retrouvez ces explications avec le lien suivant : https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DDesktop&amp;hl=fr</p>
    <p>Pour Safari : lancez votre navigateur puis cliquez sur « Safari » en haut à gauche ; sélectionnez « Préférences » puis cliquez sur « Confidentialité » ; cliquez sur « Gérer les données du site Web » ; sélectionnez un ou plusieurs sites web puis cliquez sur « Supprimer » ou « Tout effacer ». Retrouvez ces explications avec le lien suivant : https://support.apple.com/fr-fr/guide/safari/sfri11471/mac</p>
    <p>Pour Opera : lancez votre navigateur puis cliquez sur « Réglage » dans la barre d’outils ; sélectionnez « Supprimer les données privées » ; cochez la case « Supprimer tous les cookies » ; cliquez sur « Supprimer ». Retrouvez ces explications avec le lien suivant : https://help.opera.com/en/latest/web-preferences/#cookies</p>
    <p><strong>5. Vos droits / Contact</strong></p>
    <p>Conformément à la règlementation en vigueur, vous disposez d’un droit d’accès, de rectification, de suppression et d’opposition de vos données personnelles. Vous disposez également d’un droit de consentement préalable à la prospection commerciale et d’opposition dans les conditions de la réglementation applicable. Vous pouvez demander la communication de vos données personnelles et vous avez le droit de définir des directives relatives au sort de vos données à caractère personnel après votre décès. Vous disposez également d’un droit de ne pas faire l’objet d’une décision fondée exclusivement sur un traitement automatisé, y compris le profilage. Vous pouvez également demander la limitation, la portabilité de vos données et/ou introduire une réclamation auprès de la CNIL (Commission Nationale de l’Informatique et des Libertés).</p>
    <!-- <p>Veuillez adresser votre demande à l’adresse électronique suivante : </p> -->
    <p><strong>6. Consentement au traitement des données </strong></p>
    <p>En s’inscrivant et cochant la case j’accepte, l’utilisateur certifie avoir été informé(e) de sa possibilité de quitter à tout moment le MOOC sans subir aucun préjudice d’aucune nature et accepte l’exploitation de ses données personnelles (E-mail, Nom, Prénom, Nom d’utilisateur) selon les dispositions de la loi no 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel et modifiant la loi no 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés modifiée. Cette exploitation de données fait l’objet des autorisations et déclarations prévues notamment par ces dispositions légales. </p>
  </section>

</main>
