<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">Nos partenaires</%block>

<link rel="stylesheet" href="/media/microsite/handimooc/css/bootstrap.min.css">
<link rel="stylesheet" href="/media/microsite/handimooc/css/base.css">
<link rel="stylesheet" href="/media/microsite/handimooc/css/style-partenaire.css">


<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about bg-white custom_font">
        <h1 class="Exobold">Nos partenaires</h1>
        <p class="font-17 mt-50">La plateforme Handimooc est le fruit d'une étroite collaboration entre TH Conseil et 15 partenaires fortement impliqués dans l’emploi des personnes handicapées. Agefiph, Amazon, Artelia, Bayer, BNP Paribas, Dior, Électricité de France, Énedis, Handiem, Mission Handicap Assurance et Total ont soutenu TH Conseil dans la mise en place de ce MOOC. Découvrez comment nos participent au quotidien des personnes en situation de handicap. </p>

        <div class="row text-center mt-50">
          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">Agefiph</h2>
            <a href="https://www.agefiph.fr/">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/agefiph.jpg" alt="agefip logo handimooc">
            </a>
          </div>
          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">Amazon</h2>
            <a href="https://www.amazon.fr/">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/amazon.jpg" alt="amazon logo handimooc">
            </a>
          </div>

          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">Artelia</h2>
            <a href="https://www.arteliagroup.com/fr">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/artelia.jpg" alt="artelia logo handimooc">
            </a>
          </div>
          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">Bayer</h2>
            <a href="https://www.bayer.fr/actualite_Bayer-engagement-jeunes-handicap-Trophees-RSE-LEEM">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/bayer.jpg" alt="bayer logo handimooc">
            </a>
          </div>

          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">BNP</h2>
            <a href="https://group.bnpparibas/actualite/mission-handicap-bnp-paribas-agit">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/bnp.jpg" alt="bnp logo handimooc">
            </a>
          </div>
          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">EDF</h2>
            <a href="https://www.edf.fr/edf/accueil-magazine/edf-facilite-l-acces-a-l-emploi-des-personnes-en-situation-de-handicap">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/edf.jpg" alt="edf logo handimooc">
            </a>
          </div>

          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">Enedis</h2>
            <a href="http://www.enedis.fr/">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/enedis.jpg" alt="enedis logo handimooc">
            </a>
          </div>
          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">Handiem</h2>
            <a href="http://www.handiem.org/">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/handiem.jpg" alt="handiem logo handimooc">
            </a>
          </div>

          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">Dior</h2>
            <a href="https://www.dior.com/home/fr_fr?gclid=CjwKCAiAy4bTBRAvEiwAFtatHBEdVQxMGiNluxeZE_C31HheFsGP6nuoLDh4llG8Vb42Pd97fqXwRxoCSGEQAvD_BwE">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/dior.jpg" alt="dior logo handimooc">
            </a>
          </div>
          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">Radio France</h2>
            <a href="http://www.radiofrance.fr/">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/radiofrance.jpg" alt="radiofrance logo handimooc">
            </a>
          </div>


          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">Mission Handicap Assurance</h2>
            <a href="https://mission-handicap-assurance.fr/">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/mha.jpg" alt="mission handicap assurance logo handimooc">
            </a>
          </div>
          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">FIPHFP</h2>
            <a href="http://www.fiphfp.fr/">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/fiphfp.jpg" alt="fiphfp logo handimooc">
            </a>
          </div>

          <div class="col-sm-6 mb-75">
            <h2 class="mb-0">TOTAL</h2>
            <a href="https://www.total.com/fr/candidats/sengager/diversite-et-egalite-des-chances/supporting-people-disabilities-workplace?%FFbw=kludge1%FF">
              <img class="partenaire-logo" src="/media/microsite/handimooc/images/logos/total.jpg" alt="total logo handimooc">
            </a>
          </div>

        </div>
    </section>
</main>

<script src="/media/microsite/handimooc/bootstrap/js/bootstrap.min.js"></script>
