<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />
<style>
table, th, td {
    border: 2px solid black;
    padding: 10px 10px;
    font-size:1.1em;
    vertical-align:middle;
}
</style>
<%block name="pagetitle">Calendrier des sessions</%block>

<main id="main" aria-label="Content" tabindex="-1">
<div style="padding:40px">
<center><img src="/media/microsite/ifoca/tab1.jpg" style="width:76%"></center>
</div>
<div><center>
<img src="/media/microsite/ifoca/tab2.jpg" style="width:32.7%;margin:20px;">
<img src="/media/microsite/ifoca/tab3.jpg" style="width:32%;margin:20px;"></center>
</div>
</main>





<!--
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Calendrier des sessions</h1>
<center><p>
<table style="width:800px;border-width:1px;
 border-style:solid;
 border-color:black;">
<colgroup>
<col width="500" style="padding-left: 5px;padding-right:5px;">
<col width="75" style='font-weight:bold'>
<col width="75" >
<col width="75">
<col width="75">
</colgroup>
  <tr>
   <td></td>
   <td>T3 2017</td>
   <td>T4 2017</td>
   <td>T1 2018</td>
   <td>T2 2018</td>
   <td>T3 2018</td>
   <td>T4 2018</td>
  </tr>
  <tr>
    <td>MOOC : A la découverte du caoutchouc, un matériau remarquable (FR)</td>
    <td style="font-weight:bold">18/09 au 16/10/17</td>
    <td></td>
    <td style="font-weight:bold">01/03 au 03/04/18</td>
    <td></td>
    <td style="font-weight:bold">30/08 au 01/10/19</td>
    <td></td>
  </tr>
  <tr>
    <td>MOOC Rubber:a remarkable material (EN)</td>
    <td></td>
    <td></td>
    <td></td>
    <td style="font-weight:bold">31/05 au 02/07/18</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>SPOC Analyse de la défaillance des pièces en élastomères (FR)</td>
    <td></td>
    <td style="font-weight:bold">13/11 au 11/12/17</td>
    <td></td>
    <td style="font-weight:bold">29/03 au 30/04/18</td>
    <td></td>
    <td style="font-weight:bold">04/10 au 05/11/18</td>
  </tr>
  <tr>
    <td>SPOC Failure analysis of rubber parts (EN)</td>
    <td></td>
    <td style="font-weight:bold">13/11 au 11/12/17</td>
    <td></td>
    <td style="font-weight:bold">29/03 au 30/04/18</td>
    <td></td>
    <td style="font-weight:bold">04/10 au 05/11/18</td>
  </tr>
  <tr>
    <td>SPOC Modélisation du comportement mécanique pour la simulation numérique (FR)</td>
    <td></td>
    <td style="font-weight:bold">16/10 au 13/11/17</td>
    <td></td>
    <td style="font-weight:bold">15/05 au 13/06/18</td>
    <td></td>
    <td style="font-weight:bold">13/11 au 12/12/18</td>
  </tr>
  <tr>
    <td>SPOC Mechanical behavious modelization for numerical simulation (EN) </td>
    <td></td>
    <td style="font-weight:bold">16/10 au 13/11/17</td>
    <td></td>
    <td style="font-weight:bold">15/05 au 13/06/18</td>
    <td></td>
    <td style="font-weight:bold">13/11 au 12/12/18</td>
  </tr>
  <tr>
    <td>SPOC Bioproof: des matériaux verts pour la filière caoutchouc (Fr)</td>
    <td></td>
    <td style="font-weight:bold">20/11 au 18/12/17</td>
    <td></td>
    <td></td>
    <td style="font-weight:bold">18/06 au 09/07/18</td>
    <td style="font-weight:bold">21/11 au 20/12/18</td>
  </tr>
  <tr>
    <td>SPOC Thermoplastiques élastomères (Fr)</td>
    <td style="font-weight:bold">25/09 au 30/10/17</td>
    <td></td>
    <td style="font-weight:bold">19/03 au 17/04/18</td>
    <td></td>
    <td></td>
    <td style="font-weight:bold">09/10 au 07/11/18</td>
  </tr>
</table>


</p></center>    </section>
</main>
-->
