<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<title>Condition général d'utilisation</title>
<style>
  h1{
    font-weight: 800;
    color: #2a3889;
  }
  h2{
    font-size: 28px;
    background-color: #2a3889;
    color: white;
    padding: 10px;
  }
  h3{
    font-size : 24px;
    margin-top : 10px;
    margin-left: 10px;
  }
  p{
    margin-left : 10px;
  }
  a{
    color: #2a3889!important;
  }
  a:hover{
    color: #2a3889 !important;
  }
  .copyrightFoot>a{
    color: #fff!important;
  }
  .copyrightFoot>a:hover{
    color: #fff!important;
  }

</style>
<main id="main" aria-label="Content" tabindex="-1">
    <section style="background-color:white" class="container about">
        <h1>Condition général d'utilisation</h1>
        <div>
        <h2>1. UTILISATION DES DONNÉES À CARACTÈRE PERSONNEL</h2>

          <h3>1-1. FINALITÉS</h3><br/>
          <p>Les données à caractère personnel vous concernant sont utilisées dans le cadre de votre inscription au MOOC, et pour le suivi des cours en ligne, notamment l’envoi de messages relatifs à la mise en ligne de nouveau cours ou la transmission d’attestation.</p><br/>

          <h3>1-2. DESTINATAIRES</h3><br/>
          <p>Les données que vous nous transmettez lors de votre inscription et lors du suivi des cours en ligne sont destinées à la CFE-CGC, responsable de traitement, et pourront être transmises aux entités statutairement et contractuellement liées à la CFE-CGC.</p><br/>

          <h3>1-3. DROITS DES PERSONNES</h3><br/>
          <p>Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés, vous bénéficiez d’un droit d’accès, de rectification et d’opposition en vous adressant par écrit à la CFE-CGC - , 59, rue du Rocher; 75008 Paris ou par courriel à  <a href="mailto:rgpd@cfecgc.fr">rgpd@cfecgc.fr</a> </p><br/>

          <h2>2. COOKIES</h2>

          <h3>2-1. QU’EST-CE QU’UN COOKIE ?</h3><br/>
          <p>Un cookie est un témoin de connexion utilisé dans le cadre de la navigation internet. Généralement, un cookie informatique est un simple fichier stocké sur le disque dur de votre terminal (ordinateur, tablette ou smartphone).</p>
          <p>Le terme de cookies couvre ici l’ensemble des cookies ou traceurs déposés et/ou lus lors de la consultation des pages du site <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a></p>

          <h3>2-2. A QUOI SERVENT LES COOKIES ?</h3><br/>

          <p>La CFE-CGC utilise sur le site de <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a> des cookies pour faciliter la communication en ligne et effectuer des statistiques de navigation. </p>

          <h3>2-3. QUELS COOKIES SONT UTILISÉS SUR <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a> ?</h3><br/>

          <p><b>Des cookies techniques</b><br/>
          Ces cookies permettent à la CFE-CGC d’adapter la présentation des pages du site aux préférences d’affichage de votre terminal (langue utilisée, résolution d’affichage, système d’exploitation utilisé, etc.). Ces cookies sont automatiquement détruits à la fin de votre navigation sur <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a>.</p><br/>

          <p><b>Des cookies pour faciliter la communication en ligne</b><br/>
          Ces cookies ont pour but de se souvenir des données saisies par l’internaute sur les pages du site <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a> afin de faciliter sa navigation.</p><br/>

          <p><b>Des cookies de mesure d’audience</b><br/>
          Ces cookies sont utilisés par la CFE-CGC pour établir des statistiques et des volumes de fréquentation afin d’améliorer l’expérience de l’internaute sur les sites <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a>.
          La CFE-CGC utilise des outils analytiques pour analyser l’utilisation que vous faites sur le site <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a> et compiler des rapports anonymes et suivre l’activité sur ses pages.</p><br/>

          <p><b>Comment désactiver les cookies ?.</b><br/>
          Vous avez la possibilité de désactiver les cookies en paramétrant votre navigateur pour qu’il vous informe et soumette à votre acceptation chaque cookie avant qu’ils ne soient déposés sur votre ordinateur.
          Sachez que la désactivation de certains cookies risque de nuire à la fluidité de votre navigation. Nous vous conseillons donc de filtrer les cookies en tenant compte de leur finalité, plutôt que de les désactiver dans leur ensemble.</p><br/>

           
          <h2>3. CONDITIONS D’UTILISATION DU SITE</h2>

          <h3>3-1 ACCEPTATION DES CONDITIONS D’UTILISATION</h3><br/>

          <p>L’utilisateur du site reconnait avoir pris connaissance des présentes conditions d’utilisation avant toute utilisation du site et s’engage à les respecter.
          Lors de la création de son compte, l’internaute doit impérativement cocher la case par laquelle il reconnaît être parfaitement informé et accepter les conditions du présent document. A défaut, le compte n’est pas créé.
          La CFE-CGC conserve pendant une durée de un an, à compter de la date de création du compte, l’information relative à l’acceptation des présentes conditions d’utilisation par l’utilisateur et de la charte utilisateur.
          La CFE-CGC peut modifier les présentes conditions d’utilisation à tout moment. Ces modifications sont opposables à l’utilisateur dès leur mise en ligne sur le site <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a>.</p><br/>

          <h3>3-2 CRÉATION D’UN COMPTE, IDENTIFIANT, MOT DE PASSE, ADRESSE DE COURRIER ÉLECTRONIQUE</h3><br/>

          <p>Lors de la création du compte, l’utilisateur s’engage à fournir des informations réelles correspondant à sa seule situation et à les mettre à jour régulièrement.
          L’utilisateur s'engage également à ne pas créer une fausse identité.
          L’utilisateur est responsable du maintien de la confidentialité de ses identifiant et mot de passe qui lui permettent d'accéder aux cours mis en ligne au fur et à mesure par la CFE-CGC.
          L’utilisateur est également responsable de l’utilisation du compte de messagerie électronique personnel (adresse courriel) qu’il a indiqué lors de la création de compte sur le site <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a>. L’utilisateur veille également à ce que des tiers n’utilisent pas cette adresse de courrier électronique pour communiquer avec la CFE-CGC.
          En cas de perte ou de vol de son identifiant et/ou de son mot de passe, ou dans l’éventualité où l’utilisateur penserait qu’un tiers a accédé à son compte, l’utilisateur s’engage à informer la CFE-CGC par email à l’adresse <a href='mailto:mooc.egalitepro@cfecgc.fr'>mooc.egalitepro@cfecgc.fr</a> ou <a href="mailto:sysadmin@themoocagency.com">sysadmin@themoocagency.com</a></p><br/>

          <h3>3-3 CONTENU DES COURS EN LIGNE</h3><br/>

          <p>L’inscription aux cours en ligne nécessite que l’utilisateur créé préalablement un compte.</p><br/>

          <p>Chaque cours en ligne comprend :</p>
          <ul>
            <li>des vidéos : des animateurs du MOOC qui sont des intervenants de la CFE-CGC</li>
            <li>des exercices : des quiz afin que l’internaute puisse vérifier sa compréhension des savoirs communiqués au travers des cours en ligne.</li>
            <li>Selon la construction du cours, un espace au sein duquel les internautes ont accès à une communauté. </li>
          </ul>

          <p>Chaque cours en ligne présente :</p>
          <ul>
            <li>les dates de début et de fin du cours ;</li>
            <li>la présentation du contenu du cours ;</li>
            <li>le plan du cours comprenant, le cas échéant, les différentes séquences ;</li>
            <li>les pré-requis attendus pour participer au cours (étant précisé que tout utilisateur accède librement au cours auquel il souhaite participer)</li>
            <li>la présentation des formateurs ;</li>
            <li>la durée prévisionnelle du cours ;</li>
            <li>l’effort estimé en termes d’heures</li>
          </ul>

          <h3>3-4 USAGES AUTORISÉS / USAGES NON AUTORISÉS</h3><br/>
          <p>Le site <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a> a pour objet de dispenser une information sur la situation de l’égalité entre hommes et femmes en entreprise et participer à l’amélioration de celle-ci.</p><br/>
          <p>Le site doit être utilisé dans le respect des finalités susmentionnées.</p><br/>
          <p><b>En tant qu’utilisateur, vous devez :</b></p>
          <ul>
            <li>  utiliser les services du site <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a> dans les buts pour lesquels ils sont mis à votre disposition;</li>
            <li>  assurer la confidentialité de vos identifiant et mot de passe et ne pas les communiquer à un tiers, quel que soit votre lien avec ce tiers;</li>
            <li>  saisir uniquement des informations exactes;</li>
            <li>  mettre à jour régulièrement les informations vous concernant;</li>
            <li>  respecter la réglementation en vigueur.</li>
          </ul>
          <br/>
          <p><b>En tant qu’utilisateur, vous ne devez pas :</b></p>
          <ul>
            <li>  constituer une base de données à des fins publicitaires (envoi de promotion sur des offres, produits ou services par appels, fax, courriers, courriels ou newsletters non sollicités) ou autres;</li>
            <li>  mettre en ligne des contenus illégaux ou inappropriés (opinions politiques ou religieuses, atteintes aux bonnes mœurs, etc…) ;</li>
            <li>  le cas échéant, capter et/ou diffuser, par quelque moyen que ce soit, tout ou partie du contenu des cours en ligne auxquels vous participez, sous peine de sanction pénale ;</li>
            <li>  ne pas publier ou rendre accessibles les réponses aux exercices sur quelque support que ce soit. </li>
          </ul>

          <h3>3-5 CONTENUS ILLÉGAUX</h3><br/>
          <p>L’utilisateur est pénalement responsable des informations qu’il met en ligne sur le site <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a>, notamment les contenus qui constituent une provocation ou une apologie de crimes, de délits ou d’acte de terrorisme, une incitation à la haine ou à la discrimination, ou qui ont pour effet de porter atteinte à la réputation ou à la tranquillité des personnes sont punis par des peines pouvant aller jusqu’à 100 000 € d’amende et 7 ans d’emprisonnement (articles 23 à 41-1 de la loi du 29 juillet 1881 sur la liberté de la presse et article 421-2-5 du code pénal). </p><br/>

          <h3>3-6 SIGNALEMENT DE CONTENUS ILLÉGAUX MIS EN LIGNE</h3><br/>
          <p>La CFE-CGC met en place une procédure de signalement des contenus illégaux mis en ligne. Chaque utilisateur devra passer un courriel  à <a href="mailto:mooc.egalitepro@cfecgc.fr">mooc.egalitepro@cfecgc.fr</a>  avec l’objet « Dénoncer »</p><br/>
          <p>La CFE-CGC conserve l’ensemble de données ayant donné lieu à un signalement pendant un délai de cinq ans à compter de la date du signalement. </p><br/>

          <h2>4. RESPONSABILITE</h2>

          <p>La CFE-CGC ne saurait être tenu pour responsable des dommages de toute nature, directs ou indirects, résultant de l’utilisation du site <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a>, ni de l’impossibilité pour l’utilisateur d’accéder au site. </p><br/>

          <h2>5 – NOTIFICATIONS – ATTESTATION DE FIN DE FORMATION</h2>

          <p>Toute notification doit être adressée par courriel à <a href="mailto:mooc.egalitepro@cfecgc.fr">mooc.egalitepro@cfecgc.fr</a>.</p><br/>
          <p>Toute notification qui est destinée aux apprenants est envoyée par courriel à l'adresse que les internautes ont communiquée lors de la création de leur compte. On entend par notification l’attestation de suivi de cours en ligne que les internautes peuvent obtenir sous réserve qu’ils aient suivi la totalité du cours. Ce document ne vaut ni certification ni diplôme. </p><br/>

          <h2>6. PROPRIETE INTELLECTUELLE</h2>
          <p>Le site Internet <a href="www.MOOC-egalite-professionnelle.com">MOOC-egalite-professionnelle.com</a> est protégé au titre des dispositions relatives au droit d’auteur défini à l’article L.111-1 du code de la propriété intellectuelle et au titre des dispositions relatives aux bases de données définies aux articles L.341-1 et suivants du même code. La CFE-CGC est titulaire de l’ensemble des droits de propriété intellectuelle sur les éléments composant le site.</p><br/>
          <p>A l’exception des dispositions prévues à l’article L.122-5 du code de la propriété intellectuelle, toute représentation, reproduction ou diffusion, intégrale ou partielle du site, sur quelque support que ce soit, sans l'autorisation expresse et préalable de la CFE-CGC constitue un acte de contrefaçon, sanctionné au titre des articles L.335-2 et L.335.3 du même code.</p><br/>
          <p>Par ailleurs, toute représentation, reproduction ou diffusion, intégrale ou partielle de la marque la CFE-CGC, sur quelque support que ce soit, sans l'autorisation expresse et préalable de la CFE-CGC constitue un acte de contrefaçon, sanctionné au titre des articles L.521-10 du même code. </p><br/><br/>
          <p><i>Version Octobre 2019</i></p><br/>

        </div>
    </section>
</main>
