<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>
<style>
    /* main {
      background-image: url('/media/microsite/adpep66/auto/images/bg_img_cgu.png') !important;
    } */
    .about {
      margin: 20px auto;
      background-color: #fff;
      border-radius: 15px;
    }
    .tos-title {
      color: white;
      margin: 15px;
    }
    h2 {
      font-weight: bold;
    }
</style>
<main id="main" aria-label="Content" tabindex="-1">
    <h1 class="tos-title" >MENTIONS LÉGALES</h1>
    <section class="container about">
        <h2>1. Direction et gestion éditoriale</h2>
        <p>Président : Robert CLARIMON</p>
        <p>Directeur général : Franck PECQUEUR</p>
        <p>Responsable de communication : Véronique DITSCH</p>
        <p>Assistante de communication : Bénédicte BERNAT</p>
        <p></p>
        <p>ASSOCIATION DÉPARTEMENTALE DES PUPILLES DE L’ENSEIGNEMENT PUBLIC DES PYRÉNÉES-ORIENTALES</p>
        <p>Le site est la propriété de l’A.D.P.E.P.66 dont le siège se situe au :</p>
        <p>10 rue Paul Séjourné</p>
        <p>BP 22</p>
        <p>66350 TOULOUGES</p>
        <p>Tel : 04.68.62.25.25</p>
        <p>Mail : Adpep@adpep66.org</p>

        <h2>2. Droits d'auteur</h2>
        <p>L’ensemble de ce site relève de la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et visuelles. La reproduction de tout ou d’une partie de ce site sur un support quel qu’il soit est formellement interdite sauf autorisation expresse.</p>
    </section>
</main>
