<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangolib.markup import HTML
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%
from cms.djangoapps.microsite_manager.mongo_model import staticFiles
from cms.djangoapps.microsite_manager.models import Microsite
_key = static.get_value('domain_prefix')
_microsite_id = Microsite.objects.get(key=_key).id
_collection = 'cgu'
_values = {
  "microsite_id":_microsite_id
}
_template = staticFiles().return_template(_values,_collection).get('template')
if _template is None:
  _template = "<p>Cgu</p>"
%>
<%block name="pagetitle">${_("Terms of Service")}</%block>
<%
static.get_value('domain_prefix')
%>
<style>


main {
  background-image: url('/media/microsite/adpep66/auto/images/bg_img_cgu.png') !important;
  margin: -20px;
  padding: 15px;
}
.about {
  margin: 20px auto;
  background-color: #fff;
  border-radius: 15px;
}
.tos-title {
  color: white;
  margin: 15px;
}
h2 {
  font-weight: bold;
}
</style>
<main id="main" aria-label="Content" tabindex="-1">
  <h1 class="tos-title">CONDITIONS GENERALES DE VENTES</h1>
    <section class="container about">

      <h2>1. Définitions</h2>
      <p>Client : co-contractant du CRAF ADPEP66</p>
      <p>Contrat : convention de formation professionnelle conclue entre le CRAF et le Client. Cette convention peut prendre la forme d’un contrat en bonne et due forme, d’un bon de commande émis par le Client et validé par le CRAF ou une facture établie pour la réalisation des actions de formation professionnelle.</p>
      <p>Formation interentreprises :</p>
      <p>Formation sur catalogue réalisée dans les locaux du CRAF ADPEP 66 ou dans des locaux mis à sa disposition par tout tiers et/ou à distance.</p>
      <p>Formation intra-entreprise :</p>
      <p>Formation réalisée sur mesure pour le compte du Client, réalisée dans les locaux du Client, du CRAF, de tout tiers et/ou à distance.</p>
      <h2>2. Objet et champ d’application</h2>

      <p>Tout Contrat implique l’acceptation sans réserve par le Client et son adhésion pleine et entière aux présentes Conditions Générales qui prévalent sur tout autre document du Client, et notamment sur toutes conditions générales d’achat.</p>

      <p>Aucune dérogation aux présentes Conditions Générales n’est opposable au CRAF ADPEP 66 si elle n’a pas été expressément acceptée par écrit par celle-ci.</p>

      <h2>
        3. Documents contractuels
      </h2>
      <p>Le Contrat précisera l’intitulé de la formation, sa nature, sa durée, ses effectifs, les modalités de son déroulement et la sanction de la formation ainsi que son prix et les contributions financières éventuelles de personnes publiques.</p>
      <p>
        Tout Contrat sera établi selon les dispositions légales et réglementaires en vigueur et plus précisément suivant les articles L6353-1 et L6353-2 du Code du travail.
      </p>
      <h2>
        4. Report / annulation d’une formation par Demos
      </h2>
      <p>Le CRAF se réserve la possibilité d’annuler ou de reporter des formations planifiées sans indemnités, sous réserve d’en informer le Client avec un préavis raisonnable.</p>
      <h2>5. Annulation d’une formation par le Client</h2>
      <p>Toute formation ou cycle commencé est dû en totalité, sauf accord contraire exprès du CRAF.</p>
      <p>Toute annulation d’une formation à l’initiative du Client devra être communiquée par écrit dans les conditions qui suivent :</p>
      <ul>
        <li>Pour les formations Inter et intra entreprises (hors Cycles et Parcours) :
          <p>La demande devra être communiquée au moins quinze (15) jours calendaires avant le début de la formation. A défaut, 100% du montant de la formation restera immédiatement exigible à titre d’indemnité forfaitaire.</p>
        </li>
        <li>Pour les Cycles et Parcours :
          <p>La demande devra être communiquée au moins quinze (15) jours calendaires avant le début de la formation. A défaut, 50% du montant de la formation restera immédiatement exigible à titre d’indemnité forfaitaire.</p>
        </li>
      </ul>
      <h2>
        6. Remplacement d’un participant
      </h2>
      <p>
Quel que soit le type de la formation, sur demande écrite avant le début de la formation, le Client a la possibilité de remplacer un participant sans facturation supplémentaire.</p>
      <h2>
        7. Dématérialisation des supports
      </h2>
      <p>Dans le cadre d’un engagement environnemental, toute la documentation relative à la formation est remise sur des supports dématérialisés.</p>
      <h2>8. Refus de former</h2>
      <p>Dans le cas où un Contrat serait conclu entre le Client et le CRAF ADPEP 66 sans avoir procédé au paiement de la (des) formation(s) précédente(s), le CRAF ADPEP 66 pourra, sans autre motif et sans engager sa responsabilité, refuser d'honorer le Contrat et de délivrer les formations concernées, sans que le Client puisse prétendre à une quelconque indemnité, pour quelque raison que ce soit.</p>
      
      <h2>9. Prix et règlements</h2>
      <p>Pour les formations inter-entreprises, les factures sont émises à la fin de la formation. Les prix des cycles et parcours indiqués au catalogue et les prix des parcours à la carte incluent une remise non cumulable avec toute offre spéciale, promotion ou autre remise. Les repas ne sont pas compris dans le prix des formations. Ils seront éventuellement facturés en sus. Pour les formations intra-entreprises, un acompte minimum de 30% devra être versé par le Client à la conclusion du Contrat.</p>
      <p>Tous les prix sont indiqués en euros et TTC. La TVA n’est pas applicable. Les factures sont payables trente (30) jours calendaires à compter de la date d’émission de la facture, sans escompte et à l’ordre de CRAF ADPEP 66.</p>
      <p>Toute somme non payée à l'échéance donnera lieu au paiement par le Client de pénalités de retard égales au taux d’intérêt appliqué par la Banque Centrale Européenne à son opération de refinancement la plus récente (minimum 0%) majoré de 10 points de pourcentage.</p>
      <p>Ces pénalités sont exigibles de plein droit, sans mise en demeure préalable, dès le premier jour de retard de paiement par rapport à la date d’exigibilité du paiement.</p>
      <p>En outre, conformément aux dispositions législatives et réglementaires en vigueur, toute somme non payée à l'échéance donnera lieu au paiement par le Client d’une indemnité forfaitaire pour frais de recouvrement d’un montant de quarante euros (40 €). Cette indemnité est due de plein droit, sans mise en demeure préalable dès le premier jour de retard de paiement et pour chaque facture impayée à son échéance.</p>
      <h2>10. Règlement par un Opérateur de Compétences</h2>
      <p>Si le Client souhaite que le règlement soit effectué par l’Opérateur de Compétences dont il dépend, il lui appartient :</p>
      <ul>
        <li>
          de faire une demande de prise en charge avant le début de la formation et de s’assurer de la bonne fin de cette demande ;
        </li>
        <li>de l’indiquer explicitement sur son bulletin d’inscription ou sur son bon de commande ;</li>
        <li>de s’assurer de la bonne fin du paiement par l’Opérateur de Compétences qu’il aura désigné.</li>
      </ul>
      <p>
        Si l’Opérateur de Compétences ne prend en charge que partiellement le coût de la formation, le reliquat sera facturé au Client.
      </p>
      <p>
        Si le CRAF ADPEP 66 n’a pas reçu la prise en charge de l’Opérateur de Compétences avant la fin de la formation, le Client sera facturé de l’intégralité du coût de la formation concernée par ce financement.
      </p>
      <p>En cas de non-paiement par l’Opérateur de Compétences, pour quelque motif que ce soit, le Client sera redevable de l’intégralité du coût de la formation et sera facturé du montant correspondant.</p>
      <h2>11. Obligations et Responsabilité du CRAF ADPEP 66</h2>
      <p>Le CRAF ADPEP 66 s’engage à fournir la formation avec diligence et soin raisonnables. S’agissant d’une prestation intellectuelle, le CRAF ADPEP 66 n’est tenue qu’à une obligation de moyens.</p>
      <p>En conséquence, le CRAF ADPEP 66 sera responsable uniquement des dommages directs résultant d’une mauvaise exécution de ses prestations de formation, à l’exclusion de tout dommage immatériel ou indirect consécutifs ou non.</p>
      <p>En toutes hypothèses, la responsabilité globale de Demos, au titre ou à l'occasion de la formation, sera limitée au prix total de la formation.</p>
      <h2>12. Obligations du Client</h2>
      <p>Le Client s'engage à :</p>
      <ul>
        <li>payer le prix de la formation ;</li>
        <li>n'effectuer aucune reproduction de matériel ou documents dont les droits d'auteur appartiennent au CRAF ADPEP 66, sans l'accord écrit et préalable du CRAF ADPEP 66 ; et</li>
        <li>ne pas utiliser de matériel d'enregistrement audio ou vidéo lors des formations, sans l'accord écrit et préalable du CRAF ADPEP 66.</li>
      </ul>
      <h2>13. E-Learning</h2>
      <p>le CRAF ADPEP 66 accorde au Client une licence d’utilisation non exclusive, incessible et non transférable de ses contenus de formation à distance, ci-après le « Module ».</p>
      <p>
        L’ensemble des Modules seront mis à la disposition du Client, dans un portail e-learning, après la formation du Contrat.
      </p>
      <p>L’accès aux Modules est géré par la plateforme e-learning du CRAF.</p>
      <p>Un identifiant et un mot de passe sont communiqués au Client pour chacun des apprenants sur la base des informations fournies par le Client (nom, prénom, e-mail). L’identifiant et le mot de passe sont confidentiels, personnels, incessibles et intransmissibles.</p>
      <p>Le Client est responsable de la gestion et de la conservation des identifiants et mots de passe. En conséquence, il appartient au Client de mettre en œuvre toutes mesures de précaution nécessaires à leur protection et à leur conservation. Le Client est responsable des conséquences de leur utilisation.</p>
      <p>Le CRAF ADPEP 66 ne pourra en aucun cas être tenu pour responsable de toute utilisation frauduleuse de l’identifiant et du mot de passe du Client.</p>
      <p>Le Client s’engage à informer le CRAF ADPEP 66 de toute utilisation frauduleuse de l’identifiant et du mot de passe dès qu’il en a connaissance.</p>
      <p>Le Client disposera d’un délai communiqué par le CRAF ADPEP 66 pour consommer les licences d’utilisation des Modules. Passé ce délai, la(les) licence(s) d’utilisation consentie cessera(ont) immédiatement.</p>
      <p>L’hébergement des Modules sur les plateformes du Client et/ou la création de contenus digitaux sur mesure font l’objet de dispositions spécifiques à négocier entre les parties.</p>

      <h2>14. Confidentialité et Propriété Intellectuelle</h2>
      <p>Il est expressément convenu que toute information divulguée par le CRAF ADPEP 66 au titre ou à l’occasion de la formation doit être considérée comme confidentielle (ci-après « Informations ») et ne peut être communiquée à des tiers ou utilisée pour un objet différent de celui de la formation, sans l’accord préalable écrit du CRAF. Le droit de propriété sur toutes les Informations que le CRAF ADPEP 66 divulgue, quel qu’en soit la nature, le support et le mode de communication, dans le cadre ou à l’occasion de la formation, appartient exclusivement au CRAF ADPEP 66. En conséquence, le Client s’engage à conserver les
      Informations en lieu sûr et à y apporter au minimum, les mêmes mesures de protection que celles qu’il applique habituellement à ses propres informations. Le Client se porte fort du respect de ces stipulations de confidentialité et de conservation par les apprenants.</p>
      <p>La divulgation d’Informations par le CRAF ADPEP 66 ne peut en aucun cas être interprétée comme conférant de manière expresse ou implicite un droit quelconque (aux termes d’une licence ou par tout autre moyen) sur les Informations ou autres droits attachés à la propriété intellectuelle et industrielle, propriété littéraire et artistique (copyright), les marques ou le secret des affaires. Le paiement du prix n’opère aucun transfert de droit de propriété intellectuelle sur les Informations.</p>
      <p>Par dérogation, le CRAF ADPEP 66 accorde à l’apprenant, sous réserve des droits des tiers, une licence d’utilisation non exclusive, noncessible et strictement personnelle du support de formation fourni, et ce quel que soit le support. L’apprenant a le droit d’effectuer une photocopie de ce support pour son usage personnel à des fins d’étude, à condition que la mention des droits d’auteur du CRAF ADPEP 66 ou toute autre mention de propriété intellectuelle soient reproduites sur chaque copie du support de formation. L’apprenant et le Client n’ont pas le droit, sauf accord préalable du CRAF ADPEP 66 :</p>
      <ul>
        <li>d'utiliser, copier, modifier, créer une œuvre dérivée et/ ou distribuer le support de formation à l’exception de ce qui est prévu aux présentes Conditions Générales ;</li>
        <li>de désassembler, décompiler et/ou traduire le support de formation, sauf dispositions légales contraires et sans possibilité de renonciation contractuelle ;</li>
        <li>de sous licencier, louer et/ou prêter le support de formation ;</li>
        <li>d’utiliser à d’autres fins que la formation le support associé.</li>
      </ul>

      <h2>15. Ethique</h2>
      <p>15.1 Le Client garantit que ni lui ni aucune personne sous sa responsabilité ou agissant en son nom ou pour son compte n’a accordé ni n’accordera d’offre, de rémunération ou de paiement ou avantage d'aucune sorte, constituant ou pouvant constituer selon la réglementation applicable au Contrat et aux parties un acte ou une tentative de corruption ou de trafic d’influence, directement ou indirectement, en vue ou en contrepartie de l'attribution d’un avantage (ci-après les « Actes de Corruption »). Le Client s’assurera qu’une enquête sera menée avec diligence en cas de preuve ou soupçon relatif à la commission d’un Acte de Corruption et sera signalée à Demos.</p>
      <p>15.2 Le Client garantit:</p>
      <ul>
        <li>que lui-même et toutes les personnes sous sa responsabilité ou agissant en son nom ou pour son compte, ont connaissance et se conforment à toutes les lois et réglementations sur la lutte contre la corruption qui leur sont applicables.</li>
        <li>qu’il a mis en œuvre des règles et procédures permettant de se conformer auxdites lois et réglementations;</li>
        <li>qu’il a mis en place des règles et procédures appropriées visant à prévenir la commission d’Actes de Corruption, par lui-même et par les personnes sous sa responsabilité ou agissant en son nom ou pour son compte;</li>
        <li>que les archives relatives à ses activités, y compris les documents comptables, sont tenues et conservées de manière à garantir leur intégrité.</li>
      </ul>
      <p>La preuve de l’existence de ces règles et procédures évoquées supra sera communiquée sur demande à Demos.</p>
      <p>15.3 Tout manquement à une des obligations ci-dessus ouvrira le droit au CRAF ADPEP 66 de résilier immédiatement le Contrat et/ou de demander le paiement de dommages et intérêts</p>
      <h2>16. Protection des données personnelles</h2>
      <p>Dans le cadre de la réalisation des formations, le CRAF ADPEP 66 est amenée à collecter des données à caractère personnel. Ces données peuvent être partagées avec des sites du CRAF ADPEP 66 et éventuellement avec des prestataires, sous-traitants... pour le strict besoin des formations.</p>
      <p>En outre, les personnes concernées disposent sur les données personnelles les concernant d’un droit d’accès, de rectification, d’effacement, de limitation, de portabilité, et d’apposition et peuvent à tout moment révoquer les consentements aux traitements. Les personnes concernées seront susceptibles de faire valoir leurs droits directement auprès de CRAF ADPEP 66 ou de l’éventuel prestataire ou sous-traitant, qui s’engage à y faire droit dans les délais réglementaires et à en informer le CRAF ADPEP 66, en écrivant à l’adresse suivante : craf@adpep66.org</p>
      <p>Conformément à l’exigence essentielle de sécurité des données personnelles, le CRAF ADPEP 66 s’engage dans le cadre de l’exécution de ses formations à prendre toutes mesures techniques et organisationnelles utiles afin de préserver la sécurité et la confidentialité des données à caractère personnel et notamment d’empêcher qu’elles ne soient déformées, endommagées, perdues, détournées, corrompues, divulguées, transmises et/ou communiquées à des personnes non autorisées. Par conséquent, le CRAF ADPEP 66 s’engage à :</p>
      <ul>
        <li>Ne traiter les données personnelles que pour le strict besoin des formations ;</li>
        <li>Conserver les données personnelles pendant trois (3) ans ou une durée supérieure pour se conformer aux obligations légales, résoudre d’éventuels litiges et faire respecter les engagements contractuels. ;</li>
        <li>En cas de sous-traitance, le CRAF ADPEP 66 se porte fort du respect par ses sous-traitants de tous ses engagements en matière de sécurité et de protection des données personnelles.</li>
        <li>Enfin, dans le cas où les données à caractère personnel seraient amenées à être transférées hors de l'Union européenne, il est rappelé que cela ne pourra se faire sans l’accord du Client et/ou de la personne physique concernée.</li>
      </ul>
      <h2>17. Communication</h2>
      <p>Le Client autorise expressément l’ADPEP 66 à mentionner son nom, son logo et à faire mention à titre de références de la conclusion d’un Contrat et de toute opération découlant de son application dans l’ensemble de leurs documents de communication.</p>
      <h2>18. Loi applicable et juridiction</h2>
      <p>Les Contrats et tous les rapports entre le CRAF ADPEP 66 et son Client relèvent de la Loi française. Tous litiges qui ne pourraient être réglés à l’amiable dans un délai de soixante (60) jours compté à partir de la date de la première présentation de la lettre recommandée avec accusé de réception, que la partie qui soulève le différend devra avoir adressée à
      l’autre, seront de la compétence exclusive du tribunal de commerce de Perpignan quel que soit le siège du Client, nonobstant pluralité de défendeurs ou appel en garantie.</p>

</section>
</main>
