<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangolib.markup import HTML
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%
from cms.djangoapps.microsite_manager.mongo_model import staticFiles
from cms.djangoapps.microsite_manager.models import Microsite
_key = static.get_value('domain_prefix')
_microsite_id = Microsite.objects.get(key=_key).id
_collection = 'cgu'
_values = {
  "microsite_id":_microsite_id
}
_template = staticFiles().return_template(_values,_collection).get('template')
if _template is None:
  _template = "<p>Cgu</p>"
%>
<%block name="pagetitle">${_("Terms of Service")}</%block>
<%
static.get_value('domain_prefix')
%>
<style>
main {
 background-color: #fff;
}
h1,h2{
  font-weight: bolder;
  color: black;
}
h1{
  font-size: 1.5em;
}
h2{
  font-size: 1.2em;
}
</style>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
      <h1 class="p-p"><span class="s-t"> Conditions Générales d’Utilisation de MOBTIPS (www.mobtips.fr) </span>&nbsp;</h1>
      <p class="p-p1">&nbsp;</p>
      <ul class="wwnum5_"><li class="calibre2"><h2 class="p-p2"><span class="s-t1">1. Mentions légales et crédits.</span>&nbsp;</p>
      </li>
      </ul>
      <p class="p-p2">&nbsp;</p>
      <ul class="wwnum5_"><li class="calibre2"><p class="p-p2"><span class="s-t1">Propriétaire </span><span class="s-t2">:</span><span class="s-t2"> Institut VEDECOM&nbsp;; Fondation Partenariale, Immatriculée sous le numéro SIREN 524 979&nbsp;853 &ndash; Code APE 7219Z, Dont le siège social est situé 23bis Allée des Marronniers, à Versailles (78000), France. </span>&nbsp;</p>
      </li>
      </ul>
      <p class="p-p3">&nbsp;</p>
      <ul class="wwnum5_"><li class="calibre2"><p class="p-p2"><span class="s-t1">Conception graphique </span><span class="s-t2">: Institut VEDECOM </span>&nbsp;</p>
      </li>
      </ul>
      <p class="p-p3">&nbsp;</p>
      <ul class="wwnum5_"><li class="calibre2"><p class="p-p2"><span class="s-t1">Responsable publication</span><span class="s-t2"> : Institut </span><span class="s-t2">VEDECOM </span>&nbsp;</p>
      </li>
      <li class="calibre2"><p class="p-p3">&nbsp;</p>
      </li>
      <li class="calibre2"><p class="p-p2"><span class="s-t1">Hébergeur </span><span class="s-t2">: Gandhi</span>&nbsp;</p>
      </li>
      </ul>
      <p class="p-p4">&nbsp;</p>
      <ul class="wwnum5_"><li class="calibre2"><p class="p-p2"><span class="s-t1">Crédits </span><span class="s-t2">&nbsp;: La plupart des contenus relevant du Droit d’auteur (photos, vidéos, pictogrammes, dessins…) sont propriétés de l’Institut VEDECOM. </span>&nbsp;</p>
      </li>
      </ul>
      <p class="p-p5"><span class="s-t2">Toute œuvre appartenant à un tiers est créditée. </span><span class="s-t1">&nbsp;</span>&nbsp;</p>
      <p class="p-p6"><span class="s-t2">En cas d’erreur ou d’oubli d’affichage des crédits, merci de contacter l’adresse suivante&nbsp;: formation@vedecom.fr</span>&nbsp;</p>
      <p class="p-p4">&nbsp;</p>
      <ul class="wwnum5_"><li class="calibre2"><p class="p-p2"><span class="s-t1">Crédits logos et pictogrammes</span><span class="s-t2">&nbsp;: VEDECOM </span>&nbsp;</p>
      </li>
      </ul>
      <p class="p-p7">&nbsp;</p>
      <h2 class="p-p8"><span class="s-t1">2. Conditions générales d’utilisation du site et des services proposés (CGU).</span>&nbsp;</h2>
      <p class="p-p8"><span class="s-t2">L’utilisation du site </span><span class="s-internet_20_link"><span class="s-t2">www. MOBTIPS (mobtips.fr</span></span><span class="s-t2">) implique l’acceptation pleine et entière par les Utilisateurs, tels que définis à l’article 11 des présentes, des conditions générales d’utilisation ci-après décrites (les «&nbsp;CGU&nbsp;»). </span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">Les CGU sont directement consultables sur le site à tout moment. VEDECOM se réserve le droit de les modifier à tout moment. Les CGU modifiées prendront effet à la date de leur mise en ligne sur le site et sont réputées acceptées sans réserve par tout Utilisateur qui navigue sur le Site postérieurement à leur mise en ligne. Les CGU applicables sont celles en vigueur au jour de la navigation sur le Site</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">Ce site est normalement accessible à tout moment aux Utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par VEDECOM, qui s’efforcera alors dans la mesure du possible de communiquer préalablement aux Utilisateurs les dates et heures de l’intervention.</span>&nbsp;</p>
      <p class="p-p7">&nbsp;</p>
      <h2 class="p-p8"><span class="s-t1">3. Description des services fournis.</span>&nbsp;</h2>
      <p class="p-p8"><span class="s-t2">MOBTIPS est un module de micro learning pour la compréhension des définitions et concepts liés aux Nouvelles Mobilités. VEDECOM s’efforce de fournir sur le site </span><a href="http://www.mobtips.fr/" class="calibre3"><span class="s-internet_20_link"><span class="s-t2">www.mobtips.fr</span></span></a><span class="s-t2"> des informations aussi précises que possible. Toutefois, en aucun cas, il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son propre fait ou du fait des tiers partenaires qui lui fournissent ces informations.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">Toutes les informations indiquées sur MOBTIPS sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site MOBTIPS ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">3.1. Inscription au service</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">3.1.1 Conditions d'inscription à MOBTIPS</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">L’accès aux fonctionnalités de MOBTIPS nécessite d'être inscrit et d'obtenir un compte. Avant de pouvoir vous inscrire sur MOBTIPS vous devez avoir lu et accepté les présentes CGU et la Politique de protection des données personnelles également accessible sur le site.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">L’Utilisateur déclare avoir la capacité d'accepter les CGU, c'est-à-dire avoir plus de 16 ans et ne pas faire l'objet d'une mesure de protection juridique des majeurs (mise sous sauvegarde de justice, sous tutelle ou sous curatelle).</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">Avant d'accéder à MOBTIPS, le consentement doit être donné par le titulaire de l'autorité parentale pour les mineurs de moins de 16 ans.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">3.2.2 Création de compte</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">La création d’un compte se fait par complétion manuelle par l’Utilisateur, sur MOBTIPS, des champs obligatoires figurant sur le formulaire d'inscription, à l'aide d'informations complètes et exactes. Pour enregistrer son compte, l’Utilisateur doit fournir à l’Institut VEDECOM certaines informations à caractère personnel telles que son nom, prénom et votre adresse email. Le descriptif du traitement des données est disponible dans la Politique de protection des données personnelles.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">L’Utilisateur recevra un email de confirmation de la création de son compte.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">A l'occasion de la création de son compte, l’Utilisateur s’engage à fournir des informations personnelles vraies, exactes, complètes et à les mettre à jour par l'intermédiaire de sa page personnel profil ou en en avertissant l’Institut VEDECOM, afin d'en garantir la pertinence et l'exactitude tout au long de l’utilisation de MOBTIPS.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">L’Utilisateur s’engage à garder secret le mot de passe choisi lors de la création de son compte et à ne le communiquer à aucun tiers. En cas de perte ou divulgation du mot de passe, l’Uilisateur s’engage à en informer sans délai l’Institut VEDECOM. L’Utilisateur est seul responsable de l'utilisation faite de son compte par un tiers et ce tant que l’Institut VEDECOM n’a pas été notifié par l’Utilisateur de la perte de son compte, de son utilisation frauduleuse ou de la divulgation (volontaire ou involontaire) de son mot de passe à un tiers.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">L’Utilisateur est responsable de l'utilisation de MOBTIPS et de toutes les actions réalisées au sein de MOBTIPS avec son identifiant et son mot de passe, sauf si l'utilisation de son compte a été faite après sa désinscription, ou après notification à l’Institut VEDECOM d'une utilisation abusive de son compte.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">L’Utilisateur s’engage à ne pas créer ou utiliser, sous sa propre identité ou celle d'un tiers, d'autres comptes que celui initialement créé. L’Utilisateur ne peut pas autoriser des tiers à utiliser son compte. L’Utilisateur ne peut pas céder, mettre à disposition ou transférer d’une quelconque manière son compte à toute autre personne ou entité.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">L’Utilisateur sera seul autorisé à accéder à MOBTIS à l'aide de son identifiant et son mot de passe. Toute utilisation de MOBTIPS au moyen de ses identifiants et mot de passe est réputée avoir été faite par l’Utilisateur lui-même. En cas d'utilisation par un tiers de ses identifiant et mot de passe, l’Utilisateur devra en avertir immédiatement l’Institut VEDECOM en lui adressant un email à l'adresse suivante : formation@vedecom.fr.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">L’Utilisateur accepte de respecter les lois applicables lorsqu’il utilise MOBTIPS, et à n’utiliser les MOBTIPS qu'à des fins légales. Le contenu présent sur MOBTIPS doit uniquement être utilisé pour un usage privé.</span>&nbsp;</p>
      <p class="p-p7">&nbsp;</p>
      <p class="p-p7">&nbsp;</p>
      <p class="p-p7">&nbsp;</p>
      <h2 class="p-p8"><span class="s-t1">4. Propriété intellectuelle et contrefaçons.</span>&nbsp;</h2>
      <p class="p-p8"><span class="s-t2">VEDECOM est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage et/ou d’exploitation sur tous les éléments accessibles sur le site, notamment les textes, images, vidéos, graphismes, logo, icônes, sons, logiciels.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">Toute reproduction, représentation, diffusion publique ou privée, modification, publication, traduction, adaptation (notamment l’ajout d’éléments artistiques et/ou de forme) de tout ou partie </span><span class="s-t2">des éléments du site, sur tout support et/ou tout format, et quel que soit le moyen ou le procédé utilisé connu ou inconnu à ce jour, est interdite et ce dans tous lieux, pour tous pays et toutes les langues pour la durée prévue par la loi française et notamment le code français de la propriété intellectuelle et le droit étranger applicable le cas échéant, sauf autorisation écrite, préalable et expresse de VEDECOM. </span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">Sous réserve du respect des CGU, VEDECOM accorde aux Utilisateurs un droit personnel, non-exclusif, non-transférable d’accéder et d’utiliser le site </span><a href="http://www.mobtips.fr/" class="calibre3"><span class="s-internet_20_link"><span class="s-t2">www.mobtips.fr</span></span></a><span class="s-t2"> et son contenu aux seules fins de consultation du site et d’utilisation des services qu’il propose.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">A l’exception de ce qui précède et sous réserve des autorisations données par les licences sur les contenus tiers du site </span><a href="http://www.mobtips.fr/" class="calibre3"><span class="s-internet_20_link"><span class="s-t2">www.mobtips.fr</span></span></a><span class="s-t2">, il est strictement interdit aux Utilisateurs de :</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">• copier, reproduire, représenter, diffuser, distribuer, publier, de façon permanente ou provisoire, tout ou partie du site et/ou de son contenu par tout moyen et sur tout support connu ou inconnu à ce jour;</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">• créer des œuvres dérivées à partir du site et/ou de son contenu ;</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">• modifier, traduire, adapter, arranger, tout ou partie du site et/ou de son contenu ;</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">• désassembler, décompiler, effectuer de l’ingénierie inverse sur le site et/ou son contenu ;</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">• distribuer, transmettre, diffuser, vendre, louer, concéder ou exploiter, de quelque manière que ce soit, sans l’accord exprès écrit préalable de VEDECOM, tout ou partie du Site et/ou de son Contenu.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et pourra faire l’objet de poursuites conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</span>&nbsp;</p>
      <p class="p-p7">&nbsp;</p>
      <h2 class="p-p8"><span class="s-t1">5. Responsabilité de l’Utilisateur</span>&nbsp;</h2>
      <p class="p-p8"><span class="s-t2">Dans le cadre de l’utilisation du site et/ou de l’accès aux services proposés sur le site, l’Utilisateur s’engage à :</span>&nbsp;</p>
      <ul class="wwnum3_"><li class="calibre2"><p class="p-p2"><span class="s-t2">ne pas tenir de propos et/ou n’avoir aucun comportement désobligeant de nature à porter atteinte, de quelque manière que ce soit, à VEDECOM, aux autres Utilisateurs et plus généralement à tout tiers ;</span>&nbsp;</p>
      </li>
      <li class="calibre2"><p class="p-p2"><span class="s-t2">ne pas tenter de perturber ou de compromettre l’intégrité ou la sécurité du système informatique ou au réseau de VEDECOM, ou de déchiffrer toute transmission à destination ou en provenance des serveurs du site ou des services ;</span>&nbsp;</p>
      </li>
      <li class="calibre2"><p class="p-p2"><span class="s-t2">ne pas usurper l’identité de toute personne physique ou morale, d’utiliser un faux nom ou de faire de fausses déclarations lors de l’utilisation du site ;</span>&nbsp;</p>
      </li>
      <li class="calibre2"><p class="p-p2"><span class="s-t2">ne pas utiliser le site d’une manière qui n’est pas conforme aux présentes CGU&nbsp;;</span>&nbsp;</p>
      </li>
      <li class="calibre2"><p class="p-p2"><span class="s-t2">d’une manière générale, ne pas réaliser d’actes contraires à la loi en utilisant le site web, que ces actes soient dirigés à l’encontre de VEDECOM Tech, des autres Utilisateurs ou de tiers.</span>&nbsp;</p>
      </li>
      </ul>
      <p class="p-p8"><span class="s-t2">Si l’Utilisateur venait à manquer à l’une quelconque de ces obligations, ce dernier serait seul responsable des dommages causés par lui à VEDECOM, aux autres Utilisateurs ou aux tiers. A ce titre, l’Utilisateur s’engage à garantir VEDECOM contre l’ensemble des réclamations, actions ou recours de toute nature qui pourraient en résulter et à l’indemniser des dommages, frais ou indemnités quelconques y afférents.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">Le cas échéant, VEDECOM se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’Utilisateur, notamment en cas de message contraire à la loi tels que des messages à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).</span>&nbsp;</p>
      <p class="p-p9">&nbsp;</p>
      <h2 class="p-p8"><span class="s-t1">6. Limitations de responsabilité.</span>&nbsp;</h2>
      <p class="p-p8"><span class="s-t2">VEDECOM ne peut garantir aux Utilisateurs l’exactitude et/ou l’actualité de toutes les informations publiées sur le site </span><a href="http://www.mobtips.fr/" class="calibre3"><span class="s-internet_20_link"><span class="s-t2">www.mobtips.fr</span></span></a><span class="s-t2"> . En conséquence, VEDECOM décline toute responsabilité au regard d’éventuelles imprécisions, omissions ou erreurs.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">VEDECOM ne pourra être tenu responsable des dommages directs et indirects causés à l’Utilisateur lors de l’accès et l’utilisation du site </span><a href="http://www.mobtips.fr/" class="calibre3"><span class="s-internet_20_link"><span class="s-t2">www.mobtips.fr</span></span></a><span class="s-t2"> . VEDECOM ne pourra également être tenu responsable pour tous les dommages causés du fait de l’indisponibilité ou la disparition de tout ou partie de son site web et/ou des services qu’il propose.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">La responsabilité de VEDECOM ne saurait être engagée pour tous les inconvénients ou dommages liées à l'utilisation du réseau Internet. Il appartient aux Utilisateurs de prendre toute mesure appropriée pour assurer la sécurité de leurs équipements, données, logiciels ou autres, notamment contre la contamination par tout virus et/ou de tentative d’intrusion dont ils pourraient être victimes.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">Les photos mises sur le site sont non contractuelles. </span>&nbsp;</p>
      <p class="p-p9">&nbsp;</p>
      <h2 class="p-p8"><span class="s-t1">7. Gestion des données personnelles.</span>&nbsp;</h2>
      <p class="p-p8"><span class="s-t2">VEDECOM peut être amené à collecter et utiliser des données à caractère personnel concernant les Utilisateurs navigant sur le site web.</span>&nbsp;</p>
      <p class="p-p8"><span class="s-t2">VEDECOM s’engage à assurer la protection des données à caractère personnel des Utilisateurs. Pour plus d’information sur les modalités de collecte, d’utilisation et de traitement des données à caractère personnel par VEDECOM, l’Utilisateur est invité à consulter la Politique de protection des données personnelles sur le site</span>&nbsp;: <a href="http://www.vedecom.fr/wp-content/uploads/Politique-de-protection-des-donn%C3%A9es-personnelles.pdf" class="calibre3"><span class="s-internet_20_link">http://www.vedecom.fr/wp-content/uploads/Politique-de-protection-des-donn%C3%A9es-personnelles.pdf</span></a><span class="s-t2"> </span>&nbsp;</p>
      <p class="p-p7">&nbsp;</p>
      <h2 class="p-p8"><span class="s-t1">8. Liens hypertextes </span>&nbsp;</h2>
      <p class="p-p8"><span class="s-t2">Le site </span><a href="http://www.mobtips.fr/" class="calibre3"><span class="s-internet_20_link"><span class="s-t2">www.mobtips.fr</span></span></a><span class="s-t2">&nbsp; contient un certain nombre de liens hypertextes vers d’autres sites. Il est précisé que les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de VEDECOM.</span>&nbsp;</p>
      <p class="p-p7">&nbsp;</p>
      <h2 class="p-p8"><span class="s-t1">9. Droit applicable et attribution de juridiction</span>&nbsp;</h2>
      <p class="p-p8"><span class="s-t2">Tout litige en relation avec l’utilisation du site </span><a href="http://www.mobtips.fr/" class="calibre3"><span class="s-internet_20_link"><span class="s-t2">www.mobtips.fr</span></span></a><span class="s-t2">&nbsp; est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Versailles.</span>&nbsp;</p>
      <p class="p-p9">&nbsp;</p>
      <h2 class="p-p8"><span class="s-t1">10. Contact</span>&nbsp;</h2>
      <p class="p-p10"><span class="s-t2">Pour tout signalement de contenus ou d’activité illicite, l’Utilisateur peut contacter VEDECOM à l’adresse suivante&nbsp;: </span><a href="mailto:___formation@vedecom.fr" class="calibre3"><span class="s-internet_20_link"><span class="s-t2">___formation@vedecom.fr</span></span></a><span class="s-t2"> ______ </span>&nbsp;</p>
      <p class="p-p9">&nbsp;</p>
      <p class="p-p9">&nbsp;</p>
      <p class="p-p9">&nbsp;</p>
      <h2 class="p-p8"><span class="s-t1">11. Lexique.</span>&nbsp;</h2>
      <ul class="wwnum5_"><li class="calibre2"><p class="p-p2"><span class="s-t2">«&nbsp;</span><span class="s-t1">Utilisateur(s)</span><span class="s-t2">&nbsp;» désigne toute personne physique ou morale qui se connecte, qui navigue, lit, visionne, et utilise le site </span><a href="http://www.mobtips.fr/" class="calibre3"><span class="s-internet_20_link"><span class="s-t2">www.mobtips.fr</span></span></a><span class="s-t2"> </span>&nbsp;</p>
      </li>
      </ul>
      <p class="p-p7">&nbsp;</p>
      <p class="p-p7">&nbsp;</p>
      <p class="p-p8"><span class="s-t2">&nbsp;</span>&nbsp;</p>
    </section>
</main>
