<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "courseware" %></%def>
<%!
from django.utils.translation import ugettext as _
from django.conf import settings
from edxnotes.helpers import is_feature_enabled as is_edxnotes_enabled
from openedx.core.djangolib.markup import HTML
from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from datetime import datetime, date
import json
from datetime import datetime, date
from tma_apps.tma_support_functions import tma_verify_access

primary_color = configuration_helpers.get_value('primary_color')
background_url = configuration_helpers.get_value('bg_img')

logo_2 = '/media/microsite/ademe/auto/images/Image1.jpg'
logo_1 = '/media/microsite/ademe/auto/images/Image2.png'
logo_3 = '/media/microsite/ademe/auto/images/Image3.jpg'
logo_mooc = '/media/microsite/ademe/auto/images/Image4.png'

%>



<%block name="pagetitle">${_("Certificat de reussite")}</%block>

<!-- COMMON STYLE-->
<!-- https://ademe.pprod1.the-mooc-agency.com/tma_apps/course-v1:ademe+2021+01/certificate/render -->
<style>

@font-face {
  font-family: 'Gotham-Ultra';
  src: url('/media/microsite/ademe/fonts/iCielGotham-Ultra.eot');
  src: url('/media/microsite/ademe/fonts/iCielGotham-Ultra.eot') format('embedded-opentype'),
      url('/media/microsite/ademe/fonts/iCielGotham-Ultra.woff2') format('woff2'),
      url('/media/microsite/ademe/fonts/iCielGotham-Ultra.woff') format('woff'),
      url('/media/microsite/ademe/fonts/iCielGotham-Ultra.ttf') format('truetype'),
      url('/media/microsite/ademe/fonts/iCielGotham-Ultra.svg') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/media/microsite/ademe/fonts/iCielGotham-Medium.eot');
  src: url('/media/microsite/ademe/fonts/iCielGotham-Medium.eot') format('embedded-opentype'),
      url('/media/microsite/ademe/fonts/iCielGotham-Medium.woff2') format('woff2'),
      url('/media/microsite/ademe/fonts/iCielGotham-Medium.woff') format('woff'),
      url('/media/microsite/ademe/fonts/iCielGotham-Medium.ttf') format('truetype'),
      url('/media/microsite/ademe/fonts/iCielGotham-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham-Thin';
  src: url('/media/microsite/ademe/fonts/iCielGotham-Thin.eot');
  src: url('/media/microsite/ademe/fonts/iCielGotham-Thin.eot') format('embedded-opentype'),
      url('/media/microsite/ademe/fonts/iCielGotham-Thin.woff2') format('woff2'),
      url('/media/microsite/ademe/fonts/iCielGotham-Thin.woff') format('woff'),
      url('/media/microsite/ademe/fonts/iCielGotham-Thin.ttf') format('truetype'),
      url('/media/microsite/ademe/fonts/iCielGotham-Thin.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


  h1,h2,h3,h4,h5,p{
    font-family: "Open Sans" , "Gotham-Thin" !important;
  }
  p{
    padding:10px
  }
  h4{
    font-size: 1rem;
  }
  h3 {
    font-size: 1.7rem
  }
  h2 {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  #certificate-wrapper{
    background: white;
  }
  .certificate-border{
    border:2px solid ${primary_color};
    border-radius : 5px;
  }
  #custom-btn{
    background: ${primary_color};
    border: none;
    box-shadow: none;
    text-shadow: none;
  }
  #internal-border{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background: white;
  }
  #certificate-wrapper{
    min-height: calc(100vh - 133px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #certificate-container{
    width:854px;
    height:500px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('${background_url}')
  }
  #pdf-btn-wrapper{
    padding: 15px
  }
  #noCertificateMessage{
    background: white;
    height: calc(100vh - 133px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>

<!-- CUSTOM STYLE -->
<style>

#logo-mooc {
  height: 75px;
  margin-right: 10px;
}
#name {
  /* font-family: "Gotham" !important ; */
  font-style: italic;
  color: #0070C0;
  font-weight: 900;
  text-transform: capitalize;
}
#course-name {
  /* font-family: "Open Sans", "Gotham" !important ; */
  font-style: italic;
  color: black;
  font-weight: 900;
}
#comment {
  width:65%;
  line-height: 1.6rem;
}
#secondary-logo {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
#secondary-logo img {
  height: 90px;
}
#date_deliver {
  font-family: 'Open Sans' !important;
  font-weight: 400 !important;
}
strong {
  font-family: "Gotham" !important ;
}

</style>
% if grades.get('passed') or  tma_verify_access(request.user).is_tma_team():
<div id="certificate-wrapper">
  <div id="pdf-btn-wrapper">
    <button id="custom-btn" onclick="CertificateToPdf()">TELECHARGER PDF</button>
  </div>
  <div id="certificate-container" class=" certificate-border">
      <div id="internal-border" class=" certificate-border">
          <img src="${logo_mooc}" alt="logo-mooc" id="logo-mooc">
          <h4>This certificate is presented to</h4>
          <h3 id="name">${first_name} ${last_name}</h3>
          <h4>For successfully completing the MOOC on</h4>
          <h2 id="course-name">"${course_name}"</h2>
          <h4 id="comment">Disseminated through the Sustainable Building MOOC Platform by <strong>ADEME</strong> in partnership with <strong>LETCHI</strong> and <strong>PEEB</strong> </h4>
          <div id="secondary-logo">
            <img src="${logo_1}" alt="logo-Letchi" style="height: 75px; margin-right:25px;">
            <img src="${logo_2}" alt="logo-RF">
            <img src="${logo_3}" alt="logo-PEEB">
          </div>
          <h4>Delivered on: <span id="date_deliver"></span></h4>
          <!-- <h4><strong>Number of Theoretical Hours: 9 hours</strong></h4> -->

      </div>
  </div>
</div>
%else:
  <div id="noCertificateMessage">
      <h3>Certificat Non Disponible</h3>
      <p>Vous n'avez pas atteint le score minimal requis pour obtenir votre certificat.</p>
  </div>
%endif

<!-- PDF CREATOR-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script>
  function CertificateToPdf(){
     html2canvas(document.getElementById("certificate-container"), {
      onrendered : function (canvas){
       var img=canvas.toDataURL("image/png");
       var doc = new jsPDF({orientation: 'landscape'});
       doc.addImage(img, "PNG", 30, 35);
       doc.save("certificat.pdf");
      }
    })
  }
  //AVOID INTERNET EXPLORER NOT WORKING WITH HTML2CANVAS
  $(document).ready(function(){
    if(navigator.userAgent.indexOf("Firefox")<0 && navigator.userAgent.indexOf("Chrome")<0 && navigator.userAgent.indexOf("Safari")<0){
    $('#pdf-btn-wrapper').html("${_('Download PDF : This feature is not available on Internet Explorer. Please use Chrome Mozilla or Safari to get your pdf')}")
    }
  })

  var d = new Date();
  const month = d.toLocaleString('en', { month: 'long' });
  var now = d.getDate()+' '+month+' '+d.getFullYear();

  $("#date_deliver").append(" "+now);


</script>

