
<%
from openedx.core.djangolib.markup import HTML, Text
from django.core.urlresolvers import reverse
from tma_apps.associated_courses.helper import SelectiveRegisterManager
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
import json
%>

<% 
if request.user.is_authenticated() :
  is_user_registered = SelectiveRegisterManager(request).has_registered_to_session()
else:
  is_user_registered = False
%>
    <!-- BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- DATE PICKER -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="/media/microsite/inveest/ssm/css/style.css" />

    <!-- MOMENT JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js"></script>

    <!-- main Script-->
    <script>
      var user_authenticated = "${user.is_authenticated()}".toLowerCase()
      var is_user_registered = "${is_user_registered}"
      var user_have_siren_and_siret = true
      $.get( "/tma/api/ensure_profile_form" )
      .done(function( data ) {
        if (data.certificate_form_extra && data.certificate_form_extra.siren_number && data.certificate_form_extra.siret_number) {
          user_have_siren_and_siret = true
        } else {
          user_have_siren_and_siret = false
        }
      })
    </script>
    </script>
      <script src="/media/microsite/inveest/ssm/js/distanciellesScript.js">
    </script>
    <div id="titleBlock">
        <p class="titleSearch mainColor">Toutes les prochaines sessions</p>
        <div id="partners_block">
            <div class="mainColor">Nos organismes de formation :</div>
            <div>
                <img src="/media/microsite/inveest/ssm/img/logo_aster.jpg" alt="Logo Aster" class="partners_logos"/>
                <img src="/media/microsite/inveest/ssm/img/logo_greenflex.jpg" alt="Logo Greenflex" class="partners_logos"/>
                <img src="/media/microsite/inveest/ssm/img/logo_ifp.png" alt="Logo IFP" class="partners_logos"/>
                <img src="/media/microsite/inveest/ssm/img/logo_transenergie.png" alt="Logo Transenergie" class="partners_logos"/>
            </div>
        </div>
    </div>
    <a class="mainColor toggleLink" href="/about" style="margin: 0px 0px 0px 200px;">Accès aux formations présentielles</a>
    <!-- <center>
    <div id="banner">
        <div id="searchWrapper" class="container">
            <div id="searchCourses">
                <p class="filterIntro mainColor">Filtrer par</p>
                <div class="row"  style="justify-content:center;margin-top:5px;">
                    <div class="col-md-3 inputWrapper hide" id="datePickerWrap">
                        <div class="input-group flex-nowrap"><input type="text" id="datepicker" class="form-control mb-3" placeholder="Date" aria-label="organisme"></div>
                    </div>
                </div>
                <div class="searchButton">
                    <button id="search" class="secondColorBg mainColor textBold">Rechercher</button>
                    <p id="reinitializer">Réinitialiser les filtres</p>
                </div>
            </div>
        </div>
    </div>
    </center> -->
    
    <div id="resultsWrapper" class="hide">
      <div>
        <h4 class="mainColor textBold">Liste des formations en ligne</h4>
        <span id ="results"></span>
      </div>
    </div>

    <!-- BOOTSTRAP-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <!-- DATE PICKER-->
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(document).ready(function() {
        $( "#datepicker" ).daterangepicker(
          {
            autoUpdateInput: true,
          }
        );
        document.getElementById('datepicker').value = '';
        $('#reinitializer')[0].style.display = 'none';
      } );
    </script> -->
    
    <!--IE11 warning-->
    <script>
    if(!!window.MSInputMethodContext && !!document.documentMode){
       alert("Support IE11 en cours, merci d'utiliser Chrome");
    }
    </script>

    <!--POPUP for bankers-->
    <style>
      #voile,#voile_teaser {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: rgba(109, 109, 109, 0.5);
        display: none;
      }
      #popupBanker {
        padding: 30px;
        border-radius: 5px;
        border: 1px solid black;
        margin-left: 15%;
        width: 70%;
        min-height: 40px;
        background-color: white;
        color: black;
        position: fixed;
        left: 0;
        top: 20%;
        z-index: 100;
        display: none;
      }
      #popupBanker_ok {
        background-image: linear-gradient(to bottom,#708c9a 0%,#4f6b8c 50%,#5b6882 50%,#1f232b 100%);
      }
      #popupBanker_ok:hover {
        background-image: linear-gradient(to bottom,#94b5c5 0%,#6b8cb3 50%,#7b89a5 50%,#545b69 100%);
      }
      .popup_bold {
        font-weight: 600;
      }
      @media(max-width:1024px) {
        #popupBanker {
          margin-left: 5%;
        }
      }
      #popupBanker > p > a:hover, #popupBanker > p > span > a:hover {
        color: #32e900 !important;
      }
    </style>
    <section class="course-content" id="course-content">
      <div id="voile"></div>
      <div id="voile_teaser"></div>
      <section id="popupBanker">
        <p>
          % if is_banker :
          Merci pour votre intérêt pour la formation INVEEST.
          <br />Pour y participer, merci de prendre contact avec le Responsable Formation de votre établissement qui centralise les demandes d’inscription.
          <br />Si vous n’êtes pas en mesure d’identifier votre référent, merci de nous contacter à <a href="mailto:inveest@greenflex.com">inveest@greenflex.com</a>.
          % else :
          Merci de votre intérêt pour la formation INVEEST.
          <br />Les coûts pédagogiques s'élèvent à 1 077 € HT. Mais selon votre fonction et votre secteur d'activité, vous pouvez bénéficier d'un parcours gratuit car pris en charge à 100% par INVEEST. Rendez-vous <a href="https://elearning.inveest.org/courses/course-v1:inveest+expert+2020/courseware/d0e4d2b906d14d1b873fc5604f5677bb/16e9108ece3f49f48d3cdb22397bafeb/">ici</a> pour connaître votre taux de prise en charge
          %endif
        </p>
        <div style="text-align:center; margin-top:20px">
          <button id="popupBanker_ok">Fermer</button>
        </div>
      </section>
    </section>