# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="pagetitle">${_("Choose language")}</%block>

<link rel="stylesheet" href="/media/microsite/psa-netexplo/home.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<main id="main" aria-label="Content" tabindex="-1">
  % if user.is_authenticated():
    <h1 id="welcome-title" style="color:whitesmoke;">Choisissez votre langue.<br/>Choose your language.<br/>Wählen Sie Ihre Sprache.<br/>Scegli la tua lingua.<br/>Escolha seu idioma.</h1>
    <div id="language-selector" style='display:block'>
        <a data-value="en" data-course="course-v1:psa-netexplo+BM01_EN+SP">
          <img height="100px" src="/media/microsite/psa-netexplo/images/uk.png" alt="uk">
        </a>
        <a data-value="fr" data-course="course-v1:psa-netexplo+BM01+SP">
          <img height="100px" src="/media/microsite/psa-netexplo/images/fr.png" alt="fr">
        </a>
        <a data-value="de-de" data-course="course-v1:psa-netexplo+BM01_DE+SP">
          <img height="100px" src="/media/microsite/psa-netexplo/images/de.png" alt="de">
        </a>
        <a data-value="it-it" data-course="course-v1:psa-netexplo+BM01_IT+SP">
          <img height="100px" src="/media/microsite/psa-netexplo/images/it.png" alt="it" style="height: 70px; border-radius: 6px;">
        </a>
        <a data-value="pt-br" data-course="course-v1:psa-netexplo+BM01_PT+SP">
          <img height="100px" src="/media/microsite/psa-netexplo/images/br.png" alt="pt" style="height: 70px; border-radius: 6px;">
        </a>
    </div>
  % endif
</main>
<script>
  // Values for current microsite & alert messages
  var microsite = "${configuration_helpers.get_value('course_org_filter')}";
  var alertMessages = {
    message: {
      "fr": "Ce choix ne pourra pas être modifié par la suite.\nVeuillez confirmer ce choix.",
      "en": "This setting cannot be changed later.\nPlease confirm.",
      "de-de": "Diese Auswahl kann später nicht mehr geändert werden. \nBitte bestätigen Sie diese Auswahl.",
      "it-it": "Questa impostazione non può essere modificata in seguito. \nSi prega di confermare.",
      "pt-br": "Esta escolha não pode ser alterada posteriormente. \nPor favor, confirme esta escolha."
    },
    button: {
      "fr": "Confirmer",
      "en": "Confirm",
      "de-de": "Bestätigen",
      "it-it": "Confermare",
      "pt-br": "Confirmar"
    },
    cancel: {
      "fr": "Annuler",
      "en": "Cancel",
      "de-de": "Stornieren",
      "it-it": "Cancellare",
      "pt-br": "Cancelar"
    }
  };

  // Trigger confirmation alert then send info
  function alertAndSendInfo(element) {
    swal(alertMessages.message[element.data('value')], {
        icon: "warning",
        buttons: {
            cancel: alertMessages.cancel[element.data('value')],
            catch: {
            text: alertMessages.button[element.data('value')],
            value: "catch",
        }
        },
    }).then(function(value) {
      if (value) {
        $.ajax({
          url: 'check_enrollment',
          type: 'POST',
          data: { 
            language: element.data('value'),
            course_id: element.data('course'),
            cohort_name: element.data('cohort'),
            microsite: microsite
          }, 
          success: function(data){
            console.log(data);
            window.location.replace(data.redirect_url)
          }
        });
      }
    });
  }

  $(document).ready(function(){
    $('#language-selector > a').on('click', function(e){
      alertAndSendInfo($(this));
    });
  });
</script>
<style>
.swal-button--cancel {
color:white !important;
}
</style>