# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="pagetitle">${_("Choose language")}</%block>

<!-- <link rel="stylesheet" href="/media/microsite/digimapper-data/css/digimap.css"> -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<main id="main" aria-label="Content" tabindex="-1" style="text-align:center; padding-top: 150px;">
  % if user.is_authenticated():

    <div id="languageChoiceContainer">
      <div class="separator"></div>

      <div id="language-selector" >

        <a data-value="en" data-course="course-v1:bnpp-netexplo+manager+manager-en">
        <div class="flag_container">
          <p class="choose_text">CHOOSE</p>

            <img height="80px" src="/media/microsite/bnpp-netexplo/images/uk.png" alt="uk" style="margin: 40px 5px;">

          <p class="audio">Audio</p>
          <p>EN</p>
          <p class="subtitles">Subtitles</p>
          <p class="english_sub">EN<span class="space_between"></span>JP</p>
          <p>BG<span class="space_between"></span>PL</p>
          <p>CS<span class="space_between"></span>PT</p>
          <p>DE<span class="space_between"></span>RO</p>
          <p>ES<span class="space_between"></span>SK</p>
          <p>FR<span class="space_between"></span>TR</p>
          <p>HU<span class="space_between"></span>UA</p>
          <p>IT<span class="space_between"></span>ZH</p>
        </div>
      </a>

        <a data-value="fr" data-course="course-v1:bnpp-netexplo+parcours-manager-fr+parcours-manager-fr">
        <div class="flag_container">
          <p class="choose_text">CHOISIR</p>

            <img height="80px" src="/media/microsite/bnpp-netexplo/images/fr.png" alt="fr" style="margin: 40px 5px;">

          <p class="audio">Audio</p>
          <p>FR</p>
          <p class="subtitles">Sous-titres</p>
          <p>FR</p>
        </div>
      </a>

        <a data-value="de-de" data-course="course-v1:bnpp-netexplo+manager+manager-de">
          <div class="flag_container">
              <p class="choose_text">WÄLHEN</p>
                <img height="80px" src="/media/microsite/bnpp-netexplo/images/de.png" alt="de" style="border-radius: 10px; margin: 40px 5px;">
              <p class="audio">Audio</p>
              <p>DE</p>
              <p class="subtitles">Undertitle</p>
              <p>DE</p>
          </div>
        </a>    

        <a data-value="es-419" data-course="course-v1:bnpp-netexplo+manager+manager-es">
          <div class="flag_container">
            <p class="choose_text">ELEGIR</p>
              <img height="82px" src="/media/microsite/bnpp-netexplo/images/es.png"  alt="es" style="border-radius: 10px; margin: 40px 5px;">
            <p class="audio">Audio</p>
            <p>ES</p>
            <p class="subtitles">Subtítulos</p>
            <p>ES</p>
          </div>
        </a>
      </div>

  </div>
  % endif
</main>
<script>
  // Values for current microsite & alert messages
  var microsite = "${configuration_helpers.get_value('course_org_filter')}";
  var alertMessages = {
    message: {
      "fr": "Ce choix ne pourra pas être modifié par la suite.\nVeuillez confirmer ce choix.",
      "en": "This setting cannot be changed later.\nPlease confirm.",
      "de-de": "Diese Auswahl kann später nicht mehr geändert werden. \nBitte bestätigen Sie diese Auswahl.",
      "es-419": "Esta configuración no se puede cambiar más tarde.\nConfirme",
    },
    button: {
      "fr": "Confirmer",
      "en": "Confirm",
      "de-de": "bestätigen",
      "es-419": "confirmar",
    },
    cancel: {
      "fr": "Annuler",
      "en": "Cancel",
      "de-de": "stornieren",
      "es-419": "cancelar",
    }
  };

  // Trigger confirmation alert then send info
  function alertAndSendInfo(element) {
    swal(alertMessages.message[element.data('value')], {
        icon: "warning",
        buttons: {
          cancel: alertMessages.cancel[element.data('value')],
          catch: {
            text: alertMessages.button[element.data('value')],
            value: "catch",
          }
        },
    }).then(function(value) {
      if (value) {
        $.ajax({
          url: 'check_enrollment',
          type: 'POST',
          data: { 
            language: element.data('value'),
            course_id: element.data('course'),
            cohort_name: element.data('cohort'),
            microsite: microsite
          }, 
          success: function(data){
            console.log(data);
            window.location.replace(data.redirect_url)
          }
        });
      }
    });
  }

  $(document).ready(function(){
    $('#language-selector > a').on('click', function(e){
      alertAndSendInfo($(this));
    });
  });
</script>
<style>
.swal-button--cancel {
color:white !important;
}
.flag_container {
  margin: 1%;
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
  padding: 5px 35px 40px;
  cursor: pointer;
  margin-bottom: 15px;
}
#welcome-title, #welcome-subtitle {
  color: black;
  font-size: 20px;
  text-align: left;
  width: 70%;
  margin: auto;
}
#language-selector {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#language-selector > div > a > img:hover {
  cursor: pointer;
}
p{
  font-size: 23px;
}

.space_between {
  width: 45%;
  display: inline-block;
}

.subtitles {
  margin-top: 1em;
  font-weight: bold;
  font-size: 23px;
}

.english_sub {
margin-top: 30px;
}
.audio {
  margin-top: 15px;
  font-weight: bold;
}

.choose_text {
margin-top: 1em;
font-weight: bold;
}

#languageChoiceContainer{
  width: 900px;
  margin: auto;
  position: relative;
}
.separator{
  border-bottom: 1px solid black ;
  position: relative;
  top: 212px;
  left: 2px;
width: 897px;

}

a:hover, div.info-wrapper section.handouts ol li div.hitarea:hover + h4, div.info-wrapper section.handouts ol li div.hitarea:focus + h4, a:focus, a:visited:hover, div.info-wrapper section.handouts ol li div.hitarea:hover + h4:visited, div.info-wrapper section.handouts ol li div.hitarea:focus + h4:visited, a:visited:focus {
    color:black !important;
}


@media only screen and (max-width: 900px) {
.separator, .choose_bar{
  display: none;
}
#languageChoiceContainer{
  width: 100%;
}
#language-selector {
    justify-content: center;
    flex-wrap: wrap;
}
}
</style>