{% load i18n %}{% load url from future %}{% autoescape off %}

Bonjour,

Vous recevez cet email car nous avons reçu une demande de réinitialisation de votre mot de passe sur notre plateforme de Bilan Digital.

Pour modifier votre mot de passe, cliquez sur le lien suivant :

{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

Si ce n’est pas vous qui avez demandé cette réinitialisation : votre compte a peut-être été piraté ! Veuillez svp dans les meilleurs délais nous envoyer un email sur bienvenue@garanceetmoi.com pour que nous puissions protéger votre compte, et vérifier ce qu’il s’est passé.

En vous souhaitant une excellente journée,

Garance de Garance&Moi

----

Cet email a été envoyé automatiquement. En cas de souci, n’hésitez pas à nous contacter à bienvenue@garanceetmoi.com ou au 01 43 87 87 07.
{% endautoescape %}

