## mako

<%namespace name='static' file='/static_content.html'/>
<%!
 from django.utils.translation import ugettext as _
 from django.core.urlresolvers import reverse
 %>
<%page args="tab_list, active_page, default_tab, tab_image" expression_filter="h" />

<%
def url_class(is_active):
  if is_active:
    return "active"
  return ""
%>
% for tab in tab_list:
<%
    tab_is_active = tab.tab_id in (active_page, default_tab)
    tab_class = url_class(tab_is_active)
  %>
<li class="tab">
  %if tab.name=="Home":
  <a href="/dashboard" class="${tab_class}">
    %else:
    <a href="${tab.link_func(course, reverse)}" class="${tab_class}">
      %endif

      %if tab.name=="Progress" and LANGUAGE_CODE == "ja-jp":
      学習進度
      %else:
      ${_(tab.name)}
      %endif
      % if tab_is_active:
      <span class="sr">, current location</span>
      <%
      import json
      from openedx.core.djangolib.js_utils import dump_js_escaped_json
      if tab.name=="Discussion":
        with open('/edx/var/edxapp/secret/microsite/champagne-mooc/successfull_usernames.json', 'r') as f:
          read_data=json.load(f)
      endif
      %>
      %if tab.name=="Discussion":
      <script>
        var successfull_usernames = ${ json.dumps(read_data) | n, dump_js_escaped_json};
        successfull_usernames = JSON.parse(successfull_usernames);
        setInterval(function () {
          $("a.username").each(function () {
            if (successfull_usernames["course-v1:champagne-mooc+003+003"].includes($(this).html()) || successfull_usernames["course-v1:champagne-mooc+004+004"].includes($(this).html()) || successfull_usernames["course-v1:champagne-mooc+006+006"].includes($(this).html()) ){
              $(this).css("color", "rgba(200,175,130,1) !important");
              $(this).addClass("succeeded");
              if ("${str(course.id)}" == "course-v1:champagne-mooc+001+001" || "${str(course.id)}" == "course-v1:champagne-mooc+003+003") {
                $(this).attr('title', 'A obtenu le certificat');
              } else if("${str(course.id)}" == "course-v1:champagne-mooc+002+002" || "${str(course.id)}" == "course-v1:champagne-mooc+004+004"){
                $(this).attr('title', 'Obtained the certificate');
              }else if("${str(course.id)}" == "course-v1:champagne-mooc+005+005" || "${str(course.id)}" == "course-v1:champagne-mooc+006+006"){
                $(this).attr('title', '証明書をもらった');
              }
            }
          });
          $(".discussion-user-profile-board .user-name>a").each(function () {
            if (successfull_usernames["course-v1:champagne-mooc+003+003"].includes($(this).html()) || successfull_usernames["course-v1:champagne-mooc+004+004"].includes($(this).html()) || successfull_usernames["course-v1:champagne-mooc+006+006"].includes($(this).html()) ) {
              $(this).css("color", "rgba(200,175,130,1) !important");
              $(this).addClass("succeeded");
              if ("${str(course.id)}" == "course-v1:champagne-mooc+001+001" || "${str(course.id)}" == "course-v1:champagne-mooc+003+003") {
                $(this).attr('title', 'A obtenu le certificat');
              } else if("${str(course.id)}" == "course-v1:champagne-mooc+002+002" || "${str(course.id)}" == "course-v1:champagne-mooc+004+004"){
                $(this).attr('title', 'Obtained the certificate');
              }else if("${str(course.id)}" == "course-v1:champagne-mooc+005+005" || "${str(course.id)}" == "course-v1:champagne-mooc+006+006"){
                $(this).attr('title', '証明書をもらった');
              }
            }
          });
          function iOS() {
            return [
              'iPad Simulator',
              'iPhone Simulator',
              'iPod Simulator',
              'iPad',
              'iPhone',
              'iPod'
            ].includes(navigator.platform)
              // iPad on iOS 13 detection
              || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
          }
          if (iOS()) {
            $("#wmd-image-button-js-post-body-undefined").hide()
          }
        }, 250);
      </script>
      <style>
        a.username.succeeded,
        .discussion-user-profile-board .user-name>a.succeeded {
          color: rgba(200, 175, 130, 1) !important;
        }
      </style>
      %endif
      %endif
      % if tab_image:
      ## Translators: 'needs attention' is an alternative string for the
      ## notification image that indicates the tab "needs attention".
      <img src="${tab_image}" alt="${_('needs attention')}" />
      %endif
    </a>
</li>
% endfor
