## mako

<%namespace name='static' file='/static_content.html'/>
<%!
 from django.utils.translation import ugettext as _
 from django.core.urlresolvers import reverse
 from datetime import datetime
 %>
<%page args="tab_list, active_page, default_tab, tab_image" expression_filter="h" />

<%
no_forum_list = ["course-v1:nature-for-city-life+NFCL_Advanced_EN+Parcours2", "course-v1:nature-for-city-life+NFCL+Parcours2", "course-v1:nature-for-city-life+NFCL+session3", "course-v1:nature-for-city-life+NFCL_EN+session3", "course-v1:nature-for-city-life+NFCL_DEUCH+session1", "course-v1:nature-for-city-life+NFCL_ESP+session1", "course-v1:nature-for-city-life+NFCL_ITL+session1",'course-v1:nature-for-city-life+NFCL_FR+session2021','course-v1:nature-for-city-life+NFCL_SP_DEUCH+session2021','course-v1:nature-for-city-life+SPENG2021+Session2021','course-v1:nature-for-city-life+NFCL_SP_IT+session2021','course-v1:nature-for-city-life+NFCL_SP_ESP+session2021']
forum_allow_list = ["course-v1:nature-for-city-life+NFCL_SI_FR+2021","course-v1:nature-for-city-life+NFCL_SI_ENG+2021","course-v1:nature-for-city-life+NFCL_SI_DEUCH+2021","course-v1:nature-for-city-life+NFCL_SI_ESP+2021","course-v1:nature-for-city-life+NFCL_SI_ITL+2021"]

def url_class(is_active):
  if is_active:
    return "active"
  return ""

def is_forum_not_expired():
  if str(course.id) not in no_forum_list or timestamp < 1594512000 or str(course.id) in forum_allow_list:
    return True
  return False

def is_forum_allowed():
  if str(course.id) != "course-v1:nature-for-city-life+NFCL_EN+Parcours2" and str(course.id) != "course-v1:nature-for-city-life+NFCL+Parcours1":
    return True
  return False

forum_not_expired = is_forum_not_expired()
forum_allowed = is_forum_allowed()
%>
% for tab in tab_list:
  <%
    tab_is_active = tab.tab_id in (active_page, default_tab)
    tab_class = url_class(tab_is_active)
  %>
  % if tab.name != "Discussion" or (forum_allowed and forum_not_expired):
    <li class="tab">
    %if tab.name=="Home":
    <a href="/dashboard" class="${tab_class}">
    %else:
    <a href="${tab.link_func(course, reverse)}" class="${tab_class}">
    %endif


    ${_(tab.name)}
    % if tab_is_active:
        <span class="sr">, current location</span>
    %endif
    % if tab_image:
        ## Translators: 'needs attention' is an alternative string for the
        ## notification image that indicates the tab "needs attention".
        <img src="${tab_image}" alt="${_('needs attention')}" />
    %endif
    </a>
    </li>
  % endif
% endfor
