<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.djangolib.js_utils import dump_js_escaped_json
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${data | n, dump_js_escaped_json};
        options['registration_form_desc']['fields'][1]["label"] = "${_('Full Name')}";
        options['registration_form_desc']['fields'][1]["instructions"] = ""
        options['registration_form_desc']['fields'][2]["label"] = "${_('Username (pseudo)')}";
        options['registration_form_desc']['fields'][2]["instructions"] = "${_('Mandatory for registration purposes but will remain hidden')}";
        options['registration_form_desc']['fields'][6]["label"] = "${_('I agree to the Terms of Service')}";
        options['registration_form_desc']['fields'][6]["supplementalText"] = "${_('View the terms of Service')}";
        options['registration_form_desc']['fields'][6]["supplementalLink"]= "/tos";

        if(! options['third_party_auth']["autoSubmitRegForm"]){
          //if no thirdpartyauth then first and lastname are mandatory
          options['registration_form_desc']['fields'][4]["required"]=true;
          options['registration_form_desc']['fields'][5]["required"]=true;
        }
        LogistrationFactory(options);
        if ('newrelic' in window) {
            newrelic.finished();
            // Because of a New Relic bug, the finished() event doesn't show up
            // in Insights, so we have to make a new PageAction that is basically
            // the same thing. We still want newrelic.finished() for session
            // traces though.
            newrelic.addPageAction('xfinished');
        }
    </%static:require_module>
</%block>
<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
            <style>
                .login-providers{
                    margin-top: 20px;
                }
                .login-providers > .section-title{
                    display: none;
                }
                .toggle-form{
                    display: none;
                }
            </style>
        </script>
% endfor
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
</%block>

<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="login-and-registration-container" class="login-register">
    </main>
</div>
<style>
    .swal2-close,.swal2-close:hover:focus:active {
        border: none !important;
        box-shadow: none !important;
        background-color: transparent !important;
        background-image: none !important;
        text-shadow: none !important;
        color: #80CFF5 !important;
        outline: none !important;
        ;
    }
</style>
<script>
var options_given = ${data | n, dump_js_escaped_json}
var is_third_party_on = options_given['third_party_auth']["autoSubmitRegForm"];

if(!is_third_party_on){
 setInterval(function(){
   $("div.form-field.text-name").hide();
   $("#register-name").val($("#register-first_name").val()+" "+$("#register-last_name").val());
 },50);
}


var adaptifssoornot = setInterval(function(){

function usessorather(page){
 if($("#"+page+"-email").val().indexOf("saint-gobain") > -1 || $("#"+page+"-email").val().indexOf("transitions") > -1){
  Swal.fire({
    html:
      '<h2 style="margin-top:30px">Veuillez utiliser le SSO de votre entreprise<br>Please use your company SSO</h2>' +
      '<div>'+
      '<img style="    box-shadow: 2px 2px 2px lightgrey;width:20%;cursor:pointer;" src="/media/microsite/digimapper/auto/images/logo_saint-gobain.png" alt="logo Saint-Gobain" onclick="window.location.href=\'/auth/login/tpa-saml/?auth_entry=register&next=%2Ftma_apps%2Fuser_info&idp=saint-gobain\'">'+
      '<img style="    box-shadow: 2px 2px 2px lightgrey;width:20%;margin-left:20px;cursor:pointer;" src="/media/microsite/digimapper/auto/images/logo_transitions.jpg" alt="logo TO" onclick="window.location.href=\'/auth/login/tpa-saml/?auth_entry=register&next=%2Ftma_apps%2Fuser_info&idp=to-prod\'"></div>',
    showCancelButton: false,
    showCloseButton: false,
    focusConfirm: true,
    showConfirmButton: false,
  });
  clearInterval(adaptifssoornot);
 } else if($("#register-email").val().indexOf("edf") > -1){
    let language = '${LANGUAGE_CODE}'
    Swal.fire({
      html: language === 'fr' ? '<h3 style="margin-top:30px">Veillez à ne pas utiliser le même mot de passe que pour vos autres comptes</h3>' + '<br><br>' : '<h3 style="margin-top:30px">Please make sure you don\'t reuse the same password across different accounts</h3>' + '<br><br>',
      showCloseButton: true,
      showCancelButton: false,
      focusConfirm: true,
      showConfirmButton: false,
    });
    clearInterval(adaptifssoornot);
   }
}

registeremailfield = document.getElementById("register-email");
if(registeremailfield && ! is_third_party_on){
 registeremailfield.addEventListener('input', usessorather("register"));
}
loginemailfield = document.getElementById("login-email");
if(loginemailfield && ! is_third_party_on){
 loginemailfield.addEventListener('input', usessorather("login"));
}

},500);

var test123 = setInterval(function(){
    
    var passwordField = document.querySelector('.password-password')
    passwordField.innerHTML = '<label for="register-password">Mot de passe *</label><input id="register-password" type="password" name="password" value="" required aria-required="true" /><i class="fa fa-eye" id="togglePassword" style="position:absolute; left:530px; bottom:15px; cursor:pointer;"></i>'

    const togglePassword = document.querySelector('#togglePassword');
    const passwordInput = document.querySelector('#register-password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
    clearInterval(test123)

}, 200)


</script>
