<div id="cookie-banner">
    % if LANGUAGE_CODE == "fr":
    <span>
      Ce site utilise des cookies pour vous assurer la meilleure navigation
      possible. En continuant de naviguer sur ce site, nous comprenons que
      vous acceptez l'utlisation de cookies.
      <a
        href="/honor"
        class="cookie-banner-button"
        >En savoir plus</a
      >
    </span>
    <div id="cookie-button" class="cookie-banner-button">J'accepte !</div>
    % elif LANGUAGE_CODE == "en":
    <div id="cookie-banner">
      <span>
        This site uses cookies to ensure the best navigation possible. By continuing to browse this site, we understand that you accept the use of cookies.
        <a
          href="/honor"
          class="cookie-banner-button"
          >Find out more</a
        >
      </span>
      <div id="cookie-button" class="cookie-banner-button">Accept !</div>
    </div>
    % elif LANGUAGE_CODE == "ja-jp":
    <div id="cookie-banner">
      <span>
        This site uses cookies to ensure the best navigation possible. By continuing to browse this site, we understand that you accept the use of cookies.
        <a
          href="/honor"
          class="cookie-banner-button"
          >Find out more</a
        >
      </span>
      <div id="cookie-button" class="cookie-banner-button">Accept !</div>
    </div>
    % endif
</div>

<style>
/* Cookie-banner css start */
#cookie-banner {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 90px;
      color: white;
      background-color: #323538;
      bottom: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-size: 16px;
      position: fixed;
      z-index: 10000;
      padding: 10px;
    }
    #cookie-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      border-radius: 5px;
      padding: 15px;
      cursor: pointer;
      background-color: rgba(0,0,0,0.5);
      transition-duration: 0.3s;
    }
    #cookie-button:hover {
      text-decoration: none;
      background-color: black;
      transition-duration: 0.3s;
    }
    #cookie-banner a {
      font-weight: 400;
    }
    #cookie-banner a:hover {
      color: #1a905b;
      background-color: #323538;
    }
    #cookie-banner a:visited {
      text-decoration: none;
    }
    .roll-cookie-banner {
      -webkit-transition: 1.5s;
      -moz-transition: 1.5s;
      -ms-transition: 1.5s;
      -o-transition: 1.5s;
      transition: 1.5s;
      margin-top: -90px;
    }
    /* Cookie-banner css end */
</style>

<script>
    // <!-- Cookie-banner script start -->
    const cookieBanner = document.querySelector("#cookie-banner");
        const cookieBannerButton = document.querySelector("#cookie-button");
  
        function getCookie(cname) {
          var name = cname + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(";");
          for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == " ") {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
          }
          return "";
        }
        
        if (getCookie("eu-consent")) {
          cookieBanner.classList.add("hidden");
        } else {
          cookieBannerButton.addEventListener("click", function (e) {
            cookieBanner.classList.add("hidden");
            document.cookie = "eu-consent=true";
            console.log("cookie-button");
          });
        }
      // <!-- Cookie-banner script end -->
  </script>