<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<%
register_course_id = static.get_value('course_id')
org = static.get_value('domain_prefix')
css = '/media/microsite/{}/auto/css/index.css'.format(org)
css2 = '/media/microsite/{}/css/mobilitips.css'.format(org)
%>

<link rel="stylesheet" type="text/css" href="${static.url(css2)}" />
<link rel="stylesheet" type="text/css" href="${static.url(css)}" />
<link rel="stylesheet" href="/media/microsite/mobilitips/bootstrap/css/bootstrap.min.css">
<script src="/media/microsite/mobilitips/bootstrap/js/bootstrap.min.js"></script>

    <%block name="js_extra">
    <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
            $('#login').trigger("click");
         }
      })
   </script>
</%block>
<script>
  var redirectToModule = function(link) {
    window.location.href=link;
  }
</script>

<div id="bigLogo">
  <img alt="logo mobilitips en gros" src="/media/microsite/mobilitips/img/logomobtipsV3baseline.png">
</div>

<section id="themes">
  <article class="model tilesContainer">
    <div class="titleTilesContainer">
      <h1 class="titleTiles">Modèles des mobilités</h1>
    </div>
    <div class="squaresContainer">
      <div onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/7869685ce98e48f7ae0fe71f6421d607/5b3ad3d1dd7b41a3a24db8898e1092dd/')">
        <img alt="icône valise" src="/media/microsite/mobilitips/img/mobilitips_acceuil_pictogrammes-22.png" class="tileIcon">
        <div class="titleModuleContainer">
          <h2 class="titleModule">Nouveaux métiers</h2>
        </div>
      </div>
      <div onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/7869685ce98e48f7ae0fe71f6421d607/c9c6e123d62b4def94bfae8e213a94db/')">
        <img alt="icône borne de recharge électrique" src="/media/microsite/mobilitips/img/mobilitips_acceuil_pictogrammes-24.png" class="tileIcon">
        <div class="titleModuleContainer">
          <h2 class="titleModule">Services de mobilité</h2>
        </div>
      </div>
      <div onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/7869685ce98e48f7ae0fe71f6421d607/750a5644c21849ce979273efbca6504a/')">
        <img alt="icône smartphone" src="/media/microsite/mobilitips/img/mobilitips_acceuil_pictogrammes-23.png" class="tileIcon">
        <div class="titleModuleContainer">
          <h2 class="titleModule">Mobility As A Service</h2>
        </div>
      </div>
      <div onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/7869685ce98e48f7ae0fe71f6421d607/12c240d39ea6439ab7742a0b50a81b8a/')">
        <img alt="icône euro" src="/media/microsite/mobilitips/img/mobilitips_acceuil_pictogrammes-25.png" class="tileIcon">
        <div class="titleModuleContainer">
          <h2 class="titleModule">Approche offreurs</h2>
        </div>
      </div>
    </div>
  </article>

  <article class="object tilesContainer">
    <div class="titleTilesContainer">
      <h1 class="titleTiles">Objets et usages des mobilités</h1>
    </div>
    <div class="squaresContainer">
      <div onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/1dbc1a2edeb742d5a2e3d3550d715429/40d53345e5f843b0a672cf60d052544f/')">
        <img alt="icône onde" src="/media/microsite/mobilitips/img/mobilitips_acceuil_pictogrammes-26.png" class="tileIcon">
        <div class="titleModuleContainer">
          <h2 class="titleModule">Infrastructures</h2>
        </div>
      </div>
      <div onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/1dbc1a2edeb742d5a2e3d3550d715429/40b5866f2ee0405b864c24cfa0385260/')">
        <img alt="icône voiture" src="/media/microsite/mobilitips/img/mobilitips_acceuil_pictogrammes-27.png" class="tileIcon">
        <div class="titleModuleContainer">
          <h2 class="titleModule">Mobilités autonomes</h2>
        </div>
      </div>
      <div onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/1dbc1a2edeb742d5a2e3d3550d715429/c5540545d9264c3e9952e611641daa2d/')">
        <img alt="icône trotinette électrique" src="/media/microsite/mobilitips/img/mobilitips_acceuil_pictogrammes-28.png" class="tileIcon">
        <div class="titleModuleContainer">
<h2 class="titleModule">Pratiques de mobilité</h2>
</div>
      </div>
    </div>
  </article>

  <article class="integration tilesContainer">
    <div class="titleTilesContainer">
      <h1 class="titleTiles">Intégration dans le territoire</h1>
    </div>
    <div class="squaresContainer">
      <div onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/74684500c1664e4bb5aa1498c95a70fe/95a36c998d38407f958c8fc7ae1b30c4/')">
        <img alt="icône chemin" src="/media/microsite/mobilitips/img/mobilitips_acceuil_pictogrammes-32.png" class="tileIcon">
        <div class="titleModuleContainer">
          <h2 class="titleModule">Planification du territoire</h2>
        </div>
      </div>
      <div onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/74684500c1664e4bb5aa1498c95a70fe/93d731aa2a544a659252a2f5605b01a7/')">
        <img alt="icône acteurs" src="/media/microsite/mobilitips/img/mobilitips_acceuil_pictogrammes-31.png" class="tileIcon">
        <div class="titleModuleContainer">
          <h2 class="titleModule">Acteurs et opérateurs</h2>
        </div>
      </div>
      <div onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/74684500c1664e4bb5aa1498c95a70fe/1c1cca08632846e9b7660b411341414f/')">
        <img alt="icône feuilles" src="/media/microsite/mobilitips/img/mobilitips_acceuil_pictogrammes-29.png" class="tileIcon">
        <div class="titleModuleContainer">
          <h2 class="titleModule">Incitations aux mobilités durables</h2>
        </div>
      </div>
      <div onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/74684500c1664e4bb5aa1498c95a70fe/b932bba2df56412ba9220b67afba5f9c/')">
        <img alt="icône orateur" src="/media/microsite/mobilitips/img/mobilitips_acceuil_pictogrammes-30.png" class="tileIcon">
        <div class="titleModuleContainer">
          <h2 class="titleModule">Politiques publiques</h2>
        </div>
      </div>
    </div>
  </article>
</section>

<script>
  var autoscrollBtn = function scroll_to(div){
    console.log('div')
    $('html, body').animate({
      scrollTop: $("#themes").offset().top
    },1000);
  }
</script>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif

% if register_course_id is not None:
<script>
$(".btn-neutral").each(function(){
 $(this).attr('href','/register?course_id=${register_course_id}&enrollment_action=enroll');
});
$(".btn-login").each(function(){
 $(this).attr('href','login?next=%2Faccount%2Ffinish_auth%3F${register_course_id}%26enrollment_action%3Denroll%26next%3D%252Fdashboard');
});

</script>
% endif
