<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<%
register_course_id = static.get_value('course_id')
org = static.get_value('domain_prefix')
css = '/media/microsite/{}/auto/css/index.css'.format(org)
css2 = '/media/microsite/{}/css/mobilitips.css'.format(org)
%>

<link rel="stylesheet" type="text/css" href="${static.url(css2)}" />
<link rel="stylesheet" type="text/css" href="${static.url(css)}" />
<link rel="stylesheet" href="/media/microsite/mobilitips/bootstrap/css/bootstrap.min.css">
<script src="/media/microsite/mobilitips/bootstrap/js/bootstrap.min.js"></script>
<script>
  var redirectToModule = function(link) {
    window.location.href=link;
  }
</script>

<h1 id="titleGlossaire">Mobilitips : le glossaire des mobilités</h1>

<section id="lab">
  <article>
    <div class="lab_item">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
            <div class="hexagon-in2 theme1" style="background-color: #fcbf43" onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/7869685ce98e48f7ae0fe71f6421d607/12c240d39ea6439ab7742a0b50a81b8a/')">
                <h2 class="titleTheme">Nouveaux modèles</h2>
                <h2 class="titleModule">Accessibilité des objets de mobilité</h2>
            </div>
          </div>
      </div>
    </div>
    <div class="lab_item">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
            <div class="hexagon-in2 theme1" style="background-color: #fcbf43" onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/7869685ce98e48f7ae0fe71f6421d607/c9c6e123d62b4def94bfae8e213a94db/')">  
                <h2 class="titleTheme">Nouveaux modèles</h2>              
                <h2 class="titleModule">Approche du marché</h2>
            </div>
          </div>
      </div>
    </div>
    <div class="lab_item">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
            <div class="hexagon-in2 theme1" style="background-color: #fcbf43" onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/7869685ce98e48f7ae0fe71f6421d607/750a5644c21849ce979273efbca6504a/')">
                <h2 class="titleTheme">Nouveaux modèles</h2>
                <h2 class="titleModule">MaaS</h2>
            </div>
          </div>
      </div>
    </div>
    <div class="lab_item">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
            <div class="hexagon-in2 theme1" style="background-color: #fcbf43" onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/7869685ce98e48f7ae0fe71f6421d607/5b3ad3d1dd7b41a3a24db8898e1092dd/')">
                <h2 class="titleTheme">Nouveaux modèles</h2>
                <h2 class="titleModule">Métiers</h2>
            </div>
          </div>
      </div>
    </div>   
  </article>

  <article>
    <div class="lab_item">		
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
            <div class="hexagon-in2 theme2" style="background-color: #a1b6df" onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/1dbc1a2edeb742d5a2e3d3550d715429/40d53345e5f843b0a672cf60d052544f/')">
                <h2 class="titleTheme">Nouveaux objets et usages des mobilités</h2>
                <h2 class="titleModule">Infrastructures</h2>
            </div>
          </div>
      </div>
    </div>
    <div class="lab_item">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
            <div class="hexagon-in2 theme2" style="background-color: #a1b6df" onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/1dbc1a2edeb742d5a2e3d3550d715429/40b5866f2ee0405b864c24cfa0385260/')">
                <h2 class="titleTheme">Nouveaux objets et usages des mobilités</h2>
                <h2 class="titleModule">Mobilité autonome</h2>
            </div>
          </div>
      </div>
    </div>
    <div class="lab_item">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
            <div class="hexagon-in2 theme2" style="background-color: #a1b6df" onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/1dbc1a2edeb742d5a2e3d3550d715429/c5540545d9264c3e9952e611641daa2d/')">
                <h2 class="titleTheme">Nouveaux objets et usages des mobilités</h2>
                <h2 class="titleModule">Pratiques de mobilité</h2>
            </div>
          </div>
      </div>
    </div> 
  </article>

  <article>
    <div class="lab_item">		
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
            <div class="hexagon-in2 theme3" style="background-color: #f39548" onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/74684500c1664e4bb5aa1498c95a70fe/95a36c998d38407f958c8fc7ae1b30c4/')">
                <h2 class="titleTheme">Intégration dans le territoire</h2>
                <h2 class="titleModule">Acteurs des mobilités</h2>
            </div>
          </div>
      </div>
    </div>
    <div class="lab_item">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
            <div class="hexagon-in2 theme3" style="background-color: #f39548" onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/74684500c1664e4bb5aa1498c95a70fe/93d731aa2a544a659252a2f5605b01a7/')">
                <h2 class="titleTheme">Intégration dans le territoire</h2>
                <h2 class="titleModule">Incitation</h2>
            </div>
          </div>
      </div>
    </div>
    <div class="lab_item">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
            <div class="hexagon-in2 theme3" style="background-color: #f39548" onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/74684500c1664e4bb5aa1498c95a70fe/1c1cca08632846e9b7660b411341414f/')">
                <h2 class="titleTheme">Intégration dans le territoire</h2>
                <h2 class="titleModule">Législation</h2>
            </div>
          </div>
      </div>
    </div>
    <div class="lab_item">
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
            <div class="hexagon-in2 theme3" style="background-color: #f39548" onclick="redirectToModule('/courses/course-v1:mobilitips+01+2019/courseware/74684500c1664e4bb5aa1498c95a70fe/7f46ad91f0c6431a9160ab250275630f/')">
                <h2 class="titleTheme">Intégration dans le territoire</h2>
                <h2 class="titleModule">Planification</h2>
            </div>
          </div>
      </div>
    </div>   
  </article>
</section>