## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>
<%
org = static.get_value('domain_prefix')
css = '/media/microsite/{}/auto/css/footer.css'.format(org)
%>

<link rel="stylesheet" type="text/css" href="${css}" />

<script>
    /* Change banner according to language */
    if ($('#settings-language-value').val() === 'es-419' ) {
        $("#img-header-tiama").attr('src', '/media/microsite/tiama/img/banner-es.jpg')
    } else {
        $("#img-header-tiama").attr('src', '/media/microsite/tiama/img/banner.jpg')
    }

    /* Fix trad es*/
    if ($('#course_nav > a[href="/dashboard"] > span').text() === 'Volver Atrás') {
        $('#course_nav > a[href="/dashboard"] > span').text('Atrás');
    }

</script>

<footer class="global">
  <div class="footer-container">
    <ul class="links" style="text-align:center !important">
      <li>
        <a href="${marketing_link('HONOR')}">${_("Terms of Service")}</a>
      </li>
      <!--
      <li>
        <a href="${marketing_link('FAQ')}">${_("FAQ")}</a>
      </li>
	  <li>
        <a href="/about">${_("About")}</a>
      </li>
	-->
    </ul>
    <p class="copyright">Une r&eacute;alisation <a href="http://themoocagency.com">The MOOC Agency</a></p>
    <div class="by-ionisx">
	<!--modif on text and image-->
      <!--
      <a href="/">
        <img src="" alt="">
      </a> -->
    </div>
  </div>
</footer>
