## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>
<%
org = static.get_value('domain_prefix')
css = '/media/microsite/{}/auto/css/footer.css'.format(org)
%>

<style>
  body footer.global ul.links li {
    margin: 0 10px 0 0;
    font-weight: bold;
  }
  body footer.global {
    background: linear-gradient(45deg, rgba(19,169,216,1) 0%, rgba(123,82,187,1) 100%);
  }
</style>

<link rel="stylesheet" type="text/css" href="${css}" />
<footer class="global">
  <div class="footer-container">
    <div style="margin: 10px auto;width: 60%;display: block;height: 130px;display: flex;">
      <!-- <img style="height: 100%;" src="/media/microsite/e-formation-artisanat/assets/fse1.png" alt="fond social européen"/>
      <img style="width : auto; height: 100%;padding: 0px 10px;" src="/media/microsite/e-formation-artisanat/assets/fse2.png" alt="fond social européen"/>
      <p style="display: inline-block;height: calc(100% - 23px);text-align: center;padding-top: 23px;">Le projet « Refonte de l’offre globale de services » est cofinancé par le Fonds social européen dans le cadre du programme opérationnel national « Emploi et Inclusion » 2014-2020</p> -->
      <img style="height: 100%;" src="/media/microsite/e-formation-artisanat/assets/footer_banner.jpg" alt="bannière footer"/>
    </div>
    <ul class="links" style="text-align: center;">
      <li>
        <a href="/about">À propos | </a>
      </li>
      <li>
        <a href="https://www.e-formation.artisanat.fr/index.php/mentions_legales/" target="_blank">Mentions légales | </a>
      </li>
      <li>
        <a href="${marketing_link('PRIVACY')}">Politique de confidentialité | </a>
      </li>
      <li>
        <a href="${marketing_link('TOS')}">Conditions générales d'utilisation |
        </a>
      </li>
      <li>
        <a href="https://www.artisanat.fr/reseau-des-cma/un-reseau-de-proximite/annuaire-des-cma">Annuaire
        </a>
      </li>
      <!-- <li>
        <a href="${marketing_link('FAQ')}">FAQ</a>
      </li> -->
    </ul>
  </div>
</footer>
