## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>
<%
org = static.get_value('domain_prefix')
css = '/media/microsite/{}/auto/css/footer.css'.format(org)
%>

<link rel="stylesheet" type="text/css" href="${css}" />
<style>
  .logo-PIA{
    width: 250px;
    margin: -0px auto 0px;
}
  .logo-PIA>img{
    width: 100%;
}

</style>
<footer class="global">
  <div class="logo-PIA"><img src="/media/microsite/mobilitips/img/PIAMOBTIPS.png"/></div>
  <div class="footer-container">
    <ul class="links" style="text-align: end;">
      <li style="float: left;">
        <a href="/blog">Glossaire</a>
      </li>
      <li>
        <a href="/about">Cr&eacute;dits</a>
      </li>
      <li>
        <a href="http://www.vedecom.fr/">VEDECOM</a>
      </li>
      <li>
        <a href="https://mobilitycamp.fr/">Mobility Camp</a>
      </li>
      <li>
        <a href="https://fr.calameo.com/read/004891673f08737d1b7a8">Catalogue</a>
      </li>
      <li>
        <a href="mailto:romy.kombet@vedecom.fr">Contact</a>
      </li>
    </ul>
    <p class="copyright">Une r&eacute;alisation <a href="http://themoocagency.com">The MOOC Agency</a></p>
    <div class="by-ionisx">
	<!--modif on text and image-->
      <!--
      <a href="/">
        <img src="" alt="">
      </a>
      -->
    </div>
  </div>
</footer>
