<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from django.utils import html
from django_countries import countries
from student.models import UserProfile
from datetime import date
import third_party_auth
from third_party_auth import pipeline, provider
import calendar
%>

<%block name="pagetitle">${_("Register for {platform_name}").format(platform_name=platform_name)}</%block>

<%block name="bodyclass">view-register</%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });

    });

    (function() {
      toggleSubmitButton(true);

      $('#register-form').on('submit', function() {
        toggleSubmitButton(false);
      });
      /*
      $('#register-form').on('ajax:error', function() {
        toggleSubmitButton(true);
      });
      */
      $('#register-form').on('ajax:success', function(event, json, xhr) {
        var nextUrl = "${login_redirect_url}";
        if (json.redirect_url) {
          nextUrl = json.redirect_url; // Most likely third party auth completion. This trumps 'nextUrl' above.
        }
        if (!isExternal(nextUrl)) {
          location.href=nextUrl;
        } else {
          location.href="${reverse('dashboard')}";
        }
      });

      $('#register-form').on('ajax:error', function(event, jqXHR, textStatus) {
        toggleSubmitButton(true);
        json = $.parseJSON(jqXHR.responseText);
        $('.status.message.submission-error').addClass('is-shown').focus();
        $('.status.message.submission-error .message-copy').html(json.value).stop().css("display", "block");
        $(".field-error").removeClass('field-error');
        $("[data-field='"+json.field+"']").addClass('field-error')
      });
    })(this);

    function thirdPartySignin(event, url) {
      event.preventDefault();
      window.location.href = url;
    }

    function toggleSubmitButton(enable) {
      var $submitButton = $('form .form-actions #submit');

      if(enable) {
        $submitButton.
          html("${_('Create My {platform_name} Account').format(platform_name=platform_name)}");
      }
      else {
        $submitButton.
          text("${_('Processing your account information')}");
      }
    }
  </script>
</%block>
<style>
.content {
 margin-left: auto !important;
 margin-right: auto !important;
 display: block !important;
 float: none !important;
}
#content {
 min-height: calc(100vh - 139px) !important;
}
</style>
<section class="introduction">
  <header>
    <h1 class="title">
      <span class="title-super">${_("Welcome!")}</span>
      <span class="title-sub">${_("Register below to create your {platform_name} account").format(platform_name=platform_name)}</span>
    </h1>
  </header>
</section>

<section class="register container">
  <section role="main" class="content">
    <form role="form" id="register-form" method="post" data-remote="true" action="/create_account" novalidate>
<%
  # allow for theming override on the registration form
  registration_form = static.get_template_path('register-form.html')
%>
      <%include file="${registration_form}" />
    </form>
  </section>
<!--
  <aside role="complementary">

<%
  # allow for theming overrides on the registration sidebars, otherwise default to pre-existing ones
  sidebar_file = static.get_template_path('register-sidebar.html')
%>

    <%include file="${sidebar_file}" />

  </aside>
-->
</section>

<script>
  // Translation
  if (window.location.href.indexOf('register') > -1) {
    if ($('#settings-language-value').val() != 'fr' ) {
      console.log($("#settings-language-value"))
      // Labels
      $('#field-sexe > label').text('Gender');
      $('#field-statut > label').text('You are enrolling to this MOOC as');
      $('#field-secteur > label').text('Business sector');
      $('#field-niveau-etudes > label').text('Level of education');
      $('#field-motivation > label').text('Personal motivation');
      $('#field-area > label').text('Sector of activity');
      $('#field-location > label').text('Geographical area');

      // Options
      $('#sexe > option[value="no-answer"], #age > option[value="no-answer"], #statut > option[value="no-answer"], #secteur > option[value="no-answer"], #niveau-etudes > option[value="no-answer"], #motivation > option[value="no-answer"]').text('I don\'t want to answer');

      $('#sexe > option[value="femme"]').text('Woman');
      $('#sexe > option[value="homme"]').text('Man');

      $('#age > option[value="less-20"]').text('Less than 20');
      $('#age > option[value="more-60"]').text('More than 60');

      $('#statut > option[value="elu"]').text('Elected representative');
      $('#statut > option[value="technicien"]').text('Technician');
      $('#statut > option[value="particulier"]').text('Private individual');
      $('#statut > option[value="etudiant"]').text('Student');
      $('#statut > option[value="autre"]').text('Other');

      $('#secteur > option[value="public"]').text('Public');
      $('#secteur > option[value="prive"]').text('Private');

      $('#niveau-etudes > option[value="pas-diplome"]').text('No diploma');
      $('#niveau-etudes > option[value="bepc"]').text('Junior School Certificate');
      $('#niveau-etudes > option[value="bac"]').text('High School Diploma');
      $('#niveau-etudes > option[value="bac-3"]').text('Bachelor\'s Degree');
      $('#niveau-etudes > option[value="bac-5"]').text('Master\'s Degree');
      $('#niveau-etudes > option[value="bac-8"]').text('PhD');
      $('#niveau-etudes > option[value="autre"]').text('Other');

      $('#motivation > option[value="echanger"]').text('Discuss');
      $('#motivation > option[value="precription-formateur"]').text('Advised by a trainer');
      $('#motivation > option[value="decouvrir-mooc"]').text('Discover a MOOC');
      $('#motivation > option[value="interet"]').text('Personal interest');
      $('#motivation > option[value="attestation"]').text('For the certificate');
      $('#motivation > option[value="acquerir-connaissances"]').text('Acquire knowledge and/or skills');

      $('#area > option[value="mnca"]').text('Nice Côte d\'Azur metropolitan area community');
      $('#area > option[value="mtpm"]').text('Toulon Provence Méditéranée metropolitan area community');
      $('#area > option[value="mamp"]').text('Aix-Marseille-Provence metropolitan area community');
      $('#area > option[value="others"]').text('Others communities');
      $('#area > option[value="public"]').text('State civil service');
      $('#area > option[value="private"]').text('Private Sector');

      // TOS wording
      $('#field-tos > label > a').text('Terms and conditions')

    } else {
      // Labels
      $('#field-sexe > label').text('Sexe');
      $('#field-statut > label').text('Vous répondez à ce MOOC en tant que');
      $('#field-secteur > label').text('Secteur d\'activité');
      $('#field-niveau-etudes > label').text('Niveau d\'études');
      $('#field-motivation > label').text('Motivations personnelles');
      
      // Options
      $('#sexe > option[value="no-answer"], #age > option[value="no-answer"], #statut > option[value="no-answer"], #secteur > option[value="no-answer"], #niveau-etudes > option[value="no-answer"], #motivation > option[value="no-answer"]').text('Je ne souhaite pas répondre');

      $('#sexe > option[value="femme"]').text('Femme');
      $('#sexe > option[value="homme"]').text('Homme');

      $('#age > option[value="less-20"]').text('Moins de 20 ans');
      $('#age > option[value="more-60"]').text('Plus de 60 ans');

      $('#statut > option[value="elu"]').text('Elu');
      $('#statut > option[value="technicien"]').text('Technicien');
      $('#statut > option[value="particulier"]').text('Particulier');
      $('#statut > option[value="etudiant"]').text('Etudiant');
      $('#statut > option[value="autre"]').text('Autre');

      $('#secteur > option[value="public"]').text('Public');
      $('#secteur > option[value="prive"]').text('Privé');

      $('#niveau-etudes > option[value="pas-diplome"]').text('Pas de diplôme');
      $('#niveau-etudes > option[value="bepc"]').text('BEPC');
      $('#niveau-etudes > option[value="bac"]').text('Bac');
      $('#niveau-etudes > option[value="bac-3"]').text('Bac +3');
      $('#niveau-etudes > option[value="bac-5"]').text('Bac +5');
      $('#niveau-etudes > option[value="bac-8"]').text('Bac +8');

      $('#motivation > option[value="echanger"]').text('Echanger');
      $('#motivation > option[value="precription-formateur"]').text('Sur prescription d\'un formateur');
      $('#motivation > option[value="decouvrir-mooc"]').text('Découvrir un MOOC');
      $('#motivation > option[value="interet"]').text('Par intérêt');
      $('#motivation > option[value="attestation"]').text('Pour l\'attestation de suivi');
      $('#motivation > option[value="acquerir-connaissances"]').text('Acquérir des compétences et/ou des connaissances');
    }
  }

</script>
