<%namespace name='static' file='static_content.html'/>
<%!
import third_party_auth
from third_party_auth import pipeline, provider
from django.utils.translation import ugettext as _
from django_countries import countries
from student.models import UserProfile
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from django_countries import countries
extra_form = configuration_helpers.get_value('FORM_EXTRA')
if extra_form is None:
    extra_form = []
import datetime
%>

<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">

<!-- status messages -->
<div role="alert" class="status message">
  <h3 class="message-title">${_("We're sorry, but this version of your browser is not supported. Try again using a different browser or a newer version of your browser.")}</h3>
</div>

<div role="alert" class="status message submission-error" tabindex="-1">
  <h3 class="message-title">${_("The following errors occurred while processing your registration:")} </h3>
  <ul class="message-copy"> </ul>
</div>
<style>
.header-global .nav-courseware li .btn, .header-global .nav-courseware div .btn, .login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-survey .action-primary {
 color: #fff !important;
}
</style>
% if third_party_auth.is_enabled():

  % if not running_pipeline:

  <div class="form-actions form-third-party-auth">

  % for enabled in provider.Registry.displayed_for_login():
    ## Translators: provider_name is the name of an external, third-party user authentication service (like Google or LinkedIn).
    <button type="submit" class="button button-primary button-${enabled.provider_id} register-${enabled.provider_id}" onclick="thirdPartySignin(event, '${pipeline_urls[enabled.provider_id]}');">
      % if enabled.icon_class:
      <span class="icon fa ${enabled.icon_class}" aria-hidden="true"></span>
      % else:
      <span class="icon" aria-hidden="true"><img class="icon-image" src="${enabled.icon_image.url}" alt="${enabled.name} icon" /></span>
      % endif
      ${_('Sign up with {provider_name}').format(provider_name=enabled.name)}
    </button>
  % endfor

  </div>

  <span class="deco-divider">
    ## Developers: this is a sentence fragment, which is usually frowned upon.  The design of the pags uses this fragment to provide an "else" clause underneath a number of choices.  It's OK to leave it.
    ## Translators: this is the last choice of a number of choices of how to log in to the site.
    <span class="copy">${_('or')}</span>
  </span>

  <p class="instructions">
    ${_('Create your own {platform_name} account below').format(platform_name=platform_name)}
    <span class="note">${_('Required fields are noted by <strong class="indicator">bold text and an asterisk (*)</strong>.')}</span>
  </p>


  % else:

  <p class="instructions">
    ## Translators: selected_provider is the name of an external, third-party user authentication service (like Google or LinkedIn).
    ${_("You've successfully signed in with {selected_provider}.").format(selected_provider='<strong>%s</strong>' % selected_provider)}<br />
    ${_("We just need a little more information before you start learning with {platform_name}.").format(platform_name=settings.PLATFORM_NAME)}
  </p>

  % endif

% else:

<p class="instructions">
  <div>Toutes les informations <strong class="indicator">marquées d’un astérisque</strong> dans le formulaire ci-dessous sont des informations obligatoires.<br /><br />Si vous ne renseignez pas ces informations, la CMA ne sera pas en mesure de vous fournir le service sollicité.<br /><br />Pour en savoir plus sur la gestion de vos données personnelles et pour exercer vos droits, reportez-vous à la notice <a href="/honor" target=”_blank”>ci-jointe</a>.</div>
  <!-- ${_("Please complete the following fields to register for an account. ")}<br />
  ${_('Required fields are noted by <strong class="indicator">bold text and an asterisk (*)</strong>.')} -->
</p>

% endif

<div class="group group-form group-form-requiredinformation">
  <h2 class="sr">${_('Required Information')}</h2>

  % if has_extauth_info is UNDEFINED:

  <ol class="list-input">
    <!--
    <li class="field required text" id="field-last_name">
      <label for="last_name">${_('Last Name')}</label>
      <input class="" id="last_name" type="text" name="last_name" value="${email}" placeholder="${_('example: Durand')}" required aria-required="true" />
    </li>
    <li class="field required text" id="field-first_name">
      <label for="first_name">${_('First Name')}</label>
      <input class="" id="first_name" type="text" name="first_name" value="${email}" placeholder="${_('example: Kevin')}" required aria-required="true" />
    </li>
    -->
    <li class="field required text" id="field-email">
      <label for="email">${_('E-mail')}</label>
      <input class="" id="email" type="email" name="email" value="${email}" placeholder="${_('example: username@domain.com')}" required aria-required="true" />
    </li>


    <li class="field required text" id="field-name" style="display:none;">
      <label for="name">${_('Full Name')}</label>
      <input id="name" type="text" name="name" value="${name}" placeholder="${_('example: Jane Doe')}" required aria-required="true" aria-describedby="name-tip" />
      <span class="tip tip-input" id="name-tip">${_("Your legal name, used for any certificates you earn.")}</span>
    </li>

    <li class="field required text" id="field-username">
      <label for="username">${_('Public Username')}</label>
      <input id="username" type="text" name="username" value="${username}" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip"/>
      <span class="tip tip-input" id="username-tip">${_('Will be shown in any discussions or forums you participate in')} <strong>(${_('cannot be changed later')})</strong></span>
    </li>

    <li class="field text" id="field-collaborateur">
      <!-- <label for="collaborateur">${_('Collaborateur')}</label> -->
      <input type="hidden" id="input-collaborateur" type="text" name="collaborateur" value=""/>
    </li>

    % if third_party_auth.is_enabled() and running_pipeline:

    <li class="is-disabled field optional password" id="field-password" hidden>
      <label for="password">${_('Password')}</label>
      <input id="password" type="password" name="password" value="" disabled required aria-required="true" />
    </li>

    % else:

    <li class="field required password" id="field-password">
      <label for="password">${_('Password')}</label>
      <input id="password" type="password" name="password" value="" required aria-required="true" />
    </li>

    % endif
  </ol>
  % else:

  <div class="message">
    <h3 class="message-title">${_("Welcome {username}").format(username=extauth_id)}</h3>
    <p class="message-copy">${_("Enter a Public Display Name:")}</p>
  </div>

  <ol class="list-input">

    % if ask_for_email:

    <li class="field required text" id="field-email">
      <label for="email">${_("E-mail")}</label>
      <input class="" id="email" type="email" name="email" value="" placeholder="${_('example: username@domain.com')}" />
    </li>

    % endif

    <li class="field required text" id="field-username">
      <label for="username">${_('Public Display Name')}</label>
      <input id="username" type="text" name="username" value="${extauth_username}" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip" />
      <span class="tip tip-input" id="id="username-tip>${_('Will be shown in any discussions or forums you participate in')} <strong>(${_('cannot be changed later')})</strong></span>
    </li>

    % if ask_for_fullname:

    <li class="field required text" id="field-name">
      <label for="name">${_('Full Name')}</label>
      <input id="name" type="text" name="name" value="" placeholder="$_('example: Jane Doe')}" aria-describedby="name-tip" />
      <span class="tip tip-input" id="name-tip">${_("Your legal name, used for any certificates you earn.")}</span>
    </li>

    % endif

  </ol>

  % endif
</div>
<script>
  console.log('TEST')
</script>
<!-- EXTRA_FORM GENERATION -->
<div class="group group-form group-form-requiredinformation">
<ol class="list-input">
% for n in extra_form:
% if n.get('name') != 'score1' and n.get('name') != 'score1p' and n.get('name') != 'score3' and n.get('name') != 'score4' and n.get('name') != 'score5' and n.get('name') != 'score7' and n.get('name') != 'score8' and n.get('name') != 'score9' and n.get('name') != 'score9p' and n.get('name') != 'score10' and n.get('name') != 'score11' and n.get('name') != 'score12' :
    <li class="field ${n.get('type')} ${'required' if n.get('required') else ''}">
    <div class="field ${n.get('type')}" id="field-${n.get('name')}">
    % if n.get('type') == 'email':
    <label for="${n.get('name')}">${_(n.get('label'))}</label>
    <input id="${n.get('name')}" type="${n.get('type')}" name="${n.get('name')}" value="" placeholder="${_(n.get('placeholder'))}" aria-describedby="${n.get('name')}-tip" ${'required aria-required="true"' if n.get('required') else ''} />
    % elif n.get('type') == 'text':
    <label for="${n.get('name')}">${_(n.get('label'))}</label>
    <input id="${n.get('name')}" type="${n.get('type')}" name="${n.get('name')}" value="" placeholder="${_(n.get('placeholder'))}" aria-describedby="${n.get('name')}-tip" ${'required aria-required="true"' if n.get('required') else ''} />
    % elif n.get('type') == 'select':
    <label for="${n.get('name')}">${_(n.get('label'))}</label>
    <select id="${n.get('name')}" name="${n.get('name')}" ${'required aria-required="true"' if n.get('required') else ''}>
      % if n.get('name') == 'country':
        <option value="" data-isdefault="true">--</option>
        <%
        _countries = list(countries)
        %>
        % for f in _countries:
          <option values="${f[0]}">${f[1]}</option>
        %endfor
      % endif
      % if n.get('name') == 'year_of_birth':
          <option value="" data-isdefault="true">--</option>
    <%
    year = datetime.datetime.today().year
    YEARS = [year - i for i in range(100)]
    %>
          % for y in YEARS:
        <option value="${y}">${y}</option>
          % endfor
      % else:
          % for j in n.get('options'):
              <option value="${j.get('value')}" ${'default aria-default="true"' if j.get('default') else ''}>${j.get('name')}</option>
          %endfor
      % endif
    </select>
    % elif n.get('type') == 'checkbox':
    <input id="${n.get('name')}" type="${n.get('type')}" name="${n.get('name')}" value="true" ${'required aria-required="true"' if n.get('required') else ''}/>
    <label for="${n.get('name')}">${_(n.get('label'))}</label>
    % endif
    </div>
    </li>
  % endif
% endfor
</ol>
</div>
<!-- end extraform generation -->
<div class="group group-form group-form-secondary group-form-personalinformation">
  <h2 class="sr">${_("Additional Personal Information")}</h2>

  <ol class="list-input">
    % if settings.REGISTRATION_EXTRA_FIELDS['city'] != 'hidden':
    <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['city']} text" id="field-city">
      <label for="city">${_('City')}</label>
      <input id="city" type="text" name="city" value="" placeholder="${_('example: New York')}" aria-describedby="city-tip" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['city'] == 'required' else ''} />
    </li>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['country'] != 'hidden':
    <li class="field-group">
    <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['country']} select" id="field-country">
        <label for="country">${_("Country")}</label>
        <select id="country" name="country" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['country'] == 'required' else ''}>
          <option value="">--</option>
          %for code, country_name in countries:
          <option value="${code}">${ unicode(country_name) }</option>
          %endfor
        </select>
      </div>
    </li>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['level_of_education'] != 'hidden':
    <li class="field-group field-education-level">
    <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['level_of_education']} select" id="field-education-level">
        <label for="education-level">${_("Highest Level of Education Completed")}</label>
        <select id="education-level" name="level_of_education" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['level_of_education'] == 'required' else ''}>
          <option value="">--</option>
          %for code, ed_level in UserProfile.LEVEL_OF_EDUCATION_CHOICES:
          <option value="${code}">${_(ed_level)}</option>
          %endfor
        </select>
      </div>
    </li>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['gender'] != 'hidden':
    <li class="field-group field-gender">
      <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['gender']} select" id="field-gender">
        <label for="gender">${_("Gender")}</label>
        <select id="gender" name="gender" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['gender'] == 'required' else ''}>
          <option value="">--</option>
          %for code, gender in UserProfile.GENDER_CHOICES:
          <option value="${code}">${_(gender)}</option>
          %endfor
        </select>
      </div>
    </li>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] != 'hidden':
    <li class="field-group field-yob">
      <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['year_of_birth']} select" id="field-yob">
        <label for="yob">${_("Year of Birth")}</label>
        <select id="yob" name="year_of_birth" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] == 'required' else ''}>
          <option value="">--</option>
          %for year in UserProfile.VALID_YEARS:
          <option value="${year}">${year}</option>
          %endfor
        </select>
      </div>
      % endif
    </li>
  </ol>

</div>

<div class="group group-form group-form-personalinformation2">
  <ol class="list-input">
    % if settings.REGISTRATION_EXTRA_FIELDS['mailing_address'] != 'hidden':
    <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['mailing_address']} text" id="field-address-mailing">
      <label for="address-mailing">${_("Mailing Address")}</label>
      <textarea id="address-mailing" name="mailing_address" value="" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['mailing_address'] == 'required' else ''}></textarea>
    </li>
    % endif

    % if settings.REGISTRATION_EXTRA_FIELDS['goals'] != 'hidden':
    <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['goals']} text" id="field-goals">
      <label for="goals">${_("Please share with us your reasons for registering with {platform_name}").format(platform_name=platform_name)}</label>
      <textarea id="goals" name="goals" value="" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['goals'] == 'required' else ''}></textarea>
    </li>
    % endif
  </ol>
</div>

<div class="group group-form group-form-accountacknowledgements">
  <h2 class="sr">${_("Account Acknowledgements")}</h2>

  <ol class="list-input">
    <li class="field-group">

      % if has_extauth_info is UNDEFINED or ask_for_tos :
      <div class="field required checkbox" id="field-tos">
        <input id="tos-yes" type="checkbox" name="terms_of_service" value="true" required aria-required="true" />
        <label for="tos-yes">${_('I agree to the {link_start}Terms of Service{link_end}').format(
          link_start='<a href="{url}" class="new-vp" tabindex="-1">'.format(url=marketing_link('TOS')),
          link_end='</a>')}</label>
      </div>
      % endif

      % if settings.REGISTRATION_EXTRA_FIELDS['honor_code'] != 'hidden':
      ## check if we have an Honor Code link in our marketing map
      % if marketing_link('HONOR') and marketing_link('HONOR') != '#':
      <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['honor_code']} checkbox" id="field-honorcode">
        <input id="honorcode-yes" type="checkbox" name="honor_code" value="true" />
        <%
          honor_code_path = marketing_link('HONOR')
        %>
        <label for="honorcode-yes">${_('I agree to the {link_start}Honor Code{link_end}').format(
          link_start='<a href="{url}" class="new-vp" tabindex="-1">'.format(url=honor_code_path),
          link_end='</a>')}</label>
      </div>
      % endif
      % endif
    </li>
  </ol>

</div>

<style>
  .customButtons-section{
    display: flex;
    margin-top: 1rem;
  }
  .customButtons{
    margin: 0rem 1.5rem;
  }

  .cmaUserSection{
    margin: 1rem 0rem;
    margin-top: 8rem !important;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .cmaUserSection-elements{
    display: flex;
    justify-content: right;
    margin: 1rem 0rem;
    margin-right: -8rem;
    /* display: none; */
    transition: .35s;
  }
  .cmaUserSection-input{
    margin-right: 1rem;
    margin-bottom: 0rem !important;
    width: 40%;
  }
  .cmaUserSection-button{
    margin-left: 1rem;
  }
  .cmaUserSection::after{
    content: url("/media/microsite/academie-digitale/images/asset_check.svg");
  }
  .cmaUserSection-button{
    box-shadow: 0 2px 1px 0 #0a4a67;
    background: #126f9a;
    text-transform: none;
    font-weight: 600 !important;
    letter-spacing: 0 !important;
    vertical-align: middle;
    border-radius: 0.2rem;
  }
  .cmaUserSection-divider{
    width: 0.2rem;
    height: 1rem;
    background: #565656;
    margin: 0rem 2rem;
    border-radius: 0.1rem;
  }
  .cmaUserSection-button:hover{
    background: #1790c7;
  }
  .cmaUserSection-link{
    font-weight: bold !important;
    color: rgba(0,117,176,1) !important;
    cursor: pointer;
  }
  .cmaUserSection-link:hover{
    font-weight: bold !important;
    color: rgba(0,117,176,1) !important;
  }
  #login_link{
    width: auto !important;
    height: 0rem !important;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  #field-using_cpf>label {
    font-weight: 600;
  }
</style>

<div class="form-actions customButtons-section">
  <button name="submit" type="submit" id="submit" class="action action-primary action-update register-button customButtons customButton1">Je souhaite être contacté par un conseiller</button>
  <button disabled name="submit" type="submit" class="action action-primary action-update customButton2 customButtons">Je m'inscris dès maintenant en choisissant de payer en ligne</button>
</div>

<!-- <div class="form-actions customButtons-section">
  <button disabled name="submit" type="submit" class="customButtons action action-primary action-update customButton1">Je souhaite être contacté par un conseiller</button>
  <button disabled name="submit" type="submit" class="customButtons action action-primary action-update customButton2">Je m'inscris dès maintenant en choisissant de payer en ligne</button>
</div> -->

<style>
#login_link_up {
 margin-top: 10px;
}
#login_link {
 width: 100%;
 height: 43px;
 margin-top: 10px;
 margin-bottom: 10px;
 color: rgba(98,181,207,1);
 font-weight: bold;
 border: none;
}
#login_link:hover,#login_link:focus,#login_link:visited {
 color: rgba(98,181,207,0.8);
 border: none;
}
</style>
<script>
$('#first_name,#last_name').change(function(){
  var first_name = $('#first_name').attr('value');
  var last_name = $('#last_name').attr('value');
  var name = first_name+' '+last_name;
  $('#name').attr('value',name);
})
</script>

<div class="form-actions cmaUserSection" id="login_link_up">
% if static.get_value('course_id') is not None:
  <a id="login_link" href="/login?course_id=${static.get_value('course_id')}&enrollment_action=enroll">${_("Already have an account?")}</a>
% else:
  <a id="login_link" href="/login">${_("Already have an account?")}</a>
% endif
  <div class="cmaUserSection-divider"></div>
  <a class="cmaUserSection-link">Je suis un collaborateur CMA</a>
</div>

<div class="form-actions cmaUserSection-elements" style="opacity: 0;pointer-events: none;">
  <input class="cmaUserSection-input" type="text" placeholder="Entrez votre adresse CMA">
  <button disabled name="submit" type="submit" class="cmaUserSection-button">Inscrire cet utilisateur</button>
</div>

<!-- modif quentin - 15528 - rename agreeing conditions part -->
<script>

const elementToChange = document.querySelector('#tos-yes').nextSibling.nextSibling
const textPattern1 = 'I disagree to the <a href="/tos" class="new-vp" tabindex="-1">Terms of Service</a>'
const textPattern2 = "J'ai pris connaissance et j'accepte les conditions d'utilisation du service ainsi que les termes de confidentialité du site"
const textPattern3 = `J'ai pris connaissance et j'accepte les <a href="/tos" class="new-vp" tabindex="-1">conditions d'utilisation du service</a> ainsi que les termes de confidentialité du site`
const textPattern4 = `I agree with <a href="/tos" class="new-vp" tabindex="-1">terms conditions</a> and privacy policy`
const check = elementToChange.textContent

if (check.includes('accepte')){
  // console.log("the page is in french 🤷🏻‍♂️")
  elementToChange.innerHTML=textPattern3
  // console.log('french text replaced 👌🏻')
  document.querySelector('#field-tos').style.display='flex'
}
else if (check.includes('agree')){
  // console.log("the page is in english 🤷🏻‍♂️")
  elementToChange.innerHTML=textPattern4
  // console.log('english text replaced 👌🏻');
  document.querySelector('#field-tos').style.display='flex'
}
else{
  console.log('something is not working with the renaming aggreeing conditions script - line 392')
}

</script>

<!-- modif quentin - 16165 - show/hide section for cma users -->

<script>
  const cmaUserSectionButton = document.querySelector(".cmaUserSection-link")
  const cmaUserSection = document.querySelector(".cmaUserSection-elements")

  cmaUserSectionButton.addEventListener('click', ()=>{
    // console.log('on entre dans le click');
    if (cmaUserSection.style.opacity=='0') {
      cmaUserSection.style.opacity='1'
      cmaUserSection.style.pointerEvents='auto'
      // console.log('opacité à 0, changemnt à 1 -> fait');
    }
    else if (cmaUserSection.style.opacity=='1'){
      cmaUserSection.style.opacity='0'
      cmaUserSection.style.pointerEvents='none'
      // console.log('opacité à 1, changemnt à 0 -> fait');
    }
    else{
      console.log("it seems like there is a problem while trying to find filter value of cmaUserSection");
    }
  })
</script>

<!-- modif quentin - 16165 - change text value of 'create account' button,  -->

<script>
  
  window.addEventListener('load', ()=>{
    const createAccountButton = document.querySelector('.customButton1')

    createAccountButton.textContent='Je souhaite être contacté par un conseiller'
    
    setInterval(() => {
      if (createAccountButton.textContent.includes('Account')||createAccountButton.textContent.includes('compte')){
        createAccountButton.textContent='Je souhaite être contacté par un conseiller'
      }
    }, 300);
  })

</script>


<!-- modif dimitri - 16354 - set value of selector with course_id on url,  -->
<script>

  const correlationTable = {
    "course-v1:academie-digitale+FC_20+2022": "hygiene_alimentaire",
    "course-v1:academie-digitale+FC_B50+2022": "gestion_tresorerie",
    "course-v1:academie-digitale+FC_B40+2022": "prospection_fidelisation",
    "course-v1:academie-digitale+FC_B30+2022": "strategie_facebook",
    "course-v1:academie-digitale+FC_B20+2022": "maitre_apprentissage"
  }

  const queryString = window.location.search;
  if (queryString.includes("course_id")) {
    const urlParams = new URLSearchParams(queryString);
    const course = urlParams.get('course_id').replace(" ", "+")
    course_id = course.replace(" ", "+")
    const selectorValue = document.getElementById('register_choice')
    selectorValue.value = correlationTable[course_id]
  }

</script>

<!-- modif anojan / dimitri - register with a colaborator  -->
<!-- TODO uncomment this following line when the back-end part will be on production + remove disable on cmaUserSection-button -->

<!-- <script>
  const adminList =
    [
      "@cma.",
      "@artisanat.",
      "@cm.",
      "@cmai.",
      "@ccism.",
      "@cma.",
      "@ccima.",
      "@crma.",
      "@cmahc.",
      "@cmar.",
      "@cacima.",
      "@crm.",
      "xlamarche@lalamedia.fr",
      "adebibi@lalamedia.fr",
      "sylvain.vacaresse@learningsalad.fr",
      "dimitri.hoareau@weuplearning.com"
    ]
    const emailCMA = document.querySelector('.cmaUserSection-input');
    const registerCMAButton = document.querySelector('.cmaUserSection-button');
    registerCMAButton.addEventListener('click', (e)=>{
      if(emailCMA.value != ""){
        let allowRegister = false
        for(const admin of adminList){
          if(emailCMA.value.includes(admin)){
            allowRegister = true
            const selectorValue = document.getElementById('input-collaborateur')
            selectorValue.value = "collaborateur_register"
          }
        }
        console.log(allowRegister)
        if (!allowRegister) {
          e.preventDefault()
          alert('l`\'adresse e-mail de collaborateur renseignée est incorrecte')
        }

      }else{
        e.preventDefault()
        alert('le champ adresse mail de collaborateur n\'a pas été rempli')
      }
  
    })
  </script> -->

