<%page expression_filter="h"/>
<%! from openedx.core.djangolib.markup import HTML %>
%if unit_title:
  <h3 class="unit-title">${unit_title}</h3>
% endif

% if show_bookmark_button:
    <%include file='bookmark_button.html' args="bookmark_id=bookmark_id, is_bookmarked=bookmarked"/>
% endif

<style>
  h3.unit-title{
    display:none;
  }
  h3.hd.hd-2.problem-header {
    display: none;
  }
  .question-description > i {
    font-style: italic;
    color: rgb(31,166,237);
    font-size: 16px;
  }
</style>

<div class="vert-mod">
% for idx, item in enumerate(items):
  <div class="vert vert-${idx}" data-id="${item['id']}">
    ${HTML(item['content'])}
  </div>
% endfor
</div>
