<%page expression_filter="h"/>
<%! from openedx.core.djangolib.markup import HTML %>
%if unit_title:
  <h3 style="text-align:center" class="unit-title">${unit_title}</h3>
% endif

% if show_bookmark_button:
<!--    <%include file='bookmark_button.html' args="bookmark_id=bookmark_id, is_bookmarked=bookmarked"/>--> 	
% endif
<style>
.xblock.xblock-student_view {
  margin-top:15px !important;

}
.detailed-solution{
    padding: 10px 10px;
    background-color: lightgray;
}
/*.indicator-container{
    height:0px !important;
    width:0px !important;
    display:none !important;
    visibility:hidden !important;
}*/
button.show.problem-action-btn.btn-default.btn-small{
    display:none;
}
h3.unit-title{
   display:none;
}
div.problems-wrapper div.problem-progress{
   display:none;
}
.xmodule_display.xmodule_CapaModule div.problem .question-description{
   font-size:16px;
   color:rgb(29, 82, 128);
}
</style>
<div class="vert-mod">
% for idx, item in enumerate(items):
  <div class="vert vert-${idx}" data-id="${item['id']}">
    ${HTML(item['content'])}
  </div>
% endfor
</div>
