<%page args="show_courseware_link,is_course_blocked,course_overview,org_static, enrollment,show_email_settings, dashboard_index" />

<%!
import urllib
import time
import datetime
from django.utils.translation import ugettext as _
from django.utils.translation import ungettext
from django.core.urlresolvers import reverse
from course_modes.models import CourseMode
from course_modes.helpers import enrollment_mode_display
from openedx.core.djangolib.js_utils import dump_js_escaped_json
from openedx.core.djangolib.markup import HTML, Text
from student.helpers import (
  VERIFY_STATUS_NEED_TO_VERIFY,
  VERIFY_STATUS_SUBMITTED,
  VERIFY_STATUS_RESUBMITTED,
  VERIFY_STATUS_APPROVED,
  VERIFY_STATUS_MISSED_DEADLINE,
  VERIFY_STATUS_NEED_TO_REVERIFY,
  DISABLE_UNENROLL_CERT_STATES,
)

%>



<%namespace name='static' file='../static_content.html'/>
<%


_current = time.time()
insc_ouv = ''
cours_ouv = ''

if course_overview.enrollment_start is None:
  insc_ouv = False
else:
  if (course_overview.enrollment_end is None and int(course_overview.enrollment_start.strftime("%s")) < _current) or (int(course_overview.enrollment_start.strftime("%s")) < _current and (_current < int(course_overview.enrollment_end.strftime("%s")) or course_overview.enrollment_end is None)):
    insc_ouv = True
  else:
    insc_ouv = False


cours_ouv = show_courseware_link and not is_course_blocked

%>
<li class="course_cell_multi">
  <div class="up_cell">
    <div class="options">
      <span class="list_params">

      <a href="#email-settings-modal" class="action action-email-settings" rel="leanModal" data-course-id="${course_overview.id}" data-course-number="${course_overview.number}" data-dashboard-index="${dashboard_index}" onclick="setCourse_id_to_opted('${course_overview.id}')" data-optout="${unicode(course_overview.id) in course_optouts}"><img src="${static.url('images/close-envelope.png')}" title="Ne plus recevoir de mail"/></a>
% if show_email_settings:
% endif
<!--
        <a href="#unenroll-modal" class="unenroll_multi" rel="leanModal" data-course-id="${course_overview.id}" data-course-number="${course_overview.number}" data-course-name="${course_overview.display_name_with_default}" data-dashboard-index="${dashboard_index}"
           data-track-info="${_("Are you sure you want to unenroll from the purchased course %(course_name)s (%(course_number)s)?")}"
           data-refund-info="${_("You will be refunded the amount you paid.")}">
          <img src="${static.url('images/cancel-button.png')}" title="Se désinscrire"/>
        </a>
      -->
      <span>
    </div>
    <div class="multi_course_image">
% if cours_ouv:
      <a href="/dashboard/${enrollment.course_id}/"><img src="${course_overview.image_urls['small']}" /></a>
%else:
<img src="${course_overview.image_urls['small']}" />
% endif
    </div>
    <div class="multi_course_title">
% if cours_ouv:
      <h2><a href="/dashboard/${enrollment.course_id}/">${course_overview.display_name_with_default}</a></h2>
% else:
<h2>${course_overview.display_name_with_default}</h2>
% endif
    </div>
    <span style="display:block;clear:left"></span>
  </div>
  <div class="down_cell" style="height:60px;">
    <div class="dashboard_button">
% if cours_ouv:
      <a href="/dashboard/${course_overview.id}/" style="width:180px;">Accéder au contenu</a>
% endif
    </div>
    <span style="display:block;clear:left"></span>
  </div>
</li>
<script>
  var setCourse_id_to_opted = function(course_id) {
    var setCourse_id_loop = setInterval(function(){ 
      if ($('#email-settings-modal:visible').length > 0 && $('#email_settings_course_id').val() !== course_id) {
        $('#email_settings_course_id').val(course_id)
        $('#receive_emails').prop('checked', true);
      } else {
        clearInterval(setCourse_id_loop)
      }
    }, 500);
  }
</script>