<%
from openedx.core.djangolib.markup import HTML, Text
from django.core.urlresolvers import reverse
from tma_apps.tma_support_functions import tma_verify_access
import json
%>
<%page args="about_course_description, about_course_video, course_overview, user, enrollment, associated_courses, associated_courses_previous" expression_filter="h"/>
<% 
course_state = user_course_state[str(enrollment.course_id)] 
has_access = tma_verify_access(request.user).hasDigitalQuizAccess()

# BYPASS barometer access rights
has_access = True

#Yoann : get user group value, stored in microsite config in CUSTOM_TMA_REGISTRATION_EMAIL_PATTERNS_ALLOWED object
domainFiliere = Null
domainGroup = Null
company = Null
domainUser = user.email.split('@')[1]

custom_field ={}
try:
  custom_field = json.loads(user.profile.custom_field)
except:
  pass
%>

%if (user.first_name == "" and user.last_name == "") and (custom_field.get('first_name','') == "" or custom_field.get('first_name') is None) and (custom_field.get('last_name','') == "" or custom_field.get('last_name') is None):
  <style>
    button.swal2-confirm:hover{
      background-color:#15A6ED !important;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
  <script>
    var first_name = "";
    var last_name  = "" ;

    function update_ln_fn(first_name,last_name){
     var customFields = {
       first_name:first_name,
       last_name:last_name,
     }
     $.ajax({
       url: '/tma_apps/tma_api/v0/CustomFieldView/',
       type: "POST",
       data: customFields,
       headers: {'X-CSRFToken': $.cookie('csrftoken')},
       dataType: 'json'
     });
    }

    function retrieve_fn_ln(){
      const { value: fn } = Swal.fire({
        html: '<h3>Welcome</h3><br/>Please enter your firstname so that we can customize your experience.',
        input: 'text',
        inputPlaceholder: 'John',
        allowOutsideClick: false,
        inputValidator: (value) => {
          return new Promise((resolve) => {
            if (value.length > 1) {
              resolve()
            } else {
              resolve('Please enter your firstname')
            }
          })
        }
      }).then((result) => {
         first_name = result.value;
         const { value: ln } = Swal.fire({
           html: '<h3>Thanks!</h3><br/>Please enter your lastname.',
           input: 'text',
           inputPlaceholder: 'Doe',
           allowOutsideClick: false,
           inputValidator: (value) => {
             return new Promise((resolve) => {
               if (value.length > 1) {
                 resolve()
               } else {
                 resolve('Please enter your lastname')
               }
             })
           }
        }).then((result) => {
           last_name = result.value;
           update_ln_fn(first_name,last_name);
        });
      });
    }

    retrieve_fn_ln();
  </script>
%endif


%if course_state!="finished" and course_state!="ongoing":
<script>
  $.get( "/tma_apps/tma_api/v0/email_allowed/" )
    .done(function( data ) {
      var company = "unknown"
      var keys = Object.keys(data)
      var domainUser = "${domainUser}"
      for (var i = 0; i < keys.length; i++) {
        var domain = data[keys[i]].domain
        for (var j = 0; j < domain.length; j++) {
          if (domainUser === domain[j]) {
            company = keys[i];
          }
        }
      }
      var urlAPI = '/tma_apps/tma_api/v0/CustomFieldView/';
      var customFields = {company:company}
      if (company) {
        $.post( urlAPI, customFields )
          .done(function( data ) {
            // console.log("company ajouté au custom fields")
          })
          .fail(function() {
            console.log("bug : company pas ajouté au custom fields")
          })
      }
    })
    .fail(function() {
      console.error("[WUL] : Fail to get email_allowed data")
  })
</script>
%endif

<style>
#main{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image:url("/media/microsite/digimapper/auto/images/bg_img.jpeg") !important;
  background-size: cover !important;
  position: fixed;
  left:0;
  top:0;
  color: white;
}

.text-center{
  text-align: center
}

.blue-btn:hover, #course_results:hover, #course_continue:hover {
  background-color: #80CFF5 !important;
  border-color: #80CFF5 !important;
}

.deactivated{
  background-color: #808080cf !important;
  color: #5a6c73 !important;
}
</style>
<div class="container">
  <div class="course-block gray-opacity-bg rounded pad-40 mb-20">
    <img src="/media/microsite/digimapper/auto/images/transparent-logo.png" class="course-logo"/>
    %if associated_courses.get('delayed'):
      <p class="text-center">Next quiz will be available in ${associated_courses.get('delayed')} days.</p>
    %endif
    <div class="text-center">
    %if not has_access:
      <div id="main">
        <h3>Sorry, you do not currently have access <br> to the Digital Survey.</h3>
      </div>
         <!--<p>Contactez <a href="mailto:technical@themoocagency.com">technical@themoocagency.com</a><br/>si vous faites partie du pilote.</p>-->
    %else:
      %if course_state=="finished":
      <a href="${reverse('SkillRadar', args=[str(enrollment.course_id)])}">
        <button class="text-align-center dashboard-btn"  id="course_results">
          <i class="fa fa-play-circle"></i>
          See my results
        </button>
      </a>
      %elif course_state=="ongoing":
      <a href="${reverse('courseware', args=[str(enrollment.course_id)])}">
        <button class="text-align-center dashboard-btn start-course"  id="course_continue">
          <i class="fa fa-play-circle"></i>
          Resume
        </button>
      </a>
      %else:
      <button class="text-align-center dashboard-btn" id="course_start">
        <i class="fa fa-play-circle"></i>
        Start
        %if associated_courses.get('step_number')>1:
          quiz ${associated_courses.get('step_number')}
        %endif
      </button>
      %endif
    %endif 
    </div>
    <div class="bottom-buttons mt-20">
      <div class="text-center">
        %if course_state!="finished" :
        <button class="text-align-center white-btn mr-20 deactivated" disabled>
          Review my answers
        </button>
        %else :
        <a href="${reverse('courseware', args=[str(enrollment.course_id)])}">
          <button class="text-align-center white-btn mr-20 blue-btn"  id="see_answers">
            Review my answers
          </button>
        </a>
        %endif
      </div>
      <div class="text-center">
        %if  course_state != "finished" and associated_courses.get('step_number',1)>1:
        <a href="${reverse('SkillRadar', args=[associated_courses_previous])}">
          <button class="sub-btn blue-btn deactivated" id="last_score">
            <i class="fa fa-search"></i>
            Consult my previous score
          </button>
        </a>
        %else :
        <button class="text-align-center white-btn deactivated deactivated" disabled>
          Consult my previous score
        </button>
        %endif
      </div>
    </div> 
  </div>    
</div>
