<%
from openedx.core.djangolib.markup import HTML, Text
from django.core.urlresolvers import reverse
from tma_apps.tma_support_functions import tma_verify_access
%>
<%page args="about_course_description, about_course_video, course_overview, user, enrollment, associated_courses" expression_filter="h"/>
<% 
course_state = user_course_state[str(enrollment.course_id)] 
has_access = tma_verify_access(request.user).hasDigitalQuizAccess()

# BYPASS barometer access rights
has_access = True
%>

<style>
#main{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image:url("/media/microsite/digimapper/auto/images/bg_img.jpeg") !important;
  background-size: cover !important;
  position: fixed;
  left:0;
  top:0;
  color: white;
}

.text-center{
  text-align: center
}

.blue-btn:hover, #course_results:hover {
  background-color: #15A6ED !important;
}

.deactivated{
  background-color: #808080cf !important;
  color: #5a6c73 !important;
}
</style>
<div class="container">
  <div class="course-block gray-opacity-bg rounded pad-40 mb-20">
    <img src="/media/microsite/digimapper/auto/images/transparent-logo.png" class="course-logo"/>
    %if associated_courses.get('delayed'):
      <p class="text-center">Next quiz will be available in ${associated_courses.get('delayed')} days.</p>
    %endif
    <div class="text-center">
    %if not has_access:
      <div id="main">
        <h3>Sorry, you do not currently have access <br> to the Digital Survey.</h3>
      </div>
         <!--<p>Contactez <a href="mailto:technical@themoocagency.com">technical@themoocagency.com</a><br/>si vous faites partie du pilote.</p>-->
    %else:
      %if course_state=="finished":
      <a href="${reverse('SkillRadar', args=[str(enrollment.course_id)])}">
        <button class="text-align-center dashboard-btn"  id="course_results">
          <i class="fa fa-play-circle"></i>
          See my results
        </button>
      </a>
      %elif course_state=="ongoing":
      <a href="${reverse('courseware', args=[str(enrollment.course_id)])}">
        <button class="text-align-center dashboard-btn start-course"  id="course_continue">
          <i class="fa fa-play-circle"></i>
          Resume
        </button>
      </a>
      %else:
      <button class="text-align-center dashboard-btn" id="course_start">
        <i class="fa fa-play-circle"></i>
        Start
        %if associated_courses.get('step_number')>1:
         <!-- Quiz ${associated_courses.get('step_number')} -->
        %endif
      </button>
      %endif
    %endif 
    </div>
    <div class="bottom-buttons mt-20">
      <div class="text-center">
        %if course_state!="finished" :
        <button class="text-align-center white-btn mr-20 deactivated" disabled>
          Review my answers
        </button>
        %else :
        <a href="${reverse('courseware', args=[str(enrollment.course_id)])}">
          <button class="text-align-center white-btn mr-20 blue-btn"  id="see_answers">
            Review my answers
          </button>
        </a>
        %endif
      </div>
      <div class="text-center">
        %if user_course_state=="finished" :
        <a href="${reverse('SkillRadar', args=[str(enrollment.course_id)])}">
          <button class="text-align-center white-btn deactivated" id="last_score">
            Consult my previous score
          </button>
        </a>
        %else :
        <button class="text-align-center white-btn deactivated deactivated" disabled>
          Consult my previous score
        </button>
        %endif
      </div>
    </div> 
  </div>    
</div>
