<%
from openedx.core.djangolib.markup import HTML, Text
from django.core.urlresolvers import reverse
from tma_apps.tma_support_functions import tma_verify_access
%>
<%page args="about_course_description, about_course_video, course_overview, user, enrollment, associated_courses" expression_filter="h"/>
<% 
course_state = user_course_state[str(enrollment.course_id)] 
has_access = tma_verify_access(request.user).hasDigitalQuizAccess()
%>
<link rel="stylesheet" type="text/css" href="/media/microsite/data-ready/css/digimap.css" />
<style>
  .content_tma {
    min-height: calc(100vh - 181px) !important;
  }
  .header-global .nav-global li a {
    display: none;
  }
  .text-center{
    text-align: center
  }
  .course-block{
    text-align: left;
  }
  .dashboard_profile {
    margin-bottom: 20px;
  }
  .container{
    min-width: 250px;
  }
  .bottom_btn{
    margin: 15px;
  }
/*  .dashboard-btn{
    width: 100%;
  }*/
  .dashboard-btn:hover{
    background-color: rgb(255, 90, 52)!important;
  }
  #dashboard_course_content{
    text-align: center;
    padding-right: 49%;
  }
  @media(max-width:1024px) {
    #dashboard_course_content {
      width: calc(100% - 76px);
      margin-left: 23px;
    }
  }
  @media(max-width:673px) {
    .course_show_tma {
      left: calc(100% - 120px);
      bottom: -48px;
      transform: none;
    }
    #dashboard_course_content{
      padding-right: 0px;
    }
    .tma_bottom_course_listing_multi {
      position: relative;
      bottom: 0;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 0px;
    }
  }
  @media(max-width:445px) {
    #dashboard_course_content {
      width: calc(100% - 14px);
      margin-left: 7px;
      margin-right: 7px;
    }
  }
</style>

<div id="dashboard_course_content">
  <div id="white_veil">
    <div id="logoData4Manager">
      <img src="/media/microsite/data-ready/images/data-ready_logo.png" width="50" style="width: 500px;"/>
    </div>
    <div class="container">
      <div class="course-block gray-opacity-bg rounded pad-40 mb-20">
        <div class="bottom_btn">
          %if course_state=="finished":
          <a href="${reverse('SkillRadar', args=[str(enrollment.course_id)])}">
            <button class="text-align-center dashboard-btn"  id="course_results">
              <i class="fa fa-play-circle"></i>
              Voir mes résultats
            </button>
          </a>
          %elif course_state=="ongoing":
          <a href="${reverse('courseware', args=[str(enrollment.course_id)])}">
            <button class="text-align-center dashboard-btn start-course"  id="course_continue" onmouseover="this.style.background='#FFFF99'">
              <i class="fa fa-play-circle"></i>
              Reprendre
            </button>
          </a>
          %else:
          <button class="text-align-center dashboard-btn" id="course_start">
            <i class="fa fa-play-circle"></i>
            Démarrer
            %if associated_courses.get('step_number')>1:
             <!-- L'évaluation ${associated_courses.get('step_number')} -->
            %endif
          </button>
          %endif
        </div>
        <div class="bottom_btn">
          %if course_state!="finished" :
          <!-- <button class="text-align-center white-btn mr-20 dashboard-btn deactivated" disabled>
            Revoir mes réponses
          </button> -->
          %else :
          <!-- <a href="${reverse('courseware', args=[str(enrollment.course_id)])}">
            <button class="text-align-center white-btn mr-20 blue-btn dashboard-btn"  id="see_answers">
              <i class="fa fa-play-circle"></i>
              Revoir mes réponses
            </button>
          </a> -->
          %endif
        </div>
        <div class="bottom_btn">
          %if user_course_state=="finished" :
          <!-- <a href="${reverse('SkillRadar', args=[str(enrollment.course_id)])}">
            <button class="text-align-center white-btn deactivated dashboard-btn" id="last_score">
              Consulter mon score précédent
            </button>
          </a> -->
          %else :
          <!-- <button class="text-align-center white-btn deactivated dashboard-btn" disabled>
            Consulter mon score précédent
          </button> -->
          %endif
        </div>
      </div>    
    </div>
  </div>    
</div>